$font-size-root: 16px;

@function getRem($px) {
  @return math.div($px, $font-size-root) * 1rem;
}

$breakpoint-max: 1920px;
$breakpoint-min: 320px;

$breakpoints: (
  $breakpoint-max,
  1680px,
  1440px,
  1366px,
  1280px,
  1024px,
  768px,
  576px,
  375px,
  $breakpoint-min
);

:root {
  --color-blue: #2967eb;
  --color-white: white;
  --color-black: #191a1c;
}

$font-family-title: "ALSGorizont";

$letter-spacing-title: (normal, -0.02em, -0.06em);

$pad: getRem(40px);

@function getVw($px, $breakpoint) {
  /*
    1vw === 1% of real window width (without scrollbar)
  */

  @return math.div($px, $breakpoint) * 100vw;
}
