@mixin font-title($variant: 1) {
  font-family: $font-family-title;
  letter-spacing: list.nth($letter-spacing-title, $variant);
}

@mixin getArea($x, $y, $width, $height) {
  grid-column: $x / span $width;
  grid-row: $y / span $height;
}

@mixin inset($offset) {
  top: $offset;
  bottom: $offset;
  left: $offset;
  right: $offset;
}

@mixin getSize($width, $height: null) {
  @if $height {
    width: $width;
    height: $height;
  } @else {
    width: $width;
    height: $width;
  }
}
