.button-link {
  $component: &;

  display: flex;

  &--in-header {
    #{$component}__text {
      font-size: getRem(13px);
      line-height: 1;
    }
  }

  &__link {
    position: relative;
    z-index: 0;

    padding: getRem(15px) getRem(28px);
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--color-white);
    border-radius: getRem(8px);

    &::before,
    &::after {
      position: absolute;

      content: "";
      $size: getRem(10px);
      width: $size;
      height: $size;

      border-top: 1px solid var(--color-yellow);
      border-right: 1px solid var(--color-yellow);
      border-radius: 0 getRem(5px) 0 0;
    }
    &::before {
      top: getRem(8px);
      right: getRem(8px);
    }
    &::after {
      bottom: getRem(8px);
      left: getRem(8px);
      transform: rotate(180deg);
    }

    &:hover {
      border-color: var(--color-blue);
    }
  }

  &__text {
    font-size: getRem(11px);
    line-height: 1;
    text-transform: uppercase;
  }
}
