.footer {
  background-color: var(--color-black);
  color: white;

  &__row {
    position: relative;
    z-index: 0;

    display: flex;
  }

  &__col {
    width: 50%;

    &:last-child {
      margin-left: -1px;
    }
  }

  &__phone {
    $icon-size: getRem(44px);

    --border-color: var(--color-gray-5);

    padding: $pad;
    min-height: getRem(180px);

    border-bottom: 1px solid var(--border-color);

    &:first-child {
      border-right: 1px solid var(--border-color);
    }

    &:last-child {
      border-left: 1px solid var(--border-color);
    }

    &:hover {
      z-index: 1;

      border-color: var(--color-white);

      color: var(--color-blue);
    }

    &-container {
      position: relative;

      padding-right: $icon-size + $pad;
      height: 100%;
    }

    &-phone,
    &-description {
      display: block;
    }

    &-phone {
      @include font(2);

      font-size: getRem(60px);
      text-transform: uppercase;
    }

    &-description {
      @include font(5);

      font-size: getRem(16px);
      line-height: 1.3;
      color: var(--color-gray-4);
    }

    &-icon {
      @include getSize($icon-size);

      position: absolute;
      bottom: 0;
      right: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid var(--color-gray-5);
      border-radius: 50%;
    }

    &-svg {
      @include getSize(getRem(17px));
    }
  }

  &__bottom {
    padding: $pad 0 ($pad * 2) 0;
  }

  &__email {
    display: flex;
    justify-content: center;

    &-link {
      @include font(2);

      font-size: getRem(40px);
      line-height: 1;
      text-transform: uppercase;

      &:hover {
        color: var(--color-blue);
      }
    }
  }

  &__grid {
    margin-top: getRem(180px);
    display: grid;
    grid-template-columns: repeat(4, calc(#{getCols(3)}));
    column-gap: $gap;
    align-items: end;

    &-place {
    }
  }

  &__links {
    &-item {
      &:not(:first-child) {
        margin-top: getRem(16px);
      }
    }
  }

  &__link {
    display: flex;

    &-link {
      @include font(6);

      font-size: getRem(16px);
      line-height: 1.3;

      &:hover {
        color: var(--color-blue);
      }
    }
  }

  &__socials {
    display: flex;

    &-item {
      &:not(:first-child) {
        margin-left: getRem(8px);
      }
    }
  }

  &__shelf {
    &:not(:first-child) {
      margin-top: getRem(36px);
    }

    &--small {
      &:not(:first-child) {
        margin-top: getRem(12px);
      }
    }
  }

  &__social {
    @include getSize(getRem(44px));

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-gray-5);
    border-radius: 50%;

    &:hover {
      border-color: var(--color-blue);

      .footer__social-svg {
        path {
          fill: var(--color-blue);
        }
      }
    }

    &-svg {
      &--facebook {
        @include getSize(getRem(8px), getRem(16px));
      }

      &--youtube {
        @include getSize(getRem(18px), getRem(12px));
      }

      &--vk {
        @include getSize(getRem(18px), getRem(11px));
      }
    }
  }

  &__copyright {
    @include font(6);

    font-size: getRem(14px);
    line-height: 1.3;
    color: var(--color-gray-4);
  }

  &__author {
    @include font(6);

    display: flex;

    font-size: getRem(14px);
    line-height: 1.3;
    color: var(--color-gray-4);

    &-link {
      color: var(--color-white);

      &:hover {
        color: var(--color-blue);
      }
    }
  }
}
