.header {
  $component: &;

  position: sticky;
  top: 0;

  background-color: var(--color-gray); // test

  &__block {
    padding-top: getRem(24px);
    padding-bottom: getRem(24px);

    &--border {
      &--bottom {
        border-bottom: 1px solid black;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns:
      calc(#{getCols(3)}) calc(#{getCols(2)}) calc(#{getCols(4)})
      calc(#{getCols(3)});
    column-gap: $gap;
    align-items: center;

    &-cell {
    }
  }

  &__row {
    display: flex;
    align-items: center;

    &--grid {
      #{$component}__row-col {
        width: calc((100% - (#{$gap} * 2)) / 3);

        &:not(:first-child) {
          margin-left: $gap;
        }
      }
    }

    &--align {
      &--right {
        justify-content: flex-end;
      }
    }

    &-col {
      &--space {
        margin: 0 auto;
      }
    }
  }

  &__text {
    font-size: getRem(13px);
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-white);

    &--large {
      font-size: getRem(18px);
    }
  }

  &__link {
    display: flex;

    &-link {
      cursor: pointer;

      &:hover {
        color: var(--color-blue);
      }
    }
  }

  &__logo {
    display: flex;

    &-link {
      cursor: pointer;

      &:hover {
        #{$component}__logo-svg {
          path {
            fill: var(--color-blue);
          }
        }
      }
    }

    &-svg {
      width: getRem(194px);
      height: getRem(49px);
    }
  }

  &__search {
    display: flex;

    &--align {
      &--right {
        justify-content: flex-end;
      }
    }

    &-link {
      display: flex;

      cursor: pointer;

      &:hover {
        #{$component}__search-svg {
          path {
            fill: var(--color-blue);
          }
        }
      }
    }

    &-svg {
      $size: getRem(20px);

      width: $size;
      height: $size;
    }
  }
}

.drop-link {
  $component: &;

  display: flex;

  &__link {
    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover {
      #{$component}__text {
        color: var(--color-blue);
      }

      #{$component}__svg {
        path {
          fill: var(--color-blue);
        }
      }
    }
  }

  &__text {
  }

  &__icon {
    display: flex;
    margin-left: getRem(7px);

    &--margin {
      &--large {
        margin-left: getRem(11px);
      }
    }
  }
  &__svg {
    width: getRem(15px);
    height: getRem(9px);
  }
}
