.menu-button {
  display: flex;

  &__button {
    padding: getRem(20px) getRem(32px);
    display: flex;
    align-items: center;

    background-color: var(--color-blue);
    border-radius: getRem(12px);
    cursor: pointer;
    
    &:hover {
      background-color: var(--color-white);

      .menu-button__text {
        color: var(--color-black);
      }
    }
  }

  &__icon {
    display: flex;
  }

  &__svg {
    $size: getRem(20px);

    width: $size;
    height: $size;
  }

  &__text {
    @include font-title(1);

    margin-left: getRem(18px);

    font-size: getRem(18px);
    line-height: 1;
    color: var(--color-white);
    text-transform: uppercase;
  }
}
