.row {
  &--section {
    display: grid;
    grid-template-columns: calc(#{getCols(3)}) calc(#{getCols(9)});
    column-gap: $gap;
  }

  &--filter {
    display: grid;
    grid-template-columns: calc(#{getCols(9)}) calc(#{getCols(3)});
    column-gap: $gap;
  }

  &--half {
    display: grid;
    grid-template-columns: calc(#{getCols(6)}) calc(#{getCols(6)});
    column-gap: $gap;
  }

  &--panel {
    display: grid;
    grid-template-columns: calc(#{getCols(3)}) calc(#{getCols(3)}) calc(#{getCols(6)});
    column-gap: $gap;
  }
}
