.test {
  margin: 0.1rem;
  padding: 0.1rem;

  border: 1px solid black;
  font-size: 1rem;
}

.container {
  margin: 10px;
}

.item {
  font-size: 30px;

  &__weight {
    min-width: 100px;
    display: inline-block;
  }
}

@each $font-family in ("a", "b", "c") {
  .#{$font-family} {
    font-family: $font-family;
  }
}
