.test {
}

// +
.indent {
  $component: &;

  &--page {
    &--main {
      padding: getRem(180px) 0;

      #{$component} {
        &__section {
          &:not(:first-child) {
            margin-top: getRem(180px);
          }
        }

        &__sub-section {
          &:not(:first-child) {
            margin-top: getRem(100px);
          }
        }
      }
    }

    &--catalog {
      #{$component} {
        &__item {
          margin-top: getRem(40px);

          &--large {
            margin-top: getRem(80px);
          }
        }
      }
    }
  }
}

// +
.catalog {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  &__place {
    &:nth-child(odd) {
      .product {
        border-left: none;
      }
    }

    &:nth-child(even) {
      margin-left: -1px;

      .product {
        border-right: none;
      }
    }

    &:not(:nth-child(-n + 2)) {
      margin-top: -1px;
    }
  }
}

// +
.product {
  $component: &;

  position: relative;
  z-index: 0;

  padding: $pad;
  display: block;

  background-color: var(--color-white);
  border: 1px solid var(--color-gray-2);

  &:hover {
    z-index: 1;

    border-color: var(--color-blue);

    #{$component} {
      &__title {
        color: var(--color-blue);
      }
    }
  }

  &__icon {
    @include getSize(getRem(64px));

    position: absolute;
    bottom: $pad;
    right: $pad;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--color-blue);
  }

  &__svg {
    @include getSize(getRem(18px));
  }

  &__grid {
    display: grid;
    grid-template-columns: calc(#{getCols(3)}) 1fr;
    column-gap: $gap;
  }

  &__cell {
    &--info {
      padding-bottom: getRem(64px + 40px);
    }
  }

  &__img {
    width: 100%;
    height: getRem(552px);
    min-height: 100%;
    display: block;
    object-fit: cover;
    overflow: hidden;

    border-radius: 0px getRem(16px) getRem(16px) 0px;
  }

  &__title {
    @include font(3);

    font-size: getRem(54px);
    line-height: 1;
    text-transform: uppercase;
  }

  &__table {
    margin-top: getRem(40px);

    &-row {
      display: flex;

      &:not(:first-child) {
        margin-top: getRem(9px);
      }
    }

    &-col {
      width: calc(#{getCols(1)});
      flex-shrink: 0;

      &:not(:first-child) {
        margin-left: $gap;
      }
    }

    &-title {
      @include font(4);

      font-size: getRem(14px);
      line-height: 1.3;
    }

    &-value {
      @include font(2);

      font-size: getRem(16px);
      line-height: 1;
      text-transform: uppercase;
    }
  }

  &__features {
    margin-top: getRem(40px);
  }

  &__feature {
    display: flex;

    &-svg {
      @include getSize(getRem(60px));

      flex-shrink: 0;
    }

    &-text {
      @include font(4);

      margin-left: getRem(15px);
      padding-top: getRem(20px);

      font-size: getRem(14px);
      line-height: 1.3;
    }
  }
}

// +
.qweqwe {
  min-height: 300px;
}

// +
.wall {
  $gap: getRem(8px);

  &__list {
    margin-top: -$gap;
    margin-left: -$gap;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: $gap;
    margin-left: $gap;
  }
}

// +
.badge {
  display: flex;

  &__link {
    $element: &;

    &--variant {
      &--tab {
        $variant: &;

        @include font(2);

        padding: getRem(20px) getRem(16px);

        background-color: var(--color-white);
        border: 1px solid var(--color-gray-2);
        border-radius: getRem(6px);
        font-size: getRem(20px);
        line-height: 1;
        text-transform: uppercase;
        white-space: nowrap;

        &:not(#{$element}--no-hover, #{$variant}-active) {
          &:hover {
            border-color: var(--color-blue);
            color: var(--color-blue);
          }
        }

        &:not(#{$variant}-active) {
          cursor: pointer;
        }

        &-active {
          background-color: var(--color-yellow);
          border-color: var(--color-yellow);
        }
      }

      &--breadcrumb {
        @include font(2);

        padding: getRem(8px) getRem(12px);

        background-color: var(--color-white);
        border: 1px solid var(--color-gray-2);
        border-radius: getRem(4px);
        font-size: getRem(13px);
        line-height: 1;
        text-transform: uppercase;
        white-space: nowrap;

        &:not(#{$element}--no-hover) {
          &:hover {
            border-color: var(--color-blue);
            color: var(--color-blue);
          }
        }

        &-active {
          background-color: var(--color-gray-2);
        }
      }
    }
  }
}

// +
.row {
  &--filter {
    display: grid;
    grid-template-columns: calc(#{getCols(9)}) calc(#{getCols(3)});
    column-gap: $gap;
  }
}

// +
.btn {
  $component: &;

  display: flex;

  &__link {
    $element: &;

    &--variant {
      &--default {
        padding: getRem(18px);

        background-color: var(--color-blue);
        border: 1px solid var(--color-blue);
        border-radius: getRem(8px);
        cursor: pointer;

        &:hover {
          background-color: var(--color-white);
          border-color: var(--color-blue);
        }
      }

      &--filter {
        padding: getRem(22px);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          #{$component} {
            &__text {
              color: var(--color-blue);
            }
          }
        }

        #{$component} {
          &__icon {
            display: flex;
          }

          &__svg {
            @include getSize(17px);
          }

          &__text {
            @include font(1);

            margin-left: getRem(12px);

            font-size: getRem(13px);
            line-height: 1;
            color: var(--color-white);
            text-transform: uppercase;
          }
        }
      }

      &--full {
        width: 100%;
      }
    }
  }
}
