.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  @media #{media('<')} {
    @include scrollbar-hidden;
  }

  &__container {
    width: 100vw;
    min-height: 100vh;
  }
}
