.calture {
  $radius: rem(8px);

  padding: rem(32px) rem(32px) rem(2 * 32px + 64px) rem(32px);
  height: 100%;
  min-height: rem(360px);
  display: block;

  background-color: color(gray-light);
  border-radius: 0 $radius $radius $radius;
}
