.container {
  $component: &;

  &--default {
    padding-left: $column-padding;
    padding-right: $column-padding;

    @media #{media("<")} {
      padding-left: $column-padding-small;
      padding-right: $column-padding-small;
    }
  }

  &--about-article {
    padding-left: calc(#{columns(2)} + #{$column-gap});
    padding-right: calc(#{$column} + #{$column-gap});
  }

  &--card {
    margin: 0 auto;
    width: calc(#{columns(4)});
  }

  &--li {
    position: relative;
    z-index: 0;

    padding-left: rem(48px);

    > {
      #{$component} {
        &__svg {
          @include rectangle(rem(24px));

          position: absolute;
          top: rem(5px);
          left: 0;
        }
      }
    }
  }

  &--card-label {
    position: relative;
    z-index: 0;

    padding-left: rem(69px + 20px);

    > {
      #{$component} {
        &__img {
          @include rectangle(rem(69px));

          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &--gallery {
    height: 100%;
    overflow: hidden;

    border-radius: rem(16px);

    > {
      img {
        @include rectangle(100%);

        display: block;
        object-fit: cover;
      }
    }
  }

  &--6 {
    width: calc(#{columns(6)});
  }
}
