.container {
  &--default {
    padding-left: $column-padding;
    padding-right: $column-padding;

    @media #{media("<")} {
      padding-left: $column-padding-small;
      padding-right: $column-padding-small;
    }
  }

  &--about-article {
    padding-left: calc(#{columns(2)} + #{$column-gap});
    padding-right: calc(#{$column} + #{$column-gap});
  }
}
