.doc {
  $component: &;
  $front: 3;
  $radius: 8px;
  $transition: transition(major);

  --svg-color: #{color(blue)};
  --label-color: #{color(gray-dark)};

  position: relative;
  z-index: 0;

  padding: rem(20px);
  padding-right: rem(70px);
  @media #{media("<")} {
    padding: rem(16px);
    padding-right: rem(70px);
    min-height: rem(116px);
  }
  min-height: rem(215px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  background-color: color(white);
  border-radius: rem($radius);

  &::before,
  &::after {
    @include inset;

    position: absolute;

    content: "";
    pointer-events: none;

    border-radius: rem($radius);
  }

  &::before {
    z-index: 1;

    border: 1px solid color(gray);
  }

  &::after {
    z-index: 2;

    clip-path: inset(100% 0 0 0);

    background-color: color(yellow);
    transition: clip-path $transition;
  }

  &:hover {
    --svg-color: #{color(black)};
    --label-color: #{color(black)};

    &::after {
      clip-path: inset(0 0 0 0);
    }

    #{$component} {
      &__circle {
        &::before {
          transform: scale(1);
        }
      }
    }
  }

  &__svg {
    $gap: 20px;

    @include rectangle(rem(30px), rem(37px));
    @media #{media("<")} {
      @include rectangle(rem(23px), rem(28px));
    }

    position: absolute;
    z-index: $front;
    bottom: rem($gap);
    right: rem($gap);
    @media #{media("<")} {
      bottom: rem(16px);
      right: rem(16px);
    }

    pointer-events: none;

    > {
      path {
        fill: var(--svg-color);
        transition: fill $transition;
      }
    }
  }

  &__circle {
    $gap: 20px;

    @include rectangle(rem(64px));
    @media #{media("<")} {
      @include rectangle(rem(36px));
    }

    position: absolute;
    z-index: $front;
    bottom: rem($gap);
    right: rem($gap);

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    background-color: color(blue);
    border-radius: 50%;

    &::before {
      @include rectangle(100%);

      position: absolute;
      z-index: -1;
      transform: scale(0);

      content: "";

      background-color: color(black);
      border-radius: 50%;
      transition: transform $transition;
    }

    &-svg {
      @include rectangle(rem(18px));
      @media #{media("<")} {
        @include rectangle(rem(13.5px));
      }
    }
  }

  &__text {
    @include font-fsl("content-3", 16px, 130%);
    @media #{media("<")} {
      @include fsl(12px);
    }
    position: relative;
    z-index: $front;

    transition: color $transition;
  }

  &__label {
    color: var(--label-color);
    @media #{media("<")} {
      @include fsl(12px);
    }
  }
}
