.grid-test {
  @include inset;

  position: fixed;
  z-index: 1000;

  width: 100vw;
  pointer-events: none;
  user-select: none;

  &__desktop,
  &__mobile {
    display: grid;
  }

  &__desktop {
    grid-template-columns: repeat($column-count, 1fr);
    column-gap: $column-gap;

    @media #{max-width()} {
      display: none;
    }
  }

  &__mobile {
    grid-template-columns: repeat($column-count-small, 1fr);
    column-gap: $column-gap-small;

    @media #{min-width($breakpoint-t)} {
      display: none;
    }
  }

  &__col {
    height: 100vh;

    background-color: black;
    opacity: 0.1;
  }
}
