.grid {
  $component: &;

  &--3-6 {
    display: grid;
    grid-template-columns: calc(#{columns(3)}) calc(#{columns(6)});
    column-gap: $column-gap;
  }

  &--gallery {
    height: 100%;
    display: grid;
    grid-template-columns: calc(#{columns(4)} * 4.9406564584124654e-324 / 4.9406564584124654e-324) calc(#{columns(2)});
    grid-template-rows: repeat(2, calc((100% - #{$column-gap}) / 2));
    column-gap: $column-gap;
    row-gap: $column-gap;

    > {
      #{$component} {
        &__item {
          &:nth-child(1) {
            @include grid-area(1, 1, 1, 2);
          }

          &:nth-child(2) {
            @include grid-area(2, 1, 1, 1);
          }

          &:nth-child(3) {
            @include grid-area(2, 2, 1, 1);
          }
        }
      }
    }
  }

  &--card-panel {
    display: grid;
    grid-template-columns: repeat(2, calc(#{columns(3)})) calc(#{columns(6)});
    column-gap: $column-gap;
  }

  &--date {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    column-gap: rem(10px);
  }

  &--1-1 {
    display: grid;
    grid-template-columns: repeat(2, calc(#{$column}));
    column-gap: $column-gap;
  }

  &--card-new {
    display: grid;
    grid-template-columns: calc(#{columns(4)}) calc(#{columns(2)});
    column-gap: $column-gap;
  }

  &--card-title {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: rem(12px);
  }

  &--col {
    &-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: $column-gap;
    }
  }

  &--list {
    display: grid;
    row-gap: rem(16px);
  }

  &--3-3 {
    display: grid;
    grid-template-columns: repeat(2, calc(#{columns(3)}));
    column-gap: $column-gap;
  }

  &--404-nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: rem(12px);
    justify-content: center;
  }

  &--last-bottom {
    > {
      #{$component} {
        &__item {
          &:last-child {
            align-self: flex-end;
          }
        }
      }
    }
  }

  &--controls {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: rem(8px);
    justify-content: start;
  }

  &--about-markets {
    display: grid;
    grid-template-columns: repeat(3, calc(#{columns(2)}));
    column-gap: $column-gap;
  }

  &--where {
    display: grid;
    grid-template-columns: calc(#{columns(6)}) repeat(3, calc(#{columns(2)}));
    column-gap: $column-gap;
    align-items: center;

    > {
      #{$component} {
        &__item {
          &:first-child {
            padding-left: rem(40px);
          }

          &:last-child {
            padding-right: rem(40px);
          }
        }
      }
    }
  }

  &--where-buy-markets {
    display: grid;
    grid-template-columns: repeat(4, calc(#{columns(2)}));
    column-gap: $column-gap;
  }

  &--5-7 {
    display: grid;
    grid-template-columns: calc(#{columns(5)}) calc(#{columns(7)});
    column-gap: $column-gap;
  }

  &--3-4 {
    display: grid;
    grid-template-columns: calc(#{columns(3)}) calc(#{columns(4)});
    column-gap: $column-gap;
  }

  &--4-8 {
    display: grid;
    grid-template-columns: calc(#{columns(4)}) calc(#{columns(8)});
    column-gap: $column-gap;
  }

  &--8-4 {
    display: grid;
    grid-template-columns: calc(#{columns(8)}) calc(#{columns(4)});
    column-gap: $column-gap;

    > {
      #{$component} {
        &__item {
          &:nth-child(2) {
            position: relative; // test
            z-index: 1; // test
          }
        }
      }
    }
  }

  &--2 {
    display: grid;
    grid-template-columns: repeat(2, calc(#{columns(6)}));
    column-gap: $column-gap;
  }

  &--3 {
    display: grid;
    grid-template-columns: repeat(3, calc(#{columns(4)}));
    column-gap: $column-gap;
  }

  &--4 {
    display: grid;
    grid-template-columns: repeat(4, calc(#{columns(3)}));
    column-gap: $column-gap;
    row-gap: $column-gap;
  }

  &--6 {
    display: grid;
    grid-template-columns: repeat(6, calc(#{columns(2)}));
    column-gap: $column-gap;
    row-gap: $column-gap;
  }

  &--centered {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $column-gap;
    justify-content: space-between;

    > {
      #{$component} {
        &__item {
          &:nth-child(2) {
            justify-self: center;
          }

          &:nth-child(3) {
            justify-self: end;
          }
        }
      }
    }
  }

  &--qqbkwf {
    > {
      #{$component} {
        &__item {
          margin-left: auto;
          width: calc(#{columns(7)});
        }
      }
    }
  }

  &--space-between {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: $column-gap;
    justify-content: space-between;
  }

  &--centered-6 {
    display: grid;
    grid-template-columns: calc(#{columns(6)});
    column-gap: $column-gap;
    justify-content: center;
  }

  &--centered-4 {
    display: grid;
    grid-template-columns: calc(#{columns(4)});
    column-gap: $column-gap;
    justify-content: center;
  }

  &--row-gap-40 {
    row-gap: rem(40px);
  }

  &--row-gap-60 {
    row-gap: rem(60px);
  }

  &--row-gap {
    row-gap: $column-gap;
  }

  &--feature {
    display: grid;
    grid-template-columns: calc(#{$column}) calc(#{columns(4)});
    column-gap: $column-gap;

    > {
      #{$component} {
        &__item {
          &:nth-child(1) {
            padding-left: rem(40px);
            display: flex;
            justify-content: end;
          }
        }
      }
    }
  }

  &--5-1 {
    display: grid;
    grid-template-columns: calc(#{columns(5)}) calc(#{columns(1)});
    column-gap: $column-gap;
  }
}
