.grid {
  $component: &;

  &--about-markets {
    display: grid;
    grid-template-columns: repeat(3, calc(#{columns(2)}));
    column-gap: $column-gap;

    #{$component} {
      &__item {
      }
    }
  }

  &--where {
    display: grid;
    grid-template-columns: calc(#{columns(6)}) repeat(3, calc(#{columns(2)}));
    column-gap: $column-gap;
    align-items: center;

    #{$component} {
      &__item {
        &:first-child {
          padding-left: rem(40px);
        }

        &:last-child {
          padding-right: rem(40px);
        }
      }
    }
  }

  &--where-buy-markets {
    display: grid;
    grid-template-columns: repeat(4, calc(#{columns(2)}));
    column-gap: $column-gap;

    #{$component} {
      &__item {
      }
    }
  }

  &--4-8 {
    display: grid;
    grid-template-columns: calc(#{columns(4)}) calc(#{columns(8)});
    column-gap: $column-gap;

    #{$component} {
      &__item {
      }
    }
  }

  &--8-4 {
    display: grid;
    grid-template-columns: calc(#{columns(8)}) calc(#{columns(4)});
    column-gap: $column-gap;

    #{$component} {
      &__item {
        // test
        &:nth-child(2) {
          position: relative;
          z-index: 1;
        }
      }
    }
  }

  &--2 {
    display: grid;
    grid-template-columns: repeat(2, calc(#{columns(6)}));
    column-gap: $column-gap;

    #{$component} {
      &__item {
      }
    }
  }

  &--3 {
    display: grid;
    grid-template-columns: repeat(3, calc(#{columns(4)}));
    column-gap: $column-gap;

    #{$component} {
      &__item {
      }
    }
  }

  &--4 {
    display: grid;
    grid-template-columns: repeat(4, calc(#{columns(3)}));
    column-gap: $column-gap;
    row-gap: $column-gap;

    #{$component} {
      &__item {
      }
    }
  }

  &--6 {
    display: grid;
    grid-template-columns: repeat(6, calc(#{columns(2)}));
    column-gap: $column-gap;
    row-gap: $column-gap;

    #{$component} {
      &__item {
      }
    }
  }

  &--centered {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $column-gap;
    justify-content: space-between;

    #{$component} {
      &__item {
        &:nth-child(2) {
          justify-self: center;
        }

        &:nth-child(3) {
          justify-self: end;
        }
      }
    }
  }

  &--qqbkwf {
    #{$component} {
      &__item {
        margin-left: auto;
        width: calc(#{columns(7)});
      }
    }
  }

  &--space-between {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: $column-gap;
    justify-content: space-between;

    #{$component} {
      &__item {
      }
    }
  }

  &--centered-6 {
    display: grid;
    grid-template-columns: calc(#{columns(6)});
    column-gap: $column-gap;
    justify-content: center;

    #{$component} {
      &__item {
      }
    }
  }

  &--centered-4 {
    display: grid;
    grid-template-columns: calc(#{columns(4)});
    column-gap: $column-gap;
    justify-content: center;

    #{$component} {
      &__item {
      }
    }
  }

  &--row-gap-40 {
    row-gap: rem(40px);
  }

  &--row-gap-60 {
    row-gap: rem(60px);
  }

  &--row-gap {
    row-gap: $column-gap;
  }

  &--feature {
    display: grid;
    grid-template-columns: calc(#{$column}) calc(#{columns(4)});
    column-gap: $column-gap;

    #{$component} {
      &__item {
        &:nth-child(1) {
          padding-left: rem(40px);
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}

.where-list {
  &__item {
    &:not(:first-child) {
      margin-top: -1px;
    }
  }
}

.where {
  padding: rem(38px) 0 rem(36px);

  border: 1px solid color(gray);

  &__link-wrapper {
    display: flex;
  }
  &__link {
    @include font-fsl('content-1', 16px, 130%);
    
    text-decoration: underline;
    color: color(blue);
  }

  &__location {
    @include font-fsl('content-1', 16px, 130%);
  }

  &__address-wrapper {
    display: flex;
    align-items: flex-end;
  }
  &__svg {
    @include rectangle(rem(18px));

    margin-right: rem(12px);
    flex-shrink: 0;
  }
  &__address {
    @include font-fsl('content-1', 16px, 130%);
  }
}
