.grid {
  $component: &;

  &--cooperation {
    @media #{media(">")} {
      display: grid;
      grid-template-columns: repeat(3, calc(#{columns(4)}));
      column-gap: $column-gap;
    }

    @media #{media("<")} {
      display: grid;
      row-gap: rem(24px);
    }
  }

  &--history {
    min-height: rem(460px);
    display: grid;
    grid-template-columns: calc(#{columns(2)}) repeat(2, calc(#{columns(4)})) calc(
        #{columns(2)}
      );
    column-gap: $column-gap;
    row-gap: rem(80px); // ?
    align-content: space-between;

    > {
      #{$component} {
        &__item {
          &:nth-child(1) {
            @include grid-area(1, 1, 1, 1);
          }
          &:nth-child(2) {
            @include grid-area(2, 1, 1, 1);
          }
          &:nth-child(3) {
            @include grid-area(3, 1, 1, 1);
          }
          &:nth-child(4) {
            @include grid-area(1, 2, 1, 1);
          }
          &:nth-child(5) {
            @include grid-area(2, 2, 3, 1);

            align-self: flex-end;
          }
        }
      }
    }
  }

  &--aie {
    align-items: end;
  }

  &--3-6 {
    display: grid;
    grid-template-columns: calc(#{columns(3)}) calc(#{columns(6)});
    column-gap: $column-gap;
  }

  &--gallery {
    height: 100%;
    display: grid;
    grid-template-columns:
      calc(#{columns(4)} * 4.9406564584124654e-324 / 4.9406564584124654e-324)
      calc(#{columns(2)});
    grid-template-rows: repeat(2, calc((100% - #{$column-gap}) / 2));
    column-gap: $column-gap;
    row-gap: $column-gap;

    @media #{media("<")} {
      grid-template-columns:
        calc(#{columns-small(2)} + (#{$column-small} / 3) * 2)
        calc(#{$column-small} + #{$column-gap-small} + (#{$column-small} / 3));
    }

    > {
      #{$component} {
        &__item {
          &:nth-child(1) {
            @include grid-area(1, 1, 1, 2);
          }

          &:nth-child(2) {
            @include grid-area(2, 1, 1, 1);
          }

          &:nth-child(3) {
            @include grid-area(2, 2, 1, 1);
          }
        }
      }
    }
  }

  &--card-panel {
    display: grid;
    grid-template-columns: repeat(2, calc(#{columns(3)})) calc(#{columns(6)});
    column-gap: $column-gap;

    @media #{media("<")} {
      display: none;
    }
  }

  &--date {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    column-gap: rem(10px);
  }

  &--1-1 {
    display: grid;
    grid-template-columns: repeat(2, calc(#{$column}));
    column-gap: $column-gap;

    @media #{media("<")} {
      grid-template-columns: repeat(2, calc(#{$column-small}));
      column-gap: $column-gap-small;
    }
  }

  &--card-new {
    display: grid;
    row-gap: rem(12px);

    @media #{media(">")} {
      grid-template-columns: calc(#{columns(4)}) calc(#{columns(2)});
      column-gap: $column-gap;
    }
  }

  &--card-title {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: rem(12px);

    @media #{media("<")} {
      align-items: center;
    }
  }

  &--col {
    &-3 {
      display: grid;

      @media #{media("<")} {
        row-gap: rem(8px);
      }
      @media #{media(">")} {
        grid-template-columns: repeat(3, 1fr);
        column-gap: $column-gap;
      }
    }

    &-3-desk-2-mob {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: $column-gap;

      @media #{media("<")} {
        grid-template-columns: repeat(2, 1fr);
        column-gap: $column-gap-small;
      }
    }
  }

  &--list {
    display: grid;
    row-gap: rem(16px);
  }

  &--3-3 {
    display: grid;
    column-gap: $column-gap;

    @media #{media(">")} {
      grid-template-columns: repeat(2, calc(#{columns(3)}));
    }
  }

  &--404-nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: rem(12px);
    justify-content: center;

    @media #{media("<")} {
      grid-template-columns: repeat(2, 1fr);
      column-gap: $column-gap;
    }
  }

  &--last-bottom {
    > {
      #{$component} {
        &__item {
          &:last-child {
            align-self: flex-end;
            @media #{media("<")} {
              display: none;
            }
          }
        }
      }
    }
  }

  &--controls {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: rem(8px);
    justify-content: start;
  }

  &--about-markets {
    display: grid;
    grid-template-columns: repeat(3, calc(#{columns(2)}));
    column-gap: $column-gap;
    @media #{media("<")} {
      grid-template-columns: repeat(2, 1fr);
      gap: $column-gap-small;
    }
  }

  &--where {
    display: grid;
    grid-template-columns: calc(#{columns(6)}) repeat(3, calc(#{columns(2)}));
    column-gap: $column-gap;
    align-items: center;
    @media #{media("<")} {
      grid-template-columns: 1fr;
      row-gap: rem(8px);
    }

    > {
      #{$component} {
        &__item {
          &:first-child {
            padding-left: rem(40px);
            @media #{media("<")} {
              padding-left: 0;
              margin-bottom: rem(12px);
            }
          }

          &:last-child {
            padding-right: rem(40px);
            @media #{media("<")} {
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  &--where-buy-markets {
    display: grid;
    grid-template-columns: repeat(4, calc(#{columns(2)}));
    column-gap: $column-gap;
  }

  &--5-7 {
    display: grid;
    grid-template-columns: auto;

    @media #{media("<")} {
      row-gap: rem(20px);
    }
    @media #{media(">")} {
      grid-template-columns: calc(#{columns(5)}) calc(#{columns(7)});
      column-gap: $column-gap;
    }
  }

  &--3-4 {
    display: grid;
    grid-template-columns: calc(#{columns-small(2)} + #{$column-gap-small}) calc(
        #{columns-small(2)}
      );

    @media #{media(">")} {
      grid-template-columns: calc(#{columns(3)}) calc(#{columns(4)});
      column-gap: $column-gap;
    }
  }

  &--4-8 {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: calc(#{columns(4)}) calc(#{columns(8)});
    column-gap: $column-gap;
  }

  &--8-4 {
    display: grid;
    grid-template-columns: calc(#{columns(8)}) calc(#{columns(4)});
    column-gap: $column-gap;
    @media #{media("<")} {
      grid-template-columns: 1fr;
      row-gap: rem(20px);
    }

    > {
      #{$component} {
        &__item {
          &:nth-child(2) {
            position: relative; // test
            z-index: 1; // test
          }
        }
      }
    }
  }

  &--2 {
    display: grid;
    grid-template-columns: repeat(2, calc(#{columns(6)}));
    column-gap: $column-gap;
    @media #{media("<")} {
      grid-template-columns: 1fr;
      row-gap: rem(24px);
    }
  }

  &--3 {
    display: grid;
    grid-template-columns: repeat(3, calc(#{columns(4)}));
    column-gap: $column-gap;

    @media #{media("<")} {
      grid-template-columns: 1fr;
      gap: rem(8px);
    }
  }

  &--4 {
    display: grid;
    grid-template-columns: repeat(4, calc(#{columns(3)}));
    column-gap: $column-gap;
    row-gap: $column-gap;
    @media #{media("<")} {
      grid-template-columns: 1fr;
    }
  }

  &--6 {
    display: grid;
    grid-template-columns: repeat(6, calc(#{columns(2)}));
    column-gap: $column-gap;
    row-gap: $column-gap;
    @media #{media("<")} {
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(16px);
      row-gap: rem(20px);
    }
  }

  &--centered {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $column-gap;
    justify-content: space-between;
    @media #{media("<")} {
      display: block;
    }

    > {
      #{$component} {
        &__item {
          &:nth-child(2) {
            justify-self: center;
            @media #{media("<")} {
              display: none;
            }
          }

          &:nth-child(3) {
            justify-self: end;
            @media #{media("<")} {
              display: none;
            }
          }
        }
      }
    }
  }

  &--qqbkwf {
    > {
      #{$component} {
        &__item {
          margin-left: auto;
          width: calc(#{columns(7)});
          @media #{media("<")} {
            margin-left: 0;
            width: auto;
          }
        }
      }
    }
  }

  &--space-between {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: $column-gap;
    justify-content: space-between;

    > {
      #{$component} {
        &__item {
          &:nth-child(2) {
            @media #{media("<")} {
              display: none;
            }
          }
        }
      }
    }
  }

  &--centered-6 {
    display: grid;
    grid-template-columns: calc(#{columns(6)});
    column-gap: $column-gap;
    justify-content: center;
    @media #{media("<")} {
      display: block;
    }
  }

  &--centered-4 {
    display: grid;
    grid-template-columns: calc(#{columns(4)});
    column-gap: $column-gap;
    justify-content: center;
    @media #{media("<")} {
      display: block;
    }
  }

  &--row-gap-40 {
    row-gap: rem(40px);
  }

  &--row-gap-60 {
    row-gap: rem(60px);
  }

  &--row-gap {
    row-gap: $column-gap;
    @media #{media("<")} {
      row-gap: $column-gap-small;
    }
  }

  &--feature {
    display: grid;
    grid-template-columns: calc(#{$column}) calc(#{columns(4)});
    column-gap: $column-gap;
    @media #{media("<")} {
      display: flex;
      column-gap: 0;
    }
    > {
      #{$component} {
        &__item {
          &:nth-child(1) {
            padding-left: rem(40px);
            display: flex;
            justify-content: end;
            @media #{media("<")} {
              padding-left: 0;
              display: flex;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }

  &--5-1 {
    display: grid;
    grid-template-columns: calc(#{columns(5)}) calc(#{columns(1)});
    column-gap: $column-gap;
  }
}

.mob-bottom {
  @media #{media("<")} {
    order: 1;
  }
}
