.grid-test {
  $column-count-difference: math.abs($column-count - $column-count-small);

  --column-count: #{$column-count};
  --column-gap: #{$column-gap};

  @include inset;

  position: fixed;
  z-index: 0;

  width: 100vw;
  pointer-events: none;

  @media #{media("<")} {
    --column-count: #{$column-count-small};
    --column-gap: #{$column-gap-small};
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    column-gap: var(--column-gap);
  }

  &__col {
    height: 100vh;

    background-color: color(grid-test);

    @media #{media("<")} {
      &:nth-child(-n + #{$column-count-difference}) {
        display: none;
      }
    }
  }
}
