.header {
  $component: &;
  $transition: transition(major);

  --hover-color: #{color(blue)};
  --logo-color: #{color(blue)};

  @include inset;

  position: fixed;
  z-index: 1;

  pointer-events: none;

  &--transparent {
    --hover-color: #{color(yellow)};
    --logo-color: #{color(white)};

    #{$component} {
      // top & bottom:

      &__top,
      &__bottom {
        background-color: transparent;
      }

      &__top {
        border-bottom: 1px solid color(header-transparent-border);
      }

      // link

      &__link {
        &-link {
          color: color(white);
        }
      }

      // search

      &__search {
        &-svg {
          path {
            fill: color(white);
          }
        }
      }
    }

    // press

    .press {
      &--white {
        .press {
          &__text {
            &--start {
              color: color(white);
            }
          }
        }
      }
    }

    // drop

    .drop {
      &__cur {
        color: color(white);
      }

      &__svg {
        path {
          fill: color(white);
        }
      }
    }
  }

  // top & bottom

  &__top,
  &__bottom {
    pointer-events: all;

    background-color: color(white);
  }

  &__top {
    height: rem(61px);

    border-bottom: 1px solid color(gray);
    transition: background-color $transition, border-color $transition;
  }

  &__bottom {
    height: rem(108px);

    transition: background-color $transition;
  }

  // row

  &__row {
    display: grid;
    grid-template-columns:
      calc(#{columns(3)}) calc(#{columns(2)}) calc(#{columns(4)})
      calc(#{columns(3)});
    column-gap: $column-gap;

    &--align {
      &-baseline {
        align-items: baseline;
      }

      &-center {
        align-items: center;
      }
    }

    &-item {
      &--align {
        &-transform {
          transform: translateY(rem(-5px));
        }
      }
    }
  }

  // container

  &__container {
    padding: rem(24px) 0;

    &--top {
      padding: rem(19px) 0 rem(22px);
    }
  }

  // link

  &__link {
    $element: &;

    display: flex;

    &--large {
      #{$element} {
        &-link {
          @include fsl(18px);
        }
      }
    }

    &-link {
      @include font-fsl("title-1", 13px, 100%);

      transition: color $transition;

      &:hover {
        color: var(--hover-color);
      }
    }
  }

  // grid

  &__grid {
    $element: &;

    display: flex;

    &--right {
      #{$element} {
        &-item {
          &:nth-child(2) {
            margin: 0 auto;
          }
        }
      }
    }

    &--left {
      #{$element} {
        &-item {
          &:nth-child(1) {
            margin: 0 auto;
          }
        }
      }
    }

    &--align-baseline {
      align-items: baseline;
    }

    &-item {
    }
  }

  // triple

  &__triple {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - #{$column-gap} * 2) / 3));
    column-gap: $column-gap;

    &--align-baseline {
      align-items: baseline;
    }

    &-item {
      &:nth-child(3) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  // logo

  &__logo {
    display: flex;

    &-link {
      display: flex;
    }

    &-svg {
      @include rectangle(rem(194px), rem(49px));

      path {
        fill: var(--logo-color);
        transition: fill $transition;
      }
    }
  }

  // search

  &__search {
    display: flex;

    &--align-transform {
      transform: translateY(rem(5px));
    }

    &-svg {
      @include rectangle(rem(24px));

      cursor: pointer;

      &:hover {
        path {
          fill: var(--hover-color);
        }
      }

      path {
        transition: fill $transition;
      }
    }
  }

  // last

  &__last {
    display: flex;
    justify-content: flex-end;
  }
}
