.heading {
  &--case {
    @include font-fsl("title-2", 32px, 120%);
  }

  &--calture {
    @include font-fsl("title-2", 20px, 130%);
    @media #{media("<")} {
      @include fsl(14px);
    }
  }
  &--where {
    @include font-fsl("title-2", 24px, 100%);
    @media #{media("<")} {
      @include fsl(12px);
    }
  }
  &--small-sub {
    @include font-fsl("title-2", 13px, 100%);
  }
  &--sub {
    @include font-fsl("title-2", 18px, 120%);
    @media #{media("<")} {
      @include fsl(12px);
    }
  }
  &--feature {
    @include font-fsl("title-2", 24px, 120%);
    @media #{media("<")} {
      @include fsl(12px);
    }
  }
  &--large {
    @include font-fsl("title-3", 54px, 100%);
    @media #{media("<")} {
      @include fsl(16px);
    }
  }
  &--main {
    @include font-fsl("title-3", 72px, 100%);
    @media #{media("<")} {
      @include fsl(24px);
    }
  }
  &--page {
    @include font-fsl("title-3", 130px, 100%);
    @media #{media("<")} {
      @include fsl(30px);
    }
  }
  &--404 {
    @include font-fsl("title-3", 200px, 100%);

    @media #{media("<")} {
      @include fsl(100px);
    }
  }
  &--card-value-title {
    @include font-fsl("content-1", 14px, 130%);
  }
  &--guard {
    @include font-fsl("title-2", 32px, 100%);
  }
  &--card-new {
    @include font-fsl("title-2", 20px, 130%);
  }

  &--pre-line {
    white-space: pre-line;
  }
  &--center {
    text-align: center;
  }
  &--blue {
    color: color(blue);
  }
}
