.html {
  font-size: $font-size;
  scroll-behavior: smooth;

  @each $variant in (xxs, xs, s, m, t) {
    @media (min-width: #{breakpoint($variant)}) {
      font-size: vw($font-size, $variant);
    }
  }

  @media (min-width: #{breakpoint(d)}) {
    font-size: vw($font-size, xxl);
  }

  @media (min-width: #{breakpoint(xxl)}) {
    font-size: $font-size;
  }
}
