.html {
  font-size: $font-size;

  @each $variant, $breakpoint in $breakpoints {
    @if ($variant == "d" or $variant == "xxl") {
      @media #{media("<", $variant)} {
        font-size: vw($font-size, $variant);
      }
    } @else {
      @media #{media("<=", $variant)} {
        font-size: vw($font-size, $variant);
      }
    }
  }
}
