.listing {
  $transition: 0s linear;

  position: relative;
  z-index: 0;

  padding: 1px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 1px;
  row-gap: 1px;

  &__item {
    position: relative;

    height: 80vh;

    &::before {
      @include inset(-1px);

      position: absolute;

      content: "";

      border: 1px solid color(gray);
    }

    &::after {
      @include inset(-1px);

      position: absolute;

      content: "";

      border: 1px solid color(blue);
      opacity: 0;
      transition: opacity $transition;
    }

    &:hover {
      &::after {
        z-index: 1;

        opacity: 1;
      }
    }
  }
}
