.market {
  display: block;
  height: 100%;

  &--2 {
    width: calc(#{columns(2)});
    @media #{media("<")} {
      width: calc(#{columns-small(2)});
    }
  }

  &--auto {
    height: auto;
  }

  &__frame {
    height: rem(180px);
    @media #{media("<", s)} {
      height: rem(80px);
    }
    display: flex;
    overflow: hidden;

    border: 1px solid color(gray);
    border-radius: 0 rem(12px) rem(12px) rem(12px);
  }

  &__img {
    @include rectangle(100%);

    object-fit: contain;
  }

  &__text {
    @include font-fsl("content-1", 16px, 130%);
    @media #{media("<")} {
      @include fsl(12px);
    }
  }
}
