.mask-text {
  $component: &;

  $duration: 1s;
  $timing-function: timing-function(major);
  $transition: $duration $timing-function;

  @mixin active {
    #{$component} {
      &__word {
        transform: translate3d(0, 15%, 0);
      }
    }
  }

  &--active {
    @include active;
  }

  // test
  &:hover {
    @include active;
  }

  &__mask {
    margin-bottom: rem(-5px);
    padding: rem(5px) 0;
    display: inline-flex;
    overflow: hidden;
  }

  &__word {
    transform: translate3d(0, 115%, 0);
    will-change: transform;

    padding: 0 rem(3px);
    display: inline-flex;

    white-space: nowrap; // в слове может быть несколько текстов "25 лет"
    transition: transform $transition;
  }

  &__text {
    display: inline;

    &--title {
      @include font-fsl("title-3", 54px, 110%);

      color: color(yellow);
    }

    &--large {
      @include font-fsl("title-3", 80px, 100%);

      color: color(white);
    }

    &--top {
      @include font-fsl("title-3", 24px, 100%);

      margin-left: rem(5px);

      vertical-align: top;
      color: color(white);
    }

    &--slider {
      &--large {
        @include font-fsl("title-2", 20px, 130%);
      }

      &--small {
        @include font-fsl("title-2", 14px, 130%);
      }
    }
  }
}
