.medical-info {
  margin: rem(90px) 0 rem(80px);
  width: calc(#{columns(4)});
  margin-left: auto;

  &__title {
    @include font-fsl('title-2', 32px, 120%);
  }

  &__text {
    @include font-fsl('content-1', 20px, 160%);

    margin-top: rem(20px);
  }

  &__button {
    margin-top: rem(40px);
  }
} 

.medical-post {
  $component: &;
  $transition: transition(major);

  margin-top: rem(40px);
  margin-left: auto;
  margin-right: calc(#{columns(2)} + #{$column-gap});
  width: calc(#{columns(2)});
  display: block;

  &:hover {
    #{$component} {
      &__img {
        transform: scale(1.15);
      }
    }
  }

  &__image-wrapper {
    display: flex;
  }

  &__image {
    position: relative;
    z-index: 0;

    display: flex;
    overflow: hidden;

    border-radius: 0 0 rem(40px) 0;
  }

  &__img {
    transition: transform $transition;
  }

  &__mark {
    @include rectangle(rem(44px));

    position: absolute;
    z-index: 2;
    bottom: rem(20px);
    right: rem(20px);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: color(blue);
    border-radius: 50%;

    &::before {
      @include inset;

      position: absolute;
      z-index: 1;
      transform: scale(0);

      content: "";

      background-color: color(yellow);
      border-radius: 50%;
      transition: transform $transition;
    }
  }

  &__svg {
    @include rectangle(rem(17px));

    position: relative;
    z-index: 2;

    path,
    line {
      transition: stroke $transition;
    }
  }

  &__mid {
    margin-top: rem(20px);
  }

  &__bottom {
    @include font-fsl('title-2', 14px, 130%);

    margin-top: rem(16px);
  }
}
