.press {
  $component: &;
  $easing: timing-function(major);
  $transition: duration(default) $easing;
  $radius: #{rem(8px)};
  $move: 2px;

  @mixin radius-crop {
    overflow: hidden;

    border-radius: $radius;
  }

  display: flex;

  // btn

  &__btn {
    @include radius-crop;

    position: relative;
    z-index: 0;

    display: flex;

    cursor: pointer;

    &:hover {
      #{$component} {
        &__content,
        &__bg,
        &__decor {
          &-item {
            &--start {
              clip-path: inset(0 0 100% 0);
            }

            &--end {
              clip-path: inset(0 0 0 0);
            }
          }

          &-arrow {
            &:nth-child(1) {
              transform: translate(rem($move), rem($move));
            }

            &:nth-child(2) {
              transform: translate(rem(-$move), rem(-$move));
            }
          }
        }
      }
    }
  }

  // text

  &__text {
    @include font-fsl("title-1", 11px, 100%);

    white-space: nowrap;

    &--start {
      color: color(white);
    }

    &--end {
      color: color(black);
    }
  }

  // content

  &__content {
    @include radius-crop;

    position: relative;
    z-index: 3;

    display: flex;

    &-item {
      @include radius-crop;

      padding: 0 rem(28px);
      height: rem(41px);
      display: flex;
      justify-content: center;
      align-items: center;

      transition: clip-path $transition;

      &--start {
        clip-path: inset(0 0 0 0);
      }

      &--end {
        position: absolute;

        clip-path: inset(100% 0 0 0);
      }
    }
  }

  // bg & decor

  &__bg,
  &__decor {
    pointer-events: none;
  }

  // bg

  &__bg {
    @include radius-crop;
    @include inset;

    position: absolute;
    z-index: 1;

    &-item {
      @include radius-crop;
      @include inset;

      position: absolute;

      border-radius: $radius;
      transition: clip-path $transition;

      &--start {
        clip-path: inset(0 0 0 0);

        border: 2px solid color(white);
      }

      &--end {
        clip-path: inset(100% 0 0 0);

        background-color: color(yellow);
      }
    }
  }

  // decor

  &__decor {
    @include radius-crop;
    @include inset;

    position: absolute;
    z-index: 2;

    &-item {
      @include radius-crop;
      @include inset;

      position: absolute;
      z-index: 0;

      transition: clip-path $transition;

      &--start {
        clip-path: inset(0 0 0 0);

        #{$component} {
          &__decor {
            &-arrow {
              &::before {
                border-color: color(yellow);
              }
            }
          }
        }
      }

      &--end {
        clip-path: inset(100% 0 0 0);

        #{$component} {
          &__decor {
            &-arrow {
              &::before {
                border-color: color(black);
              }
            }
          }
        }
      }
    }

    &-arrow {
      @include rectangle(rem(10px));

      position: absolute;
      z-index: 0;

      transition: transform $transition;

      &::before {
        @include inset;

        position: absolute;

        content: "";

        border: 1px solid black;
        border-bottom: none;
        border-right: none;
        border-radius: rem(5px) 0 0 0;
      }

      &:nth-child(1) {
        top: rem(8px);
        left: rem(8px);
      }

      &:nth-child(2) {
        bottom: rem(8px);
        right: rem(8px);

        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }
}
