.press {
  $component: &;
  $easing: timing-function(major);
  $duration: duration(default);
  $transition: $duration $easing;
  $decor-move: rem(2px);
  $icon-move: rem(8px);

  --radius: #{rem(8px)};

  @mixin radius-crop {
    overflow: hidden;

    border-radius: var(--radius);
  }

  display: flex;

  &--white {
    --radius: #{rem(12px)};
    @media #{media("<")} {
      --radius: #{rem(6px)};
    }

    #{$component} {
      &__btn {
        &:hover {
          #{$component} {
            &__content,
            &__bg,
            &__decor {
              &-arrow {
                $white-decor-move: rem(4px);

                &:nth-child(1) {
                  transform: translate($white-decor-move, $white-decor-move);
                }

                &:nth-child(2) {
                  transform: translate(-$white-decor-move, -$white-decor-move);
                }
              }
            }
          }
        }
      }

      &__text {
        @include fsl(13px);
        @media #{media("<")} {
          @include fsl(8px);
        }

        &--start {
          color: color(black);
        }
      }

      &__content {
        &-item {
          padding: 0 rem(40px);
          height: rem(60px);
          @media #{media("<")} {
            padding: 0 rem(10px);
            height: rem(28px);
          }
        }
      }

      &__bg {
        &-item {
          &--start {
            border: 2px solid color(gray);
          }

          &--end {
            background-color: color(yellow);
          }
        }
      }

      &__decor {
        &-arrow {
          $white-offset: rem(10px);

          &:nth-child(1) {
            top: $white-offset;
            left: $white-offset;
            @media #{media("<")} {
              top: 4px;
              left: 4px;
            }
          }

          &:nth-child(2) {
            bottom: $white-offset;
            right: $white-offset;
            @media #{media("<")} {
              bottom: 4px;
              right: 4px;
            }
          }
        }
      }
    }
  }

  &--menu {
    --radius: #{rem(12px)};

    #{$component} {
      &__text {
        @include fsl(18px);
      }

      &__content {
        &-item {
          padding: 0 rem(34px);
          height: rem(60px);
        }
      }

      &__bg {
        &-item {
          &--start {
            background-color: color(blue);
            border: none;
          }

          &--end {
            background-color: color(yellow);
          }
        }
      }

      &__decor {
        display: none;
      }
    }
  }

  // isolation
  &--info {
    --radius: #{rem(12px)};

    #{$component} {
      &__btn {
        &:hover {
          #{$component} {
            &__content,
            &__bg,
            &__decor {
              &-arrow {
                $white-decor-move: rem(4px);

                &:nth-child(1) {
                  transform: translate($white-decor-move, $white-decor-move);
                }

                &:nth-child(2) {
                  transform: translate(-$white-decor-move, -$white-decor-move);
                }
              }
            }
          }
        }
      }

      &__text {
        @include fsl(13px);
      }

      &__content {
        &-item {
          padding: 0 rem(40px);
          height: rem(60px);
        }
      }

      &__bg {
        &-item {
          &--start {
            background-color: color(blue);
            border: none;
          }

          &--end {
            background-color: color(yellow);
          }
        }
      }

      &__decor {
        &-arrow {
          $white-offset: rem(10px);

          &:nth-child(1) {
            top: $white-offset;
            left: $white-offset;
          }

          &:nth-child(2) {
            bottom: $white-offset;
            right: $white-offset;
          }
        }
      }
    }
  }

  &--li {
    #{$component} {
      &__text {
        @include font-fsl("title-1", 13px, 100%);

        &--start {
          color: color(black);
        }
      }

      &__content {
        &-item {
          padding: 0 rem(41px);
          height: rem(60px);
        }
      }

      &__bg {
        &-item {
          &--start {
            border: 1px solid color(gray);
          }
        }
      }

      &__decor {
        display: none;
      }

      &__icon {
        margin-right: rem(8px);

        &-img {
          @include rectangle(rem(24px));
        }
      }
    }
  }

  &--full {
    #{$component} {
      &__btn {
        width: 100%;
      }
      
      &__content {
        width: 100%;

        &-item {
          width: 100%;
        }
      }
    }
  }

  &--unit {
    #{$component} {
      &__btn {
        width: auto
      }

      &__text {
        &--start {
          color: color(black);
        }
    
        &--end {
          color: color(black);
        }
      }

      &__bg {
        &-item {
          &--start {
            border: 1px solid color(gray);
          }
        }
      }
    }
  }

  // btn

  &__btn {
    @include radius-crop;

    position: relative;
    z-index: 0;

    display: flex;

    cursor: pointer;

    @media #{media('<')} {
      width: 100%;
      justify-content: center;
    }

    &:hover {
      #{$component} {
        &__content,
        &__bg,
        &__decor {
          &-item {
            &--start {
              clip-path: inset(0 0 100% 0);
            }

            &--end {
              clip-path: inset(0 0 0 0);
            }
          }

          &-arrow {
            @keyframes press-decor-arrow {
              0% {
                opacity: 0;
              }

              100% {
                opacity: 1;
              }
            }

            animation-name: press-decor-arrow;

            &:nth-child(1) {
              transform: translate($decor-move, $decor-move);
            }

            &:nth-child(2) {
              transform: translate(-$decor-move, -$decor-move);
            }
          }
        }

        &__icon {
          transform: translateX(-$icon-move);
        }
      }
    }
  }

  // text

  &__text {
    @include font-fsl("title-1", 11px, 100%);

    white-space: nowrap;
    transition: color $transition;

    &--start {
      color: color(white);
    }

    &--end {
      color: color(black);
    }
  }

  // content

  &__content {
    @include radius-crop;

    position: relative;
    z-index: 3;

    display: flex;

    &-item {
      @include radius-crop;

      padding: 0 rem(28px);
      height: rem(41px);
      display: flex;
      justify-content: center;
      align-items: center;

      transition: clip-path $transition;

      &--start {
        clip-path: inset(0 0 0 0);
      }

      &--end {
        position: absolute;

        max-width: 100%;
        clip-path: inset(100% 0 0 0);
      }
    }
  }

  // bg & decor

  &__bg,
  &__decor {
    pointer-events: none;
  }

  // bg

  &__bg {
    @include radius-crop;
    @include inset;

    position: absolute;
    z-index: 1;

    &-item {
      @include radius-crop;
      @include inset;

      position: absolute;

      transition: clip-path $transition;

      &--start {
        clip-path: inset(0 0 0 0);

        border: 2px solid color(white);
      }

      &--end {
        clip-path: inset(100% 0 0 0);

        background-color: color(yellow);
      }
    }
  }

  // decor

  &__decor {
    @include radius-crop;
    @include inset;

    position: absolute;
    z-index: 2;

    &-item {
      @include radius-crop;
      @include inset;

      position: absolute;
      z-index: 0;

      transition: clip-path $transition;

      &--start {
        clip-path: inset(0 0 0 0);

        #{$component} {
          &__decor {
            &-arrow {
              &::before {
                border-color: color(yellow);
              }
            }
          }
        }
      }

      &--end {
        clip-path: inset(100% 0 0 0);

        #{$component} {
          &__decor {
            &-arrow {
              &::before {
                border-color: color(black);
              }
            }
          }
        }
      }
    }

    &-arrow {
      @include rectangle(rem(10px));

      position: absolute;
      z-index: 0;

      transition: transform $transition;
      animation-timing-function: $easing;
      animation-duration: math.div($duration, 3);
      animation-iteration-count: 6;
      animation-direction: alternate-reverse;

      &::before {
        @include inset;

        position: absolute;

        content: "";

        border: 1px solid black;
        border-bottom: none;
        border-right: none;
        border-radius: rem(5px) 0 0 0;
      }

      &:nth-child(1) {
        top: rem(8px);
        left: rem(8px);
      }

      &:nth-child(2) {
        bottom: rem(8px);
        right: rem(8px);

        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }

  // icon

  &__icon {
    margin-right: rem(18px);
    position: relative;
    z-index: 0;
    display: flex;
    flex-shrink: 0;

    transition: transform $transition;

    &-img {
      @include rectangle(rem(20px));

      flex-shrink: 0;
    }

    &-hidden {
      position: absolute;
      left: 0;
      top: 0;

      opacity: 0;
      transition: opacity $transition;
    }
    &-show {
      transition: opacity $transition;
    }
  }
}
