.preloader {
  $component: &;

  $hide-transition: 2s timing-function(major);

  --progress: 0%;

  @keyframes preloader-hide {
    0% {
      height: 100%;
    }

    100% {
      height: 0;
    }
  }

  @include inset;

  position: fixed;
  z-index: 3;

  width: 100vw;

  pointer-events: none;

  &--hide {
    #{$component} {
      &__container {
        animation: preloader-hide $hide-transition forwards;
      }
    }
  }

  &__container {
    transform: translate3d(0, 0, 0);
    will-change: height;

    height: 100%;
    pointer-events: all;
    overflow: hidden;
  }

  &__layout {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: color(white);
  }

  &__logo {
    position: relative;
    z-index: 0;
  }

  &__svg {
    @include rectangle(rem(258px), rem(65px));

    position: absolute;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      clip-path: inset(0 0 0 var(--progress));

      path {
        fill: color(gray);
      }
    }

    &:nth-child(2) {
      clip-path: inset(0 calc(100% - var(--progress)) 0 0);

      path {
        fill: color(blue);
      }
    }
  }
}
