.rails {

  $transition: transition(major);

  @media #{media(">")} {

    height: 100%;

    &__train {
      position: sticky;
      transition: $transition;
      // height: 70vh;
      // display: flex;
      // justify-content: flex-end;
      // align-items: center;
    } 
  }
}
