.rails {

  @media #{media(">")} {

    height: 100%;

    &__train {
      position: sticky;
      transition: .5s;
      // height: 70vh;
      // display: flex;
      // justify-content: flex-end;
      // align-items: center;
    } 
  }
}
