.select {
  $component: &;
  $radius: rem(12px);
  $transition: transition(major);

  --panel-height: #{rem(60px)};
  --drop-height: #{rem(180px)};
  --radius: #{rem(8px)};
  @media #{media("<")} {
    --panel-height: #{rem(44px)};
  }

  position: relative;

  height: var(--panel-height);

  // order page
  &--mid {
    --drop-height: #{rem(200px)};
  }
  &--big {
    --drop-height: #{rem(382px)};

    #{$component} {
      &__value {
        padding: rem(12px);
        height: auto;
      }
    }
  }

  * {
    &,
    &::before,
    &::after {
      transition: $transition;
    }
  }

  &:hover {
    #{$component} {
      &__mask {
        border-color: color(blue);
      }
    }
  }

  &--open {
    --radius: #{rem(12px)};

    z-index: 1;

    &:hover {
      #{$component} {
        &__mask {
          border-color: color(blue);
        }
      }
    }

    #{$component} {
      &__mask {
        height: calc(var(--panel-height) + var(--drop-height));

        border-color: color(blue);
        box-shadow: box-shadow(drop);
      }

      &__icon {
        transform: rotate(180deg);
      }

      &__svg {
        path {
          fill: color(blue);
        }
      }
    }
  }

  &--value {
    #{$component} {
      &__text {
        color: color(black);
      }
    }
  }

  &__mask {
    @include inset;

    position: absolute;
    bottom: auto;

    height: var(--panel-height);
    overflow: hidden;

    background-color: color(white);
    border: 1px solid color(gray);
    border-radius: var(--radius);
  }

  &__panel {
    height: var(--panel-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
  }

  &__text {
    @include font-fsl("title-1", 13px, 100%);
    @media #{media("<")} {
      @include fsl(10px);
      padding: 0 rem(12px);
    }
    padding: 0 rem(20px);

    color: color(gray-dark);

    &--normal {
      text-transform: none;
    }
  }

  &__icon {
    padding: 0 rem(20px);
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  &__svg {
    @include rectangle(rem(20px));
    @media #{media("<")} {
      @include rectangle(rem(18px));
    }
  }

  &__drop {
    @include scrollbar-hidden;

    height: calc(var(--drop-height) + 1px);
    overflow-y: auto;

    border-top: 1px solid color(gray);
  }

  &__value {
    @include font-fsl("title-1", 13px, 100%);
    @media #{media("<")} {
      @include fsl(10px);
      padding: 0 rem(12px);
    }
    padding: 0 rem(20px);
    height: var(--panel-height);
    display: flex;
    align-items: center;

    color: color(black);
    cursor: pointer;

    &:hover,
    &--active {
      background-color: color(gray);
    }

    &:not(:first-child) {
      border-top: 1px solid color(gray);
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    @media #{media("<")} {
      display: block;
    }
  }

  &__item {
    padding: rem(12px) rem(12px) rem(7px);
    @media #{media("<")} {
      padding: rem(12px);

      display: flex;
      align-items: center;
    }
    cursor: pointer;

    &:hover,
    &--active {
      background-color: color(gray);
    }

    &:not(:first-child) {
      border-left: 1px solid color(gray);
      @media #{media("<")} {
        border-left: none;
        border-top: 1px solid color(gray);
      }
    }
  }
  
  &__image {
    margin-bottom: rem(12px);
    @media #{media("<")} {
      margin-bottom: 0;
      margin-right: rem(12px);

      max-width: rem(48px);
    }
    max-width: rem(119px);
    display: flex;
    align-items: center;
  }
  
  &__img {
    border-radius: 4px;
  }

  &__title {
    @include font-fsl("title-1", 13px, 100%);
    @media #{media("<")} {
      @include fsl(10px);
    }

    text-transform: uppercase;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__col {
    &:nth-child(1) {
      margin-right: rem(31px);
      @media #{media("<")} {
        margin-right: rem(12px);

        max-width: rem(48px);
      }
      max-width: rem(64px);
      display: flex;
      align-items: center;
    }
    &:nth-child(2) {
      display: flex;
      align-items: center;
      @media #{media("<")} {
        display: block;
      }
    }
  }
  &__col-item {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$column} + #{$column-gap} * 2);
    }
    &:nth-child(2) {
      width: calc(#{columns(2)} + #{$column-gap});
    }
  }

  &__heading {
    @include font-fsl("title-1", 18px, 100%);
    @media #{media("<")} {
      @include fsl(12px);
    }

    text-transform: uppercase;
  }

  &__properties {
    display: flex;

    @media #{media("<")} {
      margin-top: rem(8px);
    }
  }
  &__properties-item {
    flex-shrink: 0;
    width: calc(#{$column} + #{$column-gap});
    @media #{media("<")} {
      width: auto;

      &:not(:first-child) {
        margin-left: rem(12px);
      }
    }
  }
  &__properties-label {
    @include font-fsl("content-1", 12px, 130%);
    @media #{media("<")} {
      @include font-fsl("content-1", 10px, 130%);
    }
    margin-bottom: rem(4px);
  }
  &__properties-title {
    @include font-fsl("title-2", 12px, 100%);
    @media #{media("<")} {
      @include font-fsl("title-2", 10px, 100%);
    }
  }
}
