.slide {
  $component: &;
  $transition: transition(major);

  display: block;

  &:hover {
    #{$component} {
      &__img {
        transform: scale(1.1);
      }

      &__mark {
        background-color: color(yellow);

        &-svg {
          path,
          line {
            stroke: color(black);
          }
        }
      }
    }
  }

  &--small {
    @media #{media("<")} {
      width: rem(290px);
    }
    #{$component} {
      &__top {
        height: rem(295px);
        @media #{media("<")} {
          height: rem(193px);
        }
      }

      &__bottom {
        margin-top: rem(16px);
        @media #{media("<")} {
          margin-top: rem(12px);
        }
      }

      &__panel {
        &-col {
          &:last-child {
            margin-left: $column-gap;
          }
        }
      }

      &__text {
        @include font-fsl("title-2", 14px, 130%);
        font-weight: 550;
        @media #{media("<")} {
          margin-top: rem(12px);
        }
        margin-top: rem(16px);
      }

      &__img {
      }

      &__date {
        &-day {
          @include font-fsl("title-2", 24px, 100%);
          font-weight: 550;
        }

        &-month {
          @include font-fsl("title-2", 12px, 100%);
          font-weight: 550;
          margin-left: rem(12px);
        }
      }
    }
  }

  &--large {
    display: flex;

    #{$component} {
      &__top {
        width: calc(#{columns(4)});
        height: rem(398px);
        flex-shrink: 0;
      }

      &__bottom {
        margin-left: $column-gap;
      }

      &__panel {
        &-col {
          width: calc(#{$column});

          &:last-child {
            margin-left: $column-gap;
          }
        }
      }

      &__text {
        @include font-fsl("title-2", 20px, 130%);
        font-weight: 550;

        margin-top: rem(40px);
      }

      &__img {
      }

      &__date {
        &-day {
          @include font-fsl("title-2", 40px, 100%);
          font-weight: 550;
        }

        &-month {
          @include font-fsl("title-2", 16px, 100%);
          font-weight: 550;
          margin-left: rem(10px);
        }
      }
    }
  }

  &__top {
    position: relative;
    z-index: 0;

    display: grid;
    overflow: hidden;

    border-radius: 0 0 rem(40px) 0;
  }

  &__mark {
    @include rectangle(rem(44px));
    @media #{media("<")} {
      @include rectangle(rem(36px));
    }
    position: absolute;
    bottom: $column-gap;
    right: $column-gap;
    @media #{media("<")} {
      bottom: $column-gap-small;
      right: $column-gap-small;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: color(blue);
    border-radius: 50%;
    transition: background-color $transition;

    &-svg {
      @include rectangle(rem(17px));

      path,
      line {
        transition: stroke $transition;
      }
    }
  }

  &__bottom {
  }

  &__panel {
    display: flex;
    align-items: flex-start;

    &-col {
      display: grid;
      overflow: hidden;

      > * {
        @include grid-area(1, 1, 1, 1);
      }
    }
  }

  &__img {
    @include grid-area(1, 1, 1, 1);
    @include rectangle(100%);

    transform: scale(1);
    will-change: transform;

    object-fit: cover;

    transition: transform $transition;
  }

  &__date {
    display: flex;

    &-day,
    &-month {
      flex-shrink: 0;
    }

    &-day {
      color: color(blue);
    }

    &-month {
    }
  }

  &__label {
    display: flex;

    &-button {
      @include font-fsl("content-1", 12px, 130%);
      @media #{media("<")} {
        @include fsl(10px);
      }
      padding: 0 rem(12px);
      height: rem(30px);
      display: flex;
      align-items: center;

      background-color: color(gray-light);
      border-radius: rem(6px);
      white-space: nowrap;
    }
  }

  &__text {
    &-wrapper {
      position: relative;
      z-index: 0;

      display: grid;

      > * {
        @include grid-area(1, 1, 1, 1);
      }
    }
  }

  &__word {
    overflow: hidden;

    &,
    &-text {
      display: inline-block;
    }

    &-wrapper {
      display: inline-flex;
    }
  }
}
