.space {
  $component: &;

  $properties: (
    pt: padding-top,
    pb: padding-bottom,
    mt: margin-top,
    mb: margin-bottom,
  );
  $anywhere: (4, 8, 9, 10, 12, 16, 27, 32, 36, 40, 54, 60, 64, 96, 145, 180);

  @mixin space($property: margin-top) {
    @each $value in $anywhere {
      &--#{$value} {
        #{$property}: rem(1px * $value);
      }
    }

    &--cooperation {
      #{$property}: rem(32px);

      @media #{media("<")} {
        #{$property}: rem(24px);
      }
    }

    &--listing {
      #{$property}: rem(40px);

      @media #{media("<")} {
        #{$property}: rem(20px);
      }
    }

    &--sub-hr {
      #{$property}: rem(12px);
    }
    &--hr {
      #{$property}: rem(16px);
      @media #{media("<")} {
        #{$property}: rem(4px);
      }
    }
    &--sub-block {
      #{$property}: rem(40px);
      @media #{media("<")} {
        #{$property}: rem(12px);
      }
    }
    &--mid-block {
      #{$property}: rem(60px);
    }
    &--block {
      #{$property}: rem(80px);

      @media #{media("<")} {
        #{$property}: rem(32px);
      }
    }
    &--sub-section {
      #{$property}: rem(100px);

      @media #{media("<")} {
        #{$property}: rem(32px);
      }
    }
    &--mid-section {
      #{$property}: rem(120px);

      @media #{media("<")} {
        #{$property}: rem(48px);
      }
    }
    &--l-section {
      #{$property}: rem(160px);

      @media #{media("<")} {
        #{$property}: rem(34px);
      }
    }
    &--header {
      #{$property}: rem(169px);
      @media #{media("<")} {
        #{$property}: rem(79px);
      }
    }
    &--section {
      #{$property}: rem(180px);

      @media #{media("<")} {
        #{$property}: rem(48px);
      }
    }

    &--gap {
      #{$property}: $column-gap;
    }
    &--padding {
      #{$property}: $column-padding;
    }
  }

  @each $mod, $property in $properties {
    &--#{$mod} {
      &#{$component} {
        @include space($property);
      }
    }
  }
}
