.stack {
  $component: &;

  &--unit-features {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            margin-top: rem(40px);
          }
        }
      }
    }
  }

  &--index {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            margin-top: rem(10px);
          }
        }
      }
    }
  }

  &--default {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            display: block;
            margin-top: rem(40px);
            @media #{media("<")} {
              margin-top: rem(20px);
            }
          }
        }
      }
    }
  }

  &--small {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            margin-top: rem(24px);
          }
        }
      }
    }
  }
}
