.stack {
  $component: &;

  &--position {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            margin-top: rem(40px);
          }
        }
      }
    }

    &-mobile {
      > {
        #{$component} {
          &__item {
            &:not(:first-child) {
              margin-top: rem(20px);
            }
          }
        }
      }
    }
  }

  &--filters {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            margin-top: rem(60px);
          }
        }
      }
    }
  }

  &--unit-mobile {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            margin-top: rem(12px);
          }
        }
      }
    }
  }

  &--unit-features {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            margin-top: rem(40px);
          }
        }
      }
    }
  }

  &--index {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            margin-top: rem(10px);
          }
        }
      }
    }
  }

  &--default {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            display: block;
            margin-top: rem(40px);
            @media #{media("<")} {
              margin-top: rem(20px);
            }
          }
        }
      }
    }
  }

  &--small {
    > {
      #{$component} {
        &__item {
          &:not(:first-child) {
            margin-top: rem(24px);
          }
        }
      }
    }
  }
}
