.swiper-slider {
  $ids: (0);

  @mixin swiper-slider($id) {
    @if $id == 0 {
      overflow: visible;

      .swiper-slide {
        padding-right: calc(#{$column-gap});
        width: calc(#{columns(3)} + #{$column-gap}) !important;
        height: auto;
        @media #{media("<")} {
          width: auto !important;
          padding-right: rem(20px);
        }
      }
    }
  }

  @each $id in $ids {
    &[data-swiper-slider="#{$id}"] {
      @include swiper-slider($id);
    }
  }
}
