.text {
  &--qpv {
    @include font-fsl("content-1", 16px, 130%);
  }
  &--lhc {
    @include font-fsl("content-1", 20px, 160%);
  }
  &--ezx {
    @include font-fsl("content-1", 24px, 130%);
  }
  &--kyu {
    @include font-fsl("title-2", 18px, 120%);
  }
  &--zay {
    @include font-fsl("title-2", 60px, 110%);
  }

  &--feature {
    &-text {
      @include font-fsl("content-1", 24px, 130%);
    }
    &-label {
      @include font-fsl("content-1", 20px, 160%);
    }
    &-desc {
      @include font-fsl("content-1", 16px, 130%);
    }
  }

  &--blue {
    color: color(blue);
  }
  &--pre-line {
    white-space: pre-line;
  }
  
  &--3 {
    width: calc(#{columns(3)});
  }
  &--4 {
    width: calc(#{columns(4)});
  }
  &--5 {
    width: calc(#{columns(5)});
  }
}
