.where {
  padding: rem(38px) 0 rem(36px);

  border: 1px solid color(gray);

  &__link-wrapper {
    display: flex;
  }
  &__link {
    @include font-fsl("content-1", 16px, 130%);

    text-decoration: underline;
    color: color(blue);
  }

  &__location {
    @include font-fsl("content-1", 16px, 130%);
  }

  &__address-wrapper {
    display: flex;
    align-items: flex-end;
  }
  &__svg {
    @include rectangle(rem(18px));

    margin-right: rem(12px);
    flex-shrink: 0;
  }
  &__address {
    @include font-fsl("content-1", 16px, 130%);
  }
}
