.words {
  $component: &;
  $easing: timing-function(major);

  @include font-fsl("title-3", 130px, 100%);
  font-weight: 550;

  @media #{media('<')} {
    @include fsl(44px);
    font-weight: 550;
  }

  &--blue {
    color: color(blue);
  }

  &--reslider {
    @include fsl(72px);
  }

  &--up-mid {
    @keyframes words-up-mid {
      0% {
        transform: translateY(-100%);
      }

      100% {
        transform: translateY(0);
      }
    }

    #{$component} {
      &__text {
        animation-name: words-up-mid;
      }
    }
  }

  &--mid-up {
    @keyframes words-mid-up {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(-100%);
      }
    }

    #{$component} {
      &__text {
        animation-name: words-mid-up;
      }
    }
  }

  &--mid-down {
    @keyframes words-mid-down {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(100%);
      }
    }

    #{$component} {
      &__text {
        animation-name: words-mid-down;
      }
    }
  }

  &--down-mid {
    @keyframes words-down-mid {
      0% {
        transform: translateY(100%);
      }

      100% {
        transform: translateY(0);
      }
    }

    #{$component} {
      &__text {
        animation-name: words-down-mid;
      }
    }
  }

  &__mask {
    margin-right: rem(-10px);
    padding-right: rem(10px);
    display: inline-flex;
    overflow: hidden;
  }

  &__text {
    display: inline-block;

    animation-duration: var(--duration);
    animation-timing-function: $easing;
    animation-fill-mode: forwards;
  }
}
