.wrap-list {
  $component: &;

  --gap: #{rem(4px)};

  &--large {
    --gap: #{rem(8px)};
    @media #{media("<")} {
      --gap: #{rem(6px)};
    }
  }

  &--socials {
    --gap: #{rem(12px)};
  }

  &--catalog {
    @media #{media("<")} {
      @include scrollbar-hidden;

      position: relative;
      left: -$column-padding-small;

      padding-left: $column-padding-small;
      width: 100vw;
      overflow-x: auto;
    }

    #{$component} {
      &__list {
        @media #{media("<")} {
          flex-wrap: nowrap;
        }
      }

      &__item {
        &:last-child {
          @media #{media("<")} {
            padding-right: $column-padding-small;
          }
        }
      }
    }
  }

  &__list {
    margin-top: calc(-1 * var(--gap));
    margin-left: calc(-1 * var(--gap));
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: var(--gap);
    margin-left: var(--gap);
  }
}
