mixin arrow-drop-svg
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M16.0775 6.07764L17.256 7.25615L10.0001 14.5121L2.74414 7.25615L3.92265 6.07764L10.0001 12.155L16.0775 6.07764Z' fill='#191A1C')
