mixin circle-button--arrow
  .circle-button.circle-button--arrow
    button.circle-button__button
      .circle-button__background
        .circle-button__background-item
        .circle-button__background-item
      .circle-button__icon
        .circle-button__icon-item
          +arrow-left-svg.circle-button__svg
        .circle-button__icon-item
          +arrow-left-svg.circle-button__svg
