mixin drop(items)
  .drop(class=attributes.class data-drop data-qwe=attributes.small)
    .drop__wrap
      .drop__btn(data-drop-btn)
        .drop__cur
          block
        +arrow-drop-svg.drop__svg
      nav.drop__nav(data-drop-nav)
        ul.drop__list
          each item, index in items
            li.drop__item
              a.drop__link(href=`#drop-${index}`)= item
