mixin feature-section
  section.feature-section
    .container
      .feature-section__row
        .feature-section__col
          +picture("feature-section.jpg")
        .feature-section__col
          +picture("feature-section.jpg")
