mixin header
  header.header
    |header123

//- 
  header
    modifiers
      --transparent
      --white
    components
      link
      btn
      logo
      drop
      modals
        products
        search
