mixin header
  header.header
    .header__top
      |top
    .header__bottom
      |bottom



//-
  header
    modifiers
      --transparent
      --white
    components
      link
      btn
      logo
      drop
      modals
        products
        search
