extends ../app

block definitions
  -
    app.title = 'О компании';

block preloader
block grid-test
block js-test

block content
  +space(['header', 'pd'])
  +space(['sub-section'])
  +container
    +grid([2, 'last-bottom'])
      .grid__item
        +heading(['large'], 2)
          |Внедряем культуру профессионального использования СИЗОД
      .grid__item
        +grid(['controls'])
          .grid__item
            .circle
              button.circle__button(type="button")
                +arrow-left-svg.circle__svg.circle__svg--arrow-left
          .grid__item
            .circle
              button.circle__button(type="button")
                +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
    +space(['sub-section'])
    .swiper.swiper-slider(data-swiper-slider=0)
      .swiper-wrapper
        each i, index in repeat(6)
          .swiper-slide
            -
              var calture = {
                title: 'АО «Оскольский электрометаллургический комбинат»',
                items: [
                  'Поставка продукции',
                  'Обучение службы охраны труда',
                  'Обучение персонала',
                ],
              };
            +calture(calture)
    +space(['section'])
    +hr
    +space(['hr'])
    +heading(['sub', 'pre-line'], 2)
      |Наше производство
    +space([96])
    +grid([3])
      each i in repeat(3)
        .grid__item
          +our
    +space(['section'])
    +container(['about-article'])
      +article(['indent', 'large'])
        |Респираторный комплекс включен в&nbsp;перечень 
        span.article__highlight
          |системообразующих предприятий России
    +space(['sub-section'])
    +hr
    +space(['hr'])
    +grid([2])
      .grid__item
        +heading(['sub', 'pre-line'], 2)
          |Участие в некоммерческих объединениях
      .grid__item
        +grid(['about-markets', 'row-gap'])
              -
                var markets = [
                  {
                    filename: 'company-0.jpeg',
                    text: 'Интернет-магазин OZON',
                  },
                  {
                    filename: 'company-1.jpeg',
                    text: 'Интернет-магазин WILDBERRIES',
                  },
                  {
                    filename: 'company-2.jpeg',
                    text: 'Торговая сеть «Максидом»',
                  },
                  {
                    filename: 'company-3.jpeg',
                    text: 'Торговая сеть «Леруа Мерлен»',
                  },
                  {
                    filename: 'company-4.jpeg',
                    text: 'Сеть магазинов «Строитель»',
                  },
                ]
              each market in markets
                .grid__item
                  +market({ src: getImageSrc(market.filename), text: market.text })
    +space(['sub-section'])
    +hr
    +space(['hr'])
    +grid([2])
      .grid__item
        +heading(['sub', 'pre-line'], 2)
          |Участие в национальном проекте
      .grid__item
        +text(['lhc', 4])
          |Респираторный комплекс является участником национального проекта “Производительность труда и поддержка занятости”
        +space(['gap'])
        -
          var market = {
            src: getImageSrc('company-0.jpeg'),
            mods: [2, 'auto'],
          };
        +market(market)
