extends ../app

block definitions
  -
    app.title = 'Карточка товара';

block preloader
block js-test
block grid-test

block content
  +space(['header'], ['pt'])
  +space(['sub-block'])
  .container
    +grid([2])
      .grid__item
        |123
      .grid__item
        |123
