extends ../app

block definitions
  -
    app.title = 'Каталог';

//- block grid-test
  +grid-test

block side-modal
  +side-modal({ id: 'filters' })

block content
  +space(['header'], ['pt'])
  
  +space(['sub-block'])
  +container
    +breadcrumbs(['Главная', 'продукция'])
    +space(['sub-block'])
    +heading(['main'], 1)
      |продукция
    
  +space(['block'])
  +container
    +grid(['catalog-panel'])
      .grid__item
        button(data-side-modal-trigger='filters')
          |filters
      .grid__item
        |123
