extends ../app

block definitions
  -
    app.title = 'Каталог';

block preloader
block grid-test

block side-modal
  +side-modal({ id: 'filter' })

block content
  +space(['header'], ['pt'])
  
  +space(['sub-block'])
  +container
    +breadcrumbs(['Главная', 'продукция'])
    +space(['sub-block'])
    +heading(['main'], 1)
      |продукция
    
  +space(['block'])
  +container
    +grid(['catalog-panel'])
      .grid__item
        button(data-side-modal-trigger='filter')
          |show filter
        //- +wrap-list(['large'])
          .wrap-list__item
            |123
          .wrap-list__item
            |123
          .wrap-list__item
            |123
      .grid__item
        |123
