extends ../layouts/master

block content
  .qweqwe
    .container
      |before
  .catalog
    - for (let i = 0; i < 5; i++)
      .catalog__place
        a.product(href="#")
          .product__grid
            .product__cell
              img.product__img(src="assets/images/photo.jpg")
            .product__cell.product__cell--info
              h2.product__title
                |RK 9010
              .product__table
                .product__table-row.product__table-title
                  .product__table-col
                    |Класс защиты
                  .product__table-col
                    |Клапан выдоха
                .product__table-row.product__table-value
                  .product__table-col
                    |FFP1 R D
                  .product__table-col
                    |Нет
              .product__features
                .product__feature
                  img.product__feature-svg(src="assets/images/svg/feature.svg")
                  .product__feature-text
                    |Защита от всех видов аэрозолей
          .product__icon
            +phone-svg.product__svg
  .qweqwe
    .container
      |after
