extends ../app

block definitions
  -
    app.title = 'Каталог';

//- block grid-test
  +grid-test

block side-modal
  +side-modal({ id: 'filters' })

block content
  +space(['header'], ['pt'])
  
  +space(['sub-block'])
  +container
    +breadcrumbs(['Главная', 'продукция'])
    +space(['sub-block'])
    +heading(['main'], 1)
      |продукция
    
  +space(['block'])
  +container
    +grid(['catalog-panel'])
      .grid__item
        +wrap-list(['catalog'])
          -
            var items = [
              'Все',
              'RK 9000',
              'RK 6000',
              'АЛИНА®',
              'ЮЛИЯ®',
              'нева®',
              'GAGARA®',
            ];
          each item, index in items
            li.wrap-list__item
              +tab(['large', !index && 'active'])(data-filters-series)
                |!{item}
      .grid__item
        +press.press--info.press--full(data-side-modal-trigger='filters')
          |фильтры
  
  +space(['listing'])
  +listing
