extends ../app

block header
  |header
block footer
  |footer

mixin sub-title
  h2.sub-title(class=attributes.class)
    block

mixin btn
  .btn
    a.btn__btn(href="#")
      block

mixin company(index)
  -
    var texts = [
      'Интернет-магазин OZON',
      'Интернет-магазин WILDBERRIES',
      'Торговая сеть «Максидом»',
      'Торговая сеть «Леруа Мерлен»',
      'Сеть магазинов «Строитель»',
      'Торговый дом «Вимос»',
    ]

  a.company(href=("#company-" + index))
    .company__frame
      img.company__img(src="assets/images/company-" + index + ".jpeg")
    .company__text
      |#{texts[index]}

mixin companies(count = 6)
  -
    var maxCount = 6;

  .companies(class=attributes.class)
    - for (var index = 0; index < count; index++)
      .companies__place
        +company(index % maxCount)

block content
  section.section.container
    .hr.space-between
      +sub-title
        |Где купить в розницу
      +btn
        |полный список
    +companies.companies--margin--default
