extends ../app

block definitions
  -
    app.title = 'Потребителям';

block preloader
block grid-test
block js-test

block content
  +space(['header', 'pd'])
  +space(['sub-block', 'pd'])
  .container
    +breadcrumbs({ items: ['Главная', 'Потребителям'], breadcrumbMods: ['dark'] })
  +space(['sub-block'])
  +heading(['main'], 1)
  +space(['block'])
  div
    |123