extends ../app

block definitions
  -
    app.title = 'Потребителям';

block preloader
block grid-test
block js-test
block modal
  include ../components/form-response-modal

block content
  +space(['header'], ['pt'])
  +space(['sub-block'])
  +container
    +breadcrumbs(['Главная', 'Потребителям'])
    +space(['sub-block'])
    +heading(['main'], 1)
      |Потребителям
    +space(['block'])
    +grid(['qqbkwf'])
      .grid__item
        .article.article--indent
          |Мы&nbsp;работаем для того, 
          span.article__highlight
            |чтобы люди
          |, сталкиваясь с&nbsp;загрязненным воздухом на&nbsp;работе, в&nbsp;быту и&nbsp;в&nbsp;чрезвычайных ситуациях, 
          span.article__highlight
            |сохранили свое здоровье
  +space(['block'])
  .isolation
    section.info
      .info__container
        img.info__image(src="assets/images/info.jpg", alt="")
        h2.info__top
          .info__title
            |Используйте респиратор
          .info__row
            .info__col
              .info__title
                |для защиты
            .info__col
              .info__avatar
                img.info__img(src="assets/images/avatar.jpg")
          .info__title
            |органов дыхания
      +container
        .info__bottom
          .info__article
            |На&nbsp;пыльных производствах, при&nbsp;взаимодействии с&nbsp;лакокрасочными составами и&nbsp;химическими растворами, или&nbsp;в&nbsp;очаге распространения опасных инфекций
          //- +press.press--info.info__button-link
          //-   |Информация для потребителей
  +space(['section'])
  +container
    +grid(['centered-4'])
      .grid__item
        +heading(['page', 'blue'])
          |25+ лет
        +text(['kyu', 3])
          |продукция Респираторного комплекса с успехом применяется
    +space(['block'])
    +grid([3])
      -
        var items = [
          {
            src: getImageSrc('items-4.svg'),
            text: 'На металлургических производствах',
          },
          {
            src: getImageSrc('items-5.svg'),
            text: 'В шахтах и цементных заводах',
          },
          {
            src: getImageSrc('items-6.svg'),
            text: 'В инфекционных больницах',
          },
        ];
      each item in items
        .grid__item
          +feature(item)
  +space(['section'])
  +reslider('consumers')
  +space(['section'])
  +slider
  +space(['section'])
  .section-margin(data-examples-slider-component)
    +container
      .border
        .slider-panel
          .slider-panel__col
            h2.sub-title
              |Наиболее востребованные модели продукции
          .slider-panel__col
            .slider-panel__sub-col
              .controls.slider-panel__controls
                .controls__item
                  .circle
                    button.circle__button.js-slider-prev(type="button" data-examples-slider-prev)
                      +arrow-left-svg.circle__svg.circle__svg--arrow-left
                .controls__item
                  .circle
                    button.circle__button.js-slider-next(type="button" data-examples-slider-next)
                      +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
            .slider-panel__sub-col
              +press.press--info
                |Перейти в каталог
    .swiper.examples-slider.mid-section-margin(data-examples-slider-container)
      .swiper-wrapper
        a.swiper-slide.examples-slider__slide(href="#")
          .examples-slider__row
            .examples-slider__image
              +picture('example.jpeg').examples-slider__picture
            .examples-slider__content
              .examples-slider__content-item
                h3.examples-slider__title
                  |RK 9010
              .examples-slider__content-item
                .examples-slider__table
                  .examples-slider__table-row
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Класс защиты
                      p.examples-slider__table-value
                        |FFP1 R D
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Клапан выдоха
                      p.examples-slider__table-value
                        |Нет
              .examples-slider__content-item
                .examples-slider__content-mobile 
                  +press.press--white 
                    |о защите
                .examples-slider__feature
                  +feature-4-svg.examples-slider__feature-svg
                  .examples-slider__feature-content
                    h4.examples-slider__feature-title
                      |Защита от всех видов аэрозолей
                    .wrap-list.examples-slider__feature-value
                      .wrap-list__list
                        -
                          var items = [
                            'Пыль',
                            'Дым',
                            'Туман',
                          ]
                        each item in items
                          .wrap-list__item
                            .tag
                              .tag__tag
                                |#{item}
          //- .control.examples-slider__label
          //-   +arrow-left-svg.control__svg.control__svg--tilt

          .slide__mark
            svg.slide__mark-svg(xmlns="http://www.w3.org/2000/svg", width="18", height="18", viewBox="0 0 18 18", fill="none")
              path(d="M6.00202 1.41528H12.5283C14.7375 1.41528 16.5283 3.20614 16.5283 5.41528V11.9416", stroke="white", stroke-width="1.5")
              line(y1="-0.75", x2="17", y2="-0.75", transform="matrix(-0.707107 0.707107 0.707107 0.707107 13.3862 5.34448)", stroke="white", stroke-width="1.5")

        a.swiper-slide.examples-slider__slide(href="#")
          .examples-slider__row
            .examples-slider__image
              +picture('example-2.jpeg').examples-slider__picture
            .examples-slider__content
              .examples-slider__content-item
                h3.examples-slider__title
                  |RK 9011
              .examples-slider__content-item
                .examples-slider__table
                  .examples-slider__table-row
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Класс защиты
                      p.examples-slider__table-value
                        |FFP1 R D
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Клапан выдоха
                      p.examples-slider__table-value
                        |Нет
              .examples-slider__content-item
                .examples-slider__content-mobile 
                  +press.press--white 
                    |о защите
                .examples-slider__feature
                  +feature-4-svg.examples-slider__feature-svg
                  .examples-slider__feature-content
                    h4.examples-slider__feature-title
                      |Защита от всех видов аэрозолей
                    .wrap-list.examples-slider__feature-value
                      .wrap-list__list
                        -
                          var items = [
                            'Пыль',
                            'Дым',
                            'Туман',
                          ]
                        each item in items
                          .wrap-list__item
                            .tag
                              .tag__tag
                                |#{item}
          //- .control.examples-slider__label
          //-   +arrow-left-svg.control__svg.control__svg--tilt
          .slide__mark
            svg.slide__mark-svg(xmlns="http://www.w3.org/2000/svg", width="18", height="18", viewBox="0 0 18 18", fill="none")
              path(d="M6.00202 1.41528H12.5283C14.7375 1.41528 16.5283 3.20614 16.5283 5.41528V11.9416", stroke="white", stroke-width="1.5")
              line(y1="-0.75", x2="17", y2="-0.75", transform="matrix(-0.707107 0.707107 0.707107 0.707107 13.3862 5.34448)", stroke="white", stroke-width="1.5")
    +container 
      .slider-btn 
        +press.press--info
          |Перейти в каталог
  +space(['section'])
  +container
    .border
      +grid(['space-between'])
        .grid__item
          +heading(['sub'], 2)
            |Где купить в розницу
        .grid__item
          +press.press--info
            |полный список
      +space(['sub-section'])
      +grid([6])
        -
          var markets = [
            {
              filename: 'company-0.jpeg',
              text: 'Интернет-магазин OZON',
            },
            {
              filename: 'company-1.jpeg',
              text: 'Интернет-магазин WILDBERRIES',
            },
            {
              filename: 'company-2.jpeg',
              text: 'Торговая сеть «Максидом»',
            },
            {
              filename: 'company-3.jpeg',
              text: 'Торговая сеть «Леруа Мерлен»',
            },
            {
              filename: 'company-4.jpeg',
              text: 'Сеть магазинов «Строитель»',
            },
            {
              filename: 'company-5.jpeg',
              text: 'Торговый дом «Вимос»',
            },
          ]
        each market in markets
          .grid__item
            +market({ src: getImageSrc(market.filename), text: market.text })
    .mobile-only
      +space(['sub-section']) 
      +press.press--info
        |полный список
  +space(['section'])
  a(name='to-form')
  section.form-section
    .form-section__content
      .form-section__content-item
        .form-section__title-container
          h2.sub-title.form-section__title
            |связаться с нами
      .form-section__content-item
        .form-section__article-container
          .article.article--large.article--indent
            span.article__highlight
              |Сделать запрос
            |#{" "}на коммерческое предложение
      +space(['block'])
      +grid(['centered-6'])
        .grid__item
          +text(['ezx', 5])
            |Если вы хотите убедиться в оригинальности приобретенной продукции или сообщить о недостатках изделий, воспользуйтесь формой обратной связи, прикрепив фото:
          +space([60])
          .funds__list
            ul.funds-list
              each text in ['Обе стороны упаковки', 'Маркировка с датой изготовления и номером партии на упаковке', 'Маркировка на лицевой части респиратора']
                .funds-list__item
                  img.funds-list__img(src='assets/images/fund.svg')
                  .funds-list__text
                    |#{text}
      .form-section__content-item
        form.section-form(data-parsley-validate)
          .section-form__grid
            .section-form__item
              .form-field.form-field--error
                input.form-field__input(placeholder='Имя' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Название компании' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Телефон' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='E-mail' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item.section-form__item--row
              .form-field.form-field--textarea.form-field--error
                textarea.form-field__input(placeholder='Сообщение' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item 
              button.btn-file
                +clip-svg
                |прикрепить файл

            .section-form__item.section-form__item--right.section-form__bottom
              .section-form__agrement
                .simple-checkbox.simple-checkbox--error
                  label.simple-checkbox__label
                    input.simple-checkbox__input(name='agreement' type='checkbox' id='checkbox' required)
                    .simple-checkbox__box
                      +check-svg.simple-checkbox__svg
                    .simple-checkbox__content
                      |Даю согласие на обработку 
                      a.simple-checkbox__link(href="#")
                        |персональных данных
                    //- .simple-checkbox__error
                    //-   |Допустимы только буквы
              button.section-form__submit(type='submit')
                +press.press--info
                  |Отправить

  
