extends ../app

block header
  |header
block footer
  |footer

block grid-test

mixin btn(props = {})
  -
    var defaultProps = {
      fluid: false,
      tag: "div",
      href: "#",
      buttonType: "submit",
    }
    
    props = Object.assign({}, defaultProps, props);

  mixin btn-inner
    .btn__block.btn__block--content
    
      .btn__mask
        .btn__holder
        
          .btn__content
            .btn__text
              block

      .btn__mask
        .btn__holder

          .btn__content
            .btn__text.btn__text--dark
              block

    .btn__block.btn__block--layout.btn__block--background
    
      .btn__mask
        .btn__holder
        
          .btn__background.btn__background--blue

      .btn__mask
        .btn__holder

          .btn__background.btn__background--yellow

    .btn__block.btn__block--layout.btn__block--decorations
    
      .btn__mask
        .btn__holder
    
      .btn__mask
        .btn__holder

  .btn(class=(props.fluid && "btn--fluid"))
    case props.tag
      when "div"
        .btn__btn
          +btn-inner
            block
      when "a"
        a.btn__btn(href=props.href)
          +btn-inner
            block
      when "button"
        button.btn__btn(type=props.buttonType)
          +btn-inner
            block
    
block content
  section.section.container
    +btn({ fluid: true })
      |div fluid
  section.section.container
    +btn({ tag: 'a', href: '#hello' })
      |a
  section.section.container
    form
      +btn({ tag: 'button' })
        |button

  //- section.section.container
    .hr.space-between
      h2.sub-title
        |Где купить в розницу
      +btn
        |123
