extends ../app

block header
block footer

mixin features-section
  section.container.page-industry-features-section
    ul.features-list
      +features-item-1
      +features-item-1
      +features-item-2

block content
    //- +top-section.page-industry-top-section
    //- +feature-section
    //- +features-section
    +section-slider
