extends ../app

block header
block footer

mixin features-section
  section.container.page-industry-features-section
    ul.features-list
      +features-item-1
      +features-item-1
      +features-item-2

block content
    +top-section.page-industry-top-section
    +feature-section
    +features-section
    +section-slider.page-industry-section-slider
    section.page-industry-section
      .container
        .border-block
          h2.sub-title
            |Клиентский сервис
          .info-block.page-industry-info-block
            .info-block__col
              .info-block__feature
                .article
                  span.article__highlight
                    |Измеряем эффективность СИЗ
                  |#{" "}органов дыхания на рабочих местах сотрудников
            .info-block__col
              .info-block__text
                |Измерять соответствие используемых СИЗОД реальным рабочим условиям – способ актуализировать уровень защиты, оптимизировать затраты и повысить лояльность персонала, который видит заботу и контроль.
          .info-block
            .info-block__col
              .info-block__feature
                .article
                  |Проводим 
                  span.article__highlight
                    |совместные мотивационные и обучающие
                  |#{" "}мероприятия
            .info-block__col
              .info-block__text
                |Обучающие модули дадут всестороннее представление о противоаэрозольной защите и аспектах выстраивания системы эффективного применения респираторов.
              .info-block__text
                |Участвуя в программе обучения, предприятия демонстрируют практику непрерывного повышения уровня безопасности труда, выполняя требования ISO 45001.
    section.page-industry-section
      .container
        .border-block
          h2.sub-title
            |Информационные материалы
          .information-block.page-industry-information-block
            .information-block__col
              a.information-card(href="#")
                .information-card__image
                  +picture('information-card.jpeg').information-card__picture
                  .control.information-card__download
                    +download-svg.control__svg
                h3.information-card__title
                  |Каталог компании
                p.information-card__size
                  |235 КБ
            .information-block__col
              a.information-card(href="#")
                .information-card__image
                  +picture('information-card-2.jpeg').information-card__picture
                  .control.information-card__download
                    +download-svg.control__svg
                h3.information-card__title
                  |Листовка о клиентском сервисе
                p.information-card__size
                  |235 КБ
            .information-block__col
              a.information-card(href="#")
                .information-card__image
                  +picture('information-card-3.jpeg').information-card__picture
                  .control.information-card__download
                    +download-svg.control__svg
                h3.information-card__title
                  |Плакат по надеванию респиратора
                p.information-card__size
                  |235 КБ
    section.page-industry-section
      .container
        .border-block
          .slider-panel
            .slider-panel__col
              h2.sub-title
                |Наиболее востребованные модели продукции
            .slider-panel__col
              .slider-panel__sub-col
                .controls
                  .controls__item
                    .control.control--dark
                      +arrow-left-svg.control__svg
                  .controls__item
                    .control.control--dark
                      +arrow-left-svg.control__svg.control__svg--reverse
              .slider-panel__sub-col
                .btn
                  a.btn__btn(href="#")
                    |Перейти в каталог
          h2.sub-title
            |Наиболее востребованные модели продукции
