extends ../app

block definitions
  -
    app.title = 'Документация';

block content
  -
    var exampleDoc = {
      text: 'Методические рекомендации «Повышение эффективности индивидуальной защиты органов дыхания»',
      label: '235 КБ',
    };

  +space(['header'], ['pt'])
  
  +space(['sub-block']) 
  +container
    +breadcrumbs(['Главная', 'Документация'])
    +space(['sub-block'])
    +heading(['main'], 1)
      |Документация
    
    +space(['block'])
    +hr
    +space(['hr'])
    +heading(['sub'], 2)
      |Политика в области качества
    +space([36])
    +grid([4])
      each item in [{ text: 'Политика в области качества, экологии, безопасности труда и охраны здоровья ООО "Респираторный комплекс"', label: '235 КБ', }, { text: 'ТР ТС 019/2011 О безопасности средств индивидуальной защиты', label: '235 КБ', }]

        .grid__item
          +doc(item)
    
    +space(['block'])
    +hr
    +space(['hr'])
    +heading(['sub'], 2)
      |Сертификаты интегрированной системы менеджмента
    +space([36])
    +grid([4])
      -
        var docTitle = {
          text: 'ГОСТ Р 12.4.191-2011 (ЕН 149:2001+А1:2009) ССБТ. Средства индивидуальной защиты органов дыхания. Полумаски фильтрующие для защиты от аэрозолей. Общие технические условия',
          label: '235 КБ'
        }
      each i in repeat(3)
        .grid__item
          +doc(docTitle)

    +space(['block'])
    +hr
    +space(['hr'])
    +heading(['sub'], 2)
      |СОУТ
    +space([36])
    +grid([4])
      -
        var docsList = [
            { text: 'Сводная ведомость результатов проведения специальной оценки условий труда от 2018г.', 
              label: '235 КБ', 
            }, 
            { text: 'Перечень рекомендуемых мероприятий по улучшению условий труда от 2018г.', 
              label: '235 КБ', 
            },
            { text: 'Сводная ведомость результатов проведения специальной оценки условий труда от 2021г.', 
              label: '235 КБ', 
            }, 
            { text: 'Перечень рекомендуемых мероприятий по улучшению условий труда от 2021г.', 
              label: '235 КБ', 
            },
            { text: 'Сводная ведомость результатов проведения специальной оценки условий труда от 2022г.', 
              label: '235 КБ', 
            }, 
            { text: 'Перечень рекомендуемых мероприятий по улучшению условий труда от 2022г.', 
              label: '235 КБ', 
            },
          ]
      each i in docsList
        .grid__item
          +doc(i)

    +space(['block'])
    +hr
    +space(['hr'])
    +heading(['sub'], 2)
      |Подтверждение российского происхождения от Минпромторга
    +space([36])
    +grid([4])
      each i in repeat(1)
        .grid__item
          +doc({ text: 'Реестр российской промышленной продукции' })

    +space(['block'])
    +hr
    +space(['hr'])
    +heading(['sub'], 2)
      |стандарты
    +space([36])
    +grid([4])
      each i in [{ text: 'ТР ТС 019/2011 О безопасности средств индивидуальной защиты', label: '235 КБ', }, { text: 'ГОСТ 12.4.294-2015 (EN 149:2001+А1:2009) Полумаски фильтрующие для защиты от аэрозолей. Общие технические условия.', label: '235 КБ', }]
        .grid__item
          +doc(i)

    +space(['section'])
