extends ../app

block header
block footer

block content
  .container
    ul
      li
        a(href="https://cloudmill.github.io/respiratory-html-old/dist/main")
          |Главная
      li
        a(href="https://cloudmill.github.io/respiratory-html-old/dist/catalog")
          |Каталог
      li
        a(href="https://cloudmill.github.io/respiratory-html-old/dist/product")
          |Карточка товара
      li
        a(href="https://cloudmill.github.io/respiratory-html-old/dist/order")
          |Оформление заказа
      li
        a(href="https://cloudmill.github.io/respiratory-html-old-2/dist/dev")
          |Промышленным предприятиям
      li
        a(href="https://cloudmill.github.io/respiratory-html-old/dist/about")
          |О компании
