extends ../app

block preloader
block grid-test
block js-test

block content
  +space(['header', 'pd'])
  +space(['section'])

  +container
    .wrap-list.wrap-list--large
      ul.wrap-list__list
        each route in app.routes
          li.wrap-list__item
            +press({ icon: ['press/li-yellow.svg', 'press/li-black.svg', 'left'], href: route.path }).press--menu
              |#{route.title}
  
  +space(['section'])
