extends ../layouts/master

.container
  ul
    li(style="margin-top: 20px")
      .btn
        a.btn__link.btn__link--variant--default.btn__link--variant--filter.btn__link--variant--full
          .btn__text
            |123
