extends ../app

block header
block footer

block preloader

block grid-test

block content
  .container
    ul
      each route in data.routes
        li(style="margin: 10px 0;")
          +btn({tag:'a',href:route.path})
            |#{route.title}
