extends ../app

block header
block footer

block grid-test

block content
  .container
    ul
      each route in data.routes
        li(style="margin: 10px 0;")
          .bbtn
            a.bbtn__btn(href=route.path)
              .bbtn__text
                |#{route.title}
