extends ../app

block preloader
block grid-test


block content
  +space(['header'], ['pt'])
  +space(['block'])

  +container
    +stack(['index'])
      each route in app.routes
        .stack__item
          +press({ icon: ['press/li-yellow.svg', 'press/li-black.svg', 'left'], href: route.path }).press--menu
            |#{route.title}
  
  +space(['section'])
