extends ../app

block definitions
  -
    app.title = 'Работа у нас';

block header
block footer
  .isolation
    .gap.gap--section
      +footer

block preloader

//- block grid-test

block test

block content
  +first('assets/images/industrial-enterprises.jpeg')
    .top-bottom
      .top-bottom__item
        .container
          +breadcrumbs(['Главная', 'Промышленным предприятиям'])
      .top-bottom__item
        .container
          h1.super-title
            |Промышленным предприятиям
  .second-wrapper
    +second-2
  .container
    +items
  .isolation
    .gap.gap--section
      +why-2
  .isolation
    .gap.gap--section
      .container
        .border
          h2.sub-title
            |Клиентский сервис
          .oalchv
            .qwe