extends ../app

block definitions
  -
    app.title = 'Главная';

block header
  +header({ mods: ['transparent'] })
block footer
  .isolation
    .gap.gap--section
      +footer

//- block preloader

block grid-test

block js-test

block content
  +top
  .isolation
    .gap.gap--section
      +container
        .separator.separator--section
        .row.row--section
          .row__col
            h2.title.title--section
              |Не просто производим
          .row__col
            p.article-2
              |Помогаем выстраивать процессы и развивать культуру профессионального использования 
              a.article-2__link(href="#")
                |СИЗОД
  
  +space(['section'])
  +container
    +hr
    +space(['hr'])
    +heading(['sub'], 2)
      |Условия сотрудничества
    +space([32])
    +grid(['cooperation'])
      -
        var items = [
          {
            title: 'Промышленным предприятиям',
            src: 'assets/images/cooperation/0.jpeg',
            titleMods: ['d-white'],
          },
          {
            title: 'Медицинским учреждениям',
            src: 'assets/images/cooperation/1.jpeg',
            titleMods: [],
          },
          {
            title: 'Торговым организациям',
            src: 'assets/images/cooperation/2.jpeg',
            titleMods: [],
          },
        ];
      each item in items
        .grid__item
          +cooperation({ data: item })

  .isolation
    .gap.gap--section
      +series
  .isolation
    .gap.gap--section
      section.info
        .info__container
          img.info__image(src="assets/images/info.jpg", alt="")
          h2.info__top
            .info__title
              |Используйте респиратор
            .info__row
              .info__col
                .info__title
                  |для защиты
              .info__col
                .info__avatar
                  img.info__img(src="assets/images/avatar.jpg")
            .info__title
              |органов дыхания
        +container
          .info__bottom
            .info__article
              |На пыльных производствах, при взаимодействии с лакокрасочными составами и химическими растворами,или в очаге распространения опасных инфекций
            +press.press--info.info__button-link
              |Информация для потребителей
  
  .isolation
    .gap.gap--section
      +slider
