extends ../layouts/master

block content
  section.section
    .container
      .section__border.section__container.section__grid
        - for (let i = 0; i < 4; i++)
          .section__place
        .section__aside
          h2.title
            |Не просто производим
        .section__main
          p.article
            |Помогаем выстраивать процессы и развивать культуру профессионального использования #[a.article__link(href="#") СИЗОД]
  section.section
    .container
      .section__border.section__container.section__grid.section__grid--vertical
        - for (let i = 0; i < 4; i++)
          .section__place
        .section__aside
          h2.title
            |Условия сотрудничества
        .section__main
          .cards
            each i in [1, 2, 3]
              .cards__item
                a.card(href="#")
                  h3.card__title
                    |Промышленным предприятиям
                  .card__label
                    +phone-svg.card__label-svg
                  img.card__background(src="assets/images/card.jpg")
  section.info
    .container
      h2.info__top
        .info__title
          |Используйте респиратор
        .info__row
          .info__col
            .info__title
              |для защиты
          .info__col
            .info__avatar
              img.info__img(src="assets/images/avatar.jpg")
        .info__title
          |органов дыхания
      .info__bottom
        .info__article
          |На пыльных производствах, при взаимодействии с лакокрасочными составами и химическими растворами,или в очаге распространения опасных инфекций
        +button-link.button-link--theme--color.info__button-link
          |Информация для потребителей
  section.section
    .container
      .section__border.section__container.section__grid
        - for (let i = 0; i < 4; i++)
          .section__place
        .section__aside
          h2.title
            |Медиа-центр
        .section__main.section__row.section__row--space-between
          .section__col
            .buttons
              .buttons__item.button
                +phone-svg.button__svg
              .buttons__item.button.button--right
                +phone-svg.button__svg
          .section__col
            +button-link.button-link--theme--color
              |все новости и статьи
  .slider
    .container
      .slider__grid
        .slider__place
          a.slide.slide--large(href="#")
            .slide__image
              img.slide__img(src="assets/images/slide.jpg")
              .slide__label
                +phone-svg.slide__svg
            .slide__bottom
              .slide__grid
                .slide__place
                  .progress.progress--large.slide__progress
                    .progress__text.progress__current
                      |10
                    .progress__text.progress__all
                      |/11
                - for (let i = 0; i < 10; i++)
                  .slide__place
                    .tag
                      .tag__link
                        |Жиз
              .slide__text
                |Респираторный комплекс – итоги года
        .slider__place
          a.slide(href="#")
            .slide__image
              img.slide__img(src="assets/images/slide.jpg")
              .slide__label
                +phone-svg.slide__svg
            .slide__grid
              .slide__place
                .progress.slide__progress
                  .progress__text.progress__current
                    |10
                  .progress__text.progress__all
                    |/11
              - for (let i = 0; i < 5; i++)
                .slide__place
                  .tag
                    .tag__link
                      |Жиз
            .slide__text
              |Респираторный комплекс – итоги года
        .slider__place
          a.slide(href="#")
            .slide__image
              img.slide__img(src="assets/images/slide.jpg")
              .slide__label
                +phone-svg.slide__svg
            .slide__grid
              .slide__place
                .progress.slide__progress
                  .progress__text.progress__current
                    |10
                  .progress__text.progress__all
                    |/11
              - for (let i = 0; i < 5; i++)
                .slide__place
                  .tag
                    .tag__link
                      |Жиз
            .slide__text
              |Респираторный комплекс – итоги года
