extends ../app

block definitions
  -
    app.title = 'Медицинским учреждениям';

block header
  +header({ mods: ['transparent'] })
//- block footer

block preloader

block grid-test

block js-test

block content
  +first('assets/images/medical-institutions.jpeg')
    .top-bottom
      .top-bottom__item
        +container
          +breadcrumbs(['Главная', 'Медицинским учреждениям'], ['transparent'])
      .top-bottom__item
        +container
          h1.super-title
            |Медицинским учреждениям
  .second-wrapper
    +second-4
  +reslider('medical')
  +space([145])
  +container
    .peculiarity
      .peculiarity__place
        .mobile-only
          +hr
          +space([16])
          h2.sub-title
            |Продукция
        img.peculiarity__img(src='assets/images/peculiarity.jpeg')
      .peculiarity__place
        .desktop-only
          +hr
          +space([16])
          h2.sub-title
            |Продукция
          +space([54])
        .article.article--indent
          |Главной особенностью медицинс- ких респираторов нашего производства является 
          span.article__highlight
            |качество фильтрующих материалов
          |, 
          span.article__highlight
            |конструкция полумасок 
          |и 
          span.article__highlight
            |технологии сборки
        +space([40])
        -
          var items = [
            'Сертификат ТР ТС 019/2011',
            'Испытания по всем пунктам ГОСТ 12.4.294-2015',
            'Регистрационное удостоверение Росздравнадзора',
          ];
        +list(items)
  +space([145])
  .similar(data-examples-slider-component)
    +container
      +heading(['large'], 2)
        |Медицинские респираторы
      +space([40])
      +grid(['centered'])
        .grid__item
          .wrap-list.wrap-list--large
            ul.wrap-list__list
              -
                var items = [
                  'АЛИНА®',
                  'нева®',
                  'GAGARA®',
                ];
              each item, index in items
                li.wrap-list__item
                  +tab(['large', index === 0 && 'active'])= item
        .grid__item
          +press({ icon: ['press/li-blue.svg', 'press/li-black.svg', 'left'] }).press--li
            |О серии
        .grid__item
          .controls
            .controls__item
              .circle
                button.circle__button(type="button" data-examples-slider-prev)
                  +arrow-left-svg.circle__svg.circle__svg--arrow-left
            .controls__item
              .circle
                button.circle__button(type="button" data-examples-slider-next)
                  +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
    +space([40])
    .swiper.examples-slider(data-examples-slider-container)
      .swiper-wrapper
        a.swiper-slide.examples-slider__slide(href="#")
          .examples-slider__row
            .examples-slider__image
              +picture('example.jpeg').examples-slider__picture
            .examples-slider__content
              .examples-slider__content-item
                h3.examples-slider__title
                  |RK 9010
              .examples-slider__content-item
                .examples-slider__table
                  .examples-slider__table-row
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Класс защиты
                      p.examples-slider__table-value
                        |FFP1 R D
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Клапан выдоха
                      p.examples-slider__table-value
                        |Нет
              .examples-slider__content-item
                .examples-slider__content-mobile 
                  +press.press--white 
                    |о защите
                .examples-slider__feature
                  +feature-4-svg.examples-slider__feature-svg
                  .examples-slider__feature-content
                    h4.examples-slider__feature-title
                      |Защита от всех видов аэрозолей
                    .wrap-list.examples-slider__feature-value
                      .wrap-list__list
                        -
                          var items = [
                            'Пыль',
                            'Дым',
                            'Туман',
                          ]
                        each item in items
                          .wrap-list__item
                            .tag
                              .tag__tag
                                |#{item}
          .control.examples-slider__label
            +arrow-left-svg.control__svg.control__svg--tilt
        a.swiper-slide.examples-slider__slide(href="#")
          .examples-slider__row
            .examples-slider__image
              +picture('example-2.jpeg').examples-slider__picture
            .examples-slider__content
              .examples-slider__content-item
                h3.examples-slider__title
                  |RK 9011
              .examples-slider__content-item
                .examples-slider__table
                  .examples-slider__table-row
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Класс защиты
                      p.examples-slider__table-value
                        |FFP1 R D
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Клапан выдоха
                      p.examples-slider__table-value
                        |Нет
              .examples-slider__content-item
                .examples-slider__content-mobile 
                  +press.press--white 
                    |о защите
                .examples-slider__feature
                  +feature-4-svg.examples-slider__feature-svg
                  .examples-slider__feature-content
                    h4.examples-slider__feature-title
                      |Защита от всех видов аэрозолей
                    .wrap-list.examples-slider__feature-value
                      .wrap-list__list
                        -
                          var items = [
                            'Пыль',
                            'Дым',
                            'Туман',
                          ]
                        each item in items
                          .wrap-list__item
                            .tag
                              .tag__tag
                                |#{item}
          .control.examples-slider__label
            +arrow-left-svg.control__svg.control__svg--tilt
    +container 
      .slider-btn 
        +press({ icon: ['press/li-blue.svg', 'press/li-black.svg', 'left'] }).press--li
          |О серии
  +space(['section'])
  +container
    +hr
    +space(['hr'])
    +grid([2])
      .grid__item
        h2.sub-title
          |Обучающие программы
      .grid__item
        .article.article--indent
          span.article__highlight
            |Проводим обучение 
          |основам противоаэрозольной защиты, предоставляем информационные буклеты и&nbsp;плакаты
    +space(['block'])
    +grid([4])
      each i in repeat(4)
        .grid__item
          +doc({ text: 'Методические рекомендации «Повышение эффективности индивидуальной защиты органов дыхания»', label: '235 КБ' })
  +space(['section'])
  section.form-section
    .form-section__content
      .form-section__content-item
        .form-section__title-container
          h2.sub-title.form-section__title
            |связаться с нами
      .form-section__content-item
        .form-section__article-container
          .article.article--large.article--indent
            span.article__highlight
              |Задать ВОпрос
      .form-section__content-item
        form.section-form
          .section-form__grid
            .section-form__item
              .form-field.form-field--error
                input.form-field__input(placeholder='Имя')
                .form-field__error
                  |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Название компании')
                .form-field__error
                  |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Телефон')
                .form-field__error
                  |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='E-mail')
                .form-field__error
                  |Допустимы только буквы
            .section-form__item.section-form__item--row
              .form-field.form-field--textarea.form-field--error
                textarea.form-field__input(placeholder='Вопрос или предложение')
                .form-field__error
                  |Допустимы только буквы
            .section-form__item.section-form__item--right.section-form__bottom
              .section-form__agrement
                .simple-checkbox.simple-checkbox--error
                  label.simple-checkbox__label
                    input.simple-checkbox__input(name='agreement' type='checkbox')
                    .simple-checkbox__box
                      +check-svg.simple-checkbox__svg
                    .simple-checkbox__content
                      |Даю согласие на обработку 
                      a.simple-checkbox__link(href="#")
                        |персональных данных
                    .simple-checkbox__error
                      |Допустимы только буквы
              .section-form__submit
                +press.press--info
                  |Отправить