extends ../app

block definitions
  -
    app.title = 'Медицинским учреждениям';

block header
block footer
  .isolation
    .gap.gap--section
      +footer

block preloader

//- block grid-test

block test

block content
  +first('assets/images/medical-institutions.jpeg')
    .top-bottom
      .top-bottom__item
        .container
          +breadcrumbs(['Главная', 'Медицинским учреждениям'])
      .top-bottom__item
        .container
          h1.super-title
            |Медицинским учреждениям
  .second-wrapper
    +second-4
  +why-4
  .isolation
    .gap.gap--section
      .container
        .border
          .light
            .light__col
              .light__text
                |Еще больше информации и&nbsp;актуальные вакансии можно найти на&nbsp;сайте
            .light__col 
              +email('job.rkszpe.ru')