extends ../app

block definitions
  -
    app.title = 'Медиацентр';

block preloader

//- block grid-test

block header
  +header-no-trnsp

block content
  .indent.indent--page--catalog.first-section.isolation
    .indent__item
      .container--default
        .wall
          .wall__list
            -
              var items = [
                'Главная',
                'новости',
                'Респираторный комплекс — итоги года'
              ]
            each item, index in items
              if index < items.length - 1
                .wall__item
                  .badge
                    a.badge__link.badge__link--variant--breadcrumb(href="#")
                      |#{item}
              else
                .wall__item
                  .badge
                    .badge__link.badge__link--variant--breadcrumb.badge__link--variant--breadcrumb-active.badge__link--no-hover
                      |#{item}
    .indent__item
      .container--default

        .media-center-detail

          h1.article--large
            |Респираторный комплекс #[br] — итоги года

          .slide__panel.slide--large.media-center-detail__info
            .slide__panel-col
              .slide__date
                .slide__date-day 15
                .slide__date-month /11
              
            .slide__panel-col
              .slide__label
                .slide__label-button Новости

          img.media-center-detail__main-img(src="assets/images/slider/slider-2.jpeg", alt="")

          h2.media-center-detail__big-ttl 2021 год стал для нашей компании #[br] важнейшей вехой развития

          .media-center-detail__txt
            p За время первой волны пандемии спрос на респираторы вырос на несколько порядков и стал фактором усиления конкуренции. Вал некачественной дешевой продукции и повсеместное использование масок KN вместо средств индивидуальной защиты стали стимулом активнее делится нашими компетенциями и опытом, наравне с продукцией продвигать знания о ней.
              br
              br
              |Респираторный комплекс развивает новые клиентские сервисы и расширяет сотрудничество с ведущими предприятиями страны. Мы осваиваем новые каналы сбыта – в 2021 году наша продукция появилась на всех популярных маркетплейсах.
              br
              br
              |Развивается производственный комплекс компании. Около полумиллиарда рублей инвестировано в его развитие. Введены в эксплуатацию и находятся на этапе строительства производственные, складские и административные здания в Ленинградской области. Состоялся запуск дополнительной производственной площадки – Сарапульского предприятия «Алькор».

          .media-center-detail__img
            img(src="assets/images/top-2_2x.jpeg", alt="")
            img(src="assets/images/mediacenter-1.jpeg", alt="")

          .media-center-detail__txt
            p Создан центр деловых коммуникаций для активного обсуждения и поиска решений по ключевым вопросам развития рынка СИЗОД, для эффективного взаимодействия с органами власти и общественными организациями – обмена мнениями и выявления потребностей сегодняшнего дня.
              br
              br
              |Возобновил работу Научно-технический совет, в состав которого вместе с заслуженными экспертами в области СИЗ и нормотворчества вошли молодые специалисты компании. Участники НТС вошли в профильные технические комитеты и рабочие группы по совершенствованию законодательной базы ранка СИЗ. Кроме того, предприятие вошло в состав членских организаций Российского союза химиков.

          h3.media-center-detail__small-ttl В 2021 году заслуги Респираторного #[br] комплекса были отмечены несколькими #[br] наградами:

          .media-center-detail__txt

            +grid(['list'])
              -
                var items = [
                  'Победа в номинации «Динамичное развитие» конкурса «Бизнес, развивающий регион-2021». Конкурс ежегодно проводит Ленинградская областная торгово-промышленная палата.',
                  '5 место в топ-10 компаний по динамике прибыли 2019-2020гг. по версии журнала «Эксперт Северо-Запад».',
                  'Включение в проект «ТОП-100». В.С.Астахов, генеральный директор Респираторного комплекса, среди лучших топ-менеджеров Санкт-Петербурга и Ленинградской области по версии издания «Деловой Петербург».',
                  'Победа в номинации «Комплекс проектов, направленных на борьбу с коронавирусом» специального этапа Конкурса «Лучший реализованный проект 2021 года» Всероссийского отраслевого конкурса Российского союза химиков «5 звезд. Лидеры химической отрасли».',
                  'Благодарность губернатора Ленинградской области Александра Дрозденко за участие в сборе гуманитарной помощи для населения Сирийской Республики.',
                ];
              each item in items
                .grid__item
                  +container(['li'])
                    +li-svg.container__svg
                    +text(['card', 'pre-line'])
                      |!{item}

          h3.media-center-detail__small-ttl В запыленной среде без респиратора человек #[br] вдыхает пыль, которая, в зависимости от #[br] размеров, способна проникать в дыхательные #[br] пути на различную глубину:

          .media-center-detail__txt

            +grid(['list'])
              -
                var items = [
                  'Крупные частицы (более 20 мкм) оседают на слизистой оболочке верхних дыхательных путей, крупных бронхов. Устраняются при кашле и чихании;',
                  'Средние частицы (около 10 мкм) способны оседать на поверхности средних и мелких бронхов;',
                  'Высокодисперсные мелкие частицы (менее 5-7 мкм) являются наиболее опасными. Такие частицы пыли способны достигать легочной ткани, состоящей из альвеол, и накапливаясь в ней, провоцируют тяжелые заболевания органов дыхания.',
                ];
              each item in items
                .grid__item
                  +container(['li'])
                    +li-svg.container__svg
                    +text(['card', 'pre-line'])
                      |!{item}

          .media-center-detail__img
            img(src="assets/images/mediacenter-2.jpeg", alt="")
            img(src="assets/images/mediacenter-3.jpeg", alt="")

          h3.media-center-detail__small-ttl.centered Компания традиционно поддерживает образовательные учреждения региона и деятельность благотворительных фондов и организаций, помогающих людям в разных жизненных ситуациях.

          .media-center-detail__txt
            p Респираторный комплекс продолжает развиваться. Мы стремимся к постоянным улучшениям – это касается и продукции, и взаимодействия с партнерами, и внутренних процессов. Мы благодарим наших сотрудников, клиентов, поставщиков и дилеров за совместную работу. Встречаем 2022 год с радостью и интересом. Он принесет всем нам новые проекты, новые задачи и их решения.

          button.media-center-detail__back
            +arrow-left-svg
            span.media-center-detail__back-txt ко всем новостям

        .media-center-recommend
          .media-center-recommend__ttl Может быть интересно

          .media-center-recommend__list

            - for (i=0; i<4;i++)

              a.slide.slide--small(href="http://localhost:8080/main#slider-2")
                .slide__top
                  img.slide__img(src="http://localhost:8080/assets/images/slider/slider-2.jpeg")
                  .slide__mark
                    svg.slide__mark-svg(xmlns="http://www.w3.org/2000/svg", width="18", height="18", viewBox="0 0 18 18", fill="none")
                      path(d="M6.00202 1.41528H12.5283C14.7375 1.41528 16.5283 3.20614 16.5283 5.41528V11.9416", stroke="white", stroke-width="1.5")
                      line(y1="-0.75", x2="17", y2="-0.75", transform="matrix(-0.707107 0.707107 0.707107 0.707107 13.3862 5.34448)", stroke="white", stroke-width="1.5")
                .slide__bottom
                  .slide__panel
                    .slide__panel-col
                      .slide__date
                        .slide__date-day 15
                        .slide__date-month /11
                      
                    .slide__panel-col
                      .slide__label
                        .slide__label-button Новости
                  .slide__text-wrapper
                    .slide__text
                      span.slide__word-wrapper
                        span.slide__word
                          span.slide__word-text Профилактика профессионального туберкулеза у медицинского персонала
