extends ../app

block definitions
  -
    app.title = 'Медицинским учреждениям';

//- block header
//- block footer

block preloader

block grid-test

block test

block content
  +first('assets/images/medical-institutions.jpeg')
    .top-bottom
      .top-bottom__item
        .container
          +breadcrumbs(['Главная', 'Медицинским учреждениям'])
      .top-bottom__item
        .container
          h1.super-title
            |Медицинским учреждениям
  .second-wrapper
    +second-4
  +why-4
  +space([145])
  .container
    .peculiarity
      .peculiarity__place
        img.peculiarity__img(src='assets/images/peculiarity.jpeg')
      .peculiarity__place
        +hr
        +space([16])
        h2.sub-title
          |Продукция
        +space([54])
        .article.article--indent
          |Главной особенностью медицинс- ких респираторов нашего производства является 
          span.article__highlight
            |качество фильтрующих материалов
          |, 
          span.article__highlight
            |конструкция полумасок 
          |и 
          span.article__highlight
            |технологии сборки
        +space([40])
        -
          var items = [
            'Сертификат ТР ТС 019/2011',
            'Испытания по всем пунктам ГОСТ 12.4.294-2015',
            'Регистрационное удостоверение Росздравнадзора',
          ];
        +list(items)
  +space([145])
  +space(['section'])
  .container
    +hr
    +space(['hr'])
    +grid([2])
      .grid__item
        h2.sub-title
          |Обучающие программы
      .grid__item
        .article.article--indent
          span.article__highlight
            |Проводим обучение 
          |основам противоаэрозольной защиты, предоставляем информационные буклеты и&nbsp;плакаты
    +space(['block'])
    +grid([4])
      each i in repeat(4)
        .grid__item
          +doc
  +space(['section'])