extends ../app

block definitions
  -
    app.title = 'Медицинским учреждениям';

block header
  +header({ mods: ['transparent'] })

block modal
  include ../components/form-response-modal

block side-modal
  +side-modal({ id: 'medical' })

//- block grid-test
  +grid-test

block content
  +first('assets/images/medical-institutions.jpeg')
    .top-bottom
      .top-bottom__item
        +container
          +breadcrumbs(['Главная', 'Медицинским учреждениям'], ['transparent'])
      .top-bottom__item
        +container
          h1.super-title
            |Медицинским учреждениям
  .second-wrapper
    +second-4
  +reslider('medical')
  +space([145])
  +container
    .peculiarity
      .peculiarity__place
        .mobile-only
          +hr
          +space([16])
          h2.sub-title
            |Продукция
        img.peculiarity__img(src='assets/images/peculiarity.jpeg')
      .peculiarity__place
        .desktop-only
          +hr
          +space([16])
          h2.sub-title
            |Продукция
          +space([54])
        .article.article--indent
          |Главной особенностью медицинс- ких респираторов нашего производства является 
          span.article__highlight
            |качество фильтрующих материалов
          |, 
          span.article__highlight
            |конструкция полумасок 
          |и 
          span.article__highlight
            |технологии сборки
        +space([40])
        -
          var items = [
            'Сертификат ТР ТС 019/2011',
            'Испытания по всем пунктам ГОСТ 12.4.294-2015',
            'Регистрационное удостоверение Росздравнадзора',
          ];
        +list(items)
  +space([145])
  .similar(data-examples-slider-component)
    +container
      +heading(['large'], 2)
        |Медицинские респираторы
      +space([40])
      +grid(['centered'])
        .grid__item
          .wrap-list.wrap-list--large
            ul.wrap-list__list
              -
                var items = [
                  'АЛИНА®',
                  'нева®',
                  'GAGARA®',
                ];
              each item, index in items
                li.wrap-list__item
                  +tab(['large', index === 0 && 'active'])= item
        .grid__item
          +press({ icon: ['press/li-blue.svg', 'press/li-black.svg', 'left'] }).press--li(data-side-modal-trigger='medical')
            |О серии
        .grid__item
          .controls
            .controls__item
              .circle
                button.circle__button(type="button" data-swiper-slider-prev='unit')
                  +arrow-left-svg.circle__svg.circle__svg--arrow-left
            .controls__item
              .circle
                button.circle__button(type="button" data-swiper-slider-next='unit')
                  +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
    +space([40])
    +container(['unit'])
      .swiper.swiper-slider(data-swiper-slider='unit')
        .swiper-wrapper
          each i in repeat(3)
            .swiper-slide
              +unit
    +container 
      .slider-btn 
        +press({ icon: ['press/li-blue.svg', 'press/li-black.svg', 'left'] }).press--li(data-side-modal-trigger='medical')
          |О серии
  +space(['section'])
  +container
    +hr
    +space(['hr'])
    +grid([2])
      .grid__item
        h2.sub-title
          |Обучающие программы
      .grid__item
        .article.article--indent
          span.article__highlight
            |Проводим обучение 
          |основам противоаэрозольной защиты, предоставляем информационные буклеты и&nbsp;плакаты
    +space(['block'])
    +grid([4])
      each item in ['Методические рекомендации «Повышение эффективности индивидуальной защиты органов дыхания»', 'Плакаты о правильном надевании и использовании медицинских респираторов ', 'Методические рекомендации «Профилактика туберкулеза»', 'Временное руководство ВОЗ 2020г. Исследования по методам обработки медицинских масок и респираторов ', ]
        .grid__item
          +doc({ text: item, label: '235 КБ' })
  +space(['section'])
  section.form-section
    .form-section__content
      .form-section__content-item
        .form-section__title-container
          h2.sub-title.form-section__title
            |связаться с нами
      .form-section__content-item
        .form-section__article-container
          .article.article--large.article--indent
            span.article__highlight
              |Задать ВОпрос
      .form-section__content-item
        form.section-form(data-parsley-validate)
          .section-form__grid
            .section-form__item
              .form-field.form-field--error
                input.form-field__input(placeholder='Имя' required)
                
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Название компании' required)
                
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Телефон' required)
                
            .section-form__item
              .form-field
                input.form-field__input(placeholder='E-mail' required)
                
            .section-form__item.section-form__item--row
              .form-field.form-field--textarea.form-field--error
                textarea.form-field__input(placeholder='Вопрос или предложение' required)

            .section-form__item 
              label.btn-file
                input(type='file')

                span
                  +clip-svg
                  |прикрепить файл

            .section-form__item.section-form__item--right.section-form__bottom
              .section-form__agrement
                .simple-checkbox.simple-checkbox--error
                  label.simple-checkbox__label
                    input.simple-checkbox__input(name='agreement' type='checkbox' required)
                    .simple-checkbox__box
                      +check-svg.simple-checkbox__svg
                    .simple-checkbox__content
                      |Даю согласие на обработку 
                      a.simple-checkbox__link(href="#")
                        |персональных данных
                    
              button.section-form__submit(type='submit')
                +press.press--info
                  |Отправить
