extends ../layouts/master

block content
  .container
    .row.row--half
      .row__col
        .gap.gap--small
        .wall
          .wall__list
            -
              var items = [
                'Главная',
                'АЛИНА®',
                'АЛИНА®-100',
              ]
            each item, index in items
              if index < items.length - 1
                .wall__item
                  .badge
                    a.badge__link.badge__link--variant--breadcrumb(href="#")
                      |#{item}
              else
                .wall__item
                  .badge
                    .badge__link.badge__link--variant--breadcrumb.badge__link--variant--breadcrumb-active.badge__link--no-hover
                      |#{item}
        .mock
      .row__col
        .rails
          .rails__train(data-rails)
            .aside.aside--gallery(data-aside)
              .gallery
                .gallery__place
                  .masks
                    .swiper(data-masks)
                      .swiper-wrapper
                        .swiper-slide
                          img.masks__img(src="assets/images/photo.jpg")
                        .swiper-slide
                          img.masks__img(src="assets/images/photo.jpg")
                        .swiper-slide
                          img.masks__img(src="assets/images/photo.jpg")
                      .masks__prev
                        .button.button--small(data-masks-prev)
                          +phone-svg.button__svg
                      .masks__next
                        .button.button--small.button--right(data-masks-next)
                          +phone-svg.button__svg
                .gallery__place
                  .gallery__image
                    img.gallery__img(src="assets/images/photo.jpg")
                .gallery__place
                  .gallery__image
                    img.gallery__img(src="assets/images/photo.jpg")
  .panel.panel--sticky(data-panel)
    .container
      .row.row--panel
        -
          var items = [
            'КУПИТЬ У ОфициальнЫХ диллерОВ',
            'КУПИТЬ В розничныХ магазинАХ',
            'Самостоятельно сформировать заказ',
          ]
        each item in items
          .row__col
            +button-link.button-link--theme--color.button-link--fluid.button-link--in-panel
              |#{item}     
  .container
    .mock
