extends ../app

block definitions
  -
    app.title = 'Контроль качества';

block header
  +header({ mods: ['transparent'] })

block preloader
block grid-test
block js-test

block content
  +first('assets/images/quality-control.jpeg')
    .top-bottom
      .top-bottom__item
        +container
          +breadcrumbs(['Главная', 'Контроль качества'], ['transparent'])
      .top-bottom__item
        +container
          h1.super-title
            |Контроль
            br
            |качества

  .second-wrapper
    +second-5

  +container
    +hr
    +space(['hr'])
    +heading(['sub'], 2)
      |Структура системы менеджмента
    +space([96])
    +grid([2, 'row-gap-40'])
      -
        var features = [
          {
            src: getImageSrc('items-1.svg'),
            label: 'ГОСТ Р ИСО 9001-2015',
            title: 'Системы менеджмента качества',
            desc: 'Эффективное управление компанией, направленное на постоянное улучшение результатов, на основе требований потребителей',
          },
          {
            src: getImageSrc('items-2.svg'),
            label: 'ГОСТ ISO 13485-2017',
            title: 'Изделия медицинские. Системы менеджмента качества',
            desc: 'Стандарт применяется на предприятиях, выпускающих медицинские изделия, и контролирует весь процесс изготовления продукции от закупки сырья и до реализации товаров',
          },
          {
            src: getImageSrc('items-3.svg'),
            label: 'ГОСТ ISO 13485-2017',
            title: 'Системы менеджмента безопасности труда и охраны здоровья',
            desc: 'Стандарт регулирует вопросы безопасности труда и охраны здоровья сотрудников предприятия',
          },
          {
            src: getImageSrc('items-1.svg'),
            label: 'ГОСТ Р ИСО 14001-2016',
            title: 'Системы экологического менеджмента',
            desc: 'Стандарт обязывает предприятие соблюдать экологическую политику и снижать негативное воздействие на окружающую среду',
          },
        ];
      each feature in features
        .grid__item
          +feature(feature)
  +space(['section'])

  +why-5

  +space(['section'])
  +container
    +hr
    +space(['hr'])
    +grid([2])
      .grid__item
        +heading(['sub'], 2)
          |Выпускаемая продукция соответствует требованиям
      .grid__item
        +text(['qpv'])
          |Респираторы сертифицированы
        +space(['hr'])
        +text(['zay', 'blue', 'pre-line'])
          |ТР ТС 019/2011 ГОСТ 12.4.294-2015 EN 149:2001+A1:2009
  +space(['section'])
  section.form-section
    .form-section__content
      .form-section__content-item
        .form-section__title-container
          h2.sub-title.form-section__title
            |связаться с нами
      .form-section__content-item
        .form-section__article-container
          .article.article--large.article--indent
            |Наши усилия направлены на&nbsp;непрерывное 
            span.article__highlight
              |улучшение качества продукции
      +space(['block'])
      +grid(['centered-6'])
        .grid__item
          +text(['ezx', 5])
            |Нам важно ваше мнение. Делитесь идеями и&nbsp;комментариями с&nbsp;помощью формы обратной связи. Мы&nbsp;получим ваше обращение и&nbsp;оперативно ответим.
      .form-section__content-item
        form.section-form
          .section-form__grid
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Имя')
                .form-field__error
                  |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Название компании')
                .form-field__error
                  |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Телефон')
                .form-field__error
                  |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='E-mail')
                .form-field__error
                  |Допустимы только буквы
            .section-form__item.section-form__item--row
              .form-field.form-field--textarea
                textarea.form-field__input(placeholder='Сообщение')
                .form-field__error
                  |Допустимы только буквы
            .section-form__item.section-form__item--right.section-form__bottom
              .section-form__agrement
                .simple-checkbox
                  label.simple-checkbox__label
                    input.simple-checkbox__input(name='agreement' type='checkbox')
                    .simple-checkbox__box
                      +check-svg.simple-checkbox__svg
                    .simple-checkbox__content
                      |Даю согласие на обработку 
                      a.simple-checkbox__link(href="#")
                        |персональных данных
                    .simple-checkbox__error
                      |Допустимы только буквы
              .section-form__submit
                +press.press--info
                  |Отправить
