extends ../app

block header
block footer

block grid-test

mixin button(props = {})
  -
    var defaultProps = {
      tag: 'a',
      href: '#',
      buttonType: 'submit',
      disabled: false,
      fluid: false,
      light: false,
    };
    props = Object.assign({}, defaultProps, props);

  mixin button-inner
    .button__background
    .button__texts
      .button__original
        .button__original-container
          .button__text.button__text--light
            block
      .button__fake
        .button__fake-container
          .button__text.button__text--dark
            block

  .button(class=attributes.class class=(props.fluid && 'button--fluid') class=(props.light && 'button--light'))
    if props.tag === 'a'
      a.button__button(href=props.href)
        +button-inner
          block
    else if props.tag === 'button'
      button.button__button(type=props.buttonType disabled=props.disabled)
        +button-inner
          block
    else
      .button__button
        +button-inner
          block

block content
  //- .container(style="background-color: gray;")
  .container
    .button.button--radius--large
      button.button__button(type="button")
        .button__back
          .button__back-mask.button__back-mask--under
            .button__background.button__background--border--small.button__background--blue
          .button__back-mask.button__back-mask--above
            .button__background.button__background--border--small.button__background--transparent
        .button__content
          .button__mask.button__mask--under
            .button__container.button__container--under.button__container--icon-text
              .button__text.button__text--white-black
                |text
          .button__mask.button__mask--above
            .button__container.button__container--above.button__container--icon-text
              .button__text.button__text--white-black
                |text
    .button.button--radius--large
      button.button__button(type="button")
        .button__back
          .button__back-mask.button__back-mask--under
            .button__background.button__background--border--large.button__background--yellow
          .button__back-mask.button__back-mask--above
            .button__background.button__background--border--large.button__background--white
        .button__content
          .button__mask.button__mask--under
            .button__container.button__container--under.button__container--icon-text
              .button__text.button__text--white-black
                |text
          .button__mask.button__mask--above
            .button__container.button__container--above.button__container--icon-text
              .button__text.button__text--white-black
                |text
    .button.button--radius--middle
      a.button__button(href="#")
        .button__back
          .button__back-mask.button__back-mask--under
            .button__background.button__background--border--small.button__background--white
          .button__back-mask.button__back-mask--above
            .button__background.button__background--border--small.button__background--yellow
        .button__content
          .button__mask.button__mask--under
            .button__container.button__container--under.button__container--icon-text
              .button__icon
                +map-svg.button__svg.button__svg--map
              .button__text.button__text--black
                |text
          .button__mask.button__mask--above
            .button__container.button__container--above.button__container--icon-text
              .button__icon
                +map-svg.button__svg.button__svg--map
              .button__text.button__text--black
                |text
    .button.button--radius--small
      button.button__button(type="submit" disabled)
        .button__content
          .button__mask.button__mask--under
            .button__container.button__container--under.button__container--icon-text
              .button__icon.button__icon--motionless
                +map-svg.button__svg.button__svg--map
              .button__text.button__text--white-black
                |text
          .button__mask.button__mask--above
            .button__container.button__container--above.button__container--icon-text
              .button__icon.button__icon--motionless
                +map-svg.button__svg.button__svg--map
              .button__text.button__text--white-black
                |text
    .button.button--radius--micro
      .button__button
        .button__content
          .button__mask.button__mask--under
            .button__container.button__container--under.button__container--text-icon
              .button__text.button__text--white-black
                |text
              .button__icon
                +map-svg.button__svg.button__svg--map
          .button__mask.button__mask--above
            .button__container.button__container--above.button__container--text-icon
              .button__text.button__text--white-black
                |text            
              .button__icon
                +map-svg.button__svg.button__svg--map

  //- .container
    .sxbcpu
      +button({ tag: 'div', light: true })
        |div light
    .sxbcpu
      +button({ href: '#hello' })
        |a
    .sxbcpu
      +button({ tag: 'div' })
        |div
    form.sxbcpu
      .sxbcpu
        +button({ tag: 'button', buttonType: 'button', fluid: true }).buttonTest
          |click me
      .sxbcpu
        +button({ tag: 'button', buttonType: 'button', fluid: true })
          |button
      .sxbcpu
        +button({ tag: 'button' })
          |submit
