extends ../app

block definitions
  -
    app.title = 'Тестовая';

block header
block footer

block preloader

//- block grid-test

//- mixin slide(props)
  .slide(class=(props.large && 'slide--large') class=(props.small && 'slide--small'))&attributes(attributes)
    .slide__top
      |top
    .slide__bottom
      .slide__panel
        |panel
      .slide__text
        .mask-text.mask-text--active
          each word, index in ("Пневмокониоз как результат воздействия производственной пыли на органы дыхания работников").split(" ")
            .mask-text__mask
              .mask-text__word
                .mask-text__text(class=(props.large && 'mask-text__text--slider--large') class=(props.small && 'mask-text__text--slider--small'))
                  |!{word + '&nbsp;'}

//- mixin slider
  .slider
    .slider__col
      +slide({ large: true })
    each i in repeat(2)
      .slider__col
        +slide({ small: true })

block content
  //- +top
  //- +slider
  +products
