extends ../app

block definitions
  -
    app.title = 'Тест';

block header
block footer

block content
  .search-modal
    .search-modal__container 
      form.search-modal__form(action="/")
      .search-modal__row 
        .search-modal__col
          .form-field
            input.form-field__input.form-field__input--dark(placeholder='Что вы хотите найти?' required)
        .search-modal__col
          +press.press--info.press--full
            |искать
    .search-modal__button 
      +cross-svg.search-modal__svg
  .product-modal 
    .product-modal__grid
      - for (i = 0; i < 6; i++)
        a.product-modal__item(href="#") 
          .product-modal__image
            img.product-modal__img(src="assets/images/example.jpeg", alt="")
          .product-modal__title 
            |RK 9000
          .product-modal__inner
            .product-modal__icon 
              +arrow-tilt-svg.product-modal__svg
    .product-modal__container 
      .product-modal__button
        +press.press--info.press--full
          |в каталог