extends ../app

block header
block footer

//- block preloader

block content
  .container
    div(style="overflow-y: hidden")
      each i in repeat(5)
        +top

mixin top
  .top(data-aos="fade-up")
    +drop(['q', 'w', 'e'])
      |qwe
