extends ../app

block definitions
  -
    app.title = 'Тестовая'

//- block header
block footer

block preloader

//- block grid-test

block content
  //- +top
  svg(xmlns='http://www.w3.org/2000/svg' width='265' height='233' viewBox='0 0 265 233' fill='none')
    path(id='qwe' d='M26.3582 233H0.013916C20.884 207.367 65.1561 140.449 75.2832 77.8362C85.4104 15.2238 29.3233 48.33 0.013916 72.7096C79.9363 -2.4799 122.27 -4.4166 133.446 4.01374C184.355 33.8161 104.022 139.925 57.4923 189.253C93.8953 165.466 135.841 150.405 152.263 145.849C259.693 122.95 261.062 215.57 263.799 233H151.579C152.4 146.327 68.4406 196.886 26.3582 233Z' fill='url(#paint0_radial_993_1455)')
    path(id='ewq' fill-rule='evenodd' clip-rule='evenodd' d='M177.645 201.611L263.662 0H0.179047C0.179047 23.8499 21.6045 41.9855 45.1269 38.0461L248.873 3.92357L166.909 20.1373C70.0099 39.3055 0.179047 124.303 0.179047 223.08V232.698C73.5795 232.698 141.407 193.549 178.123 129.991L234.386 32.5958L165.768 166.008C150.105 196.462 172.216 232.698 206.462 232.698C238.053 232.698 263.662 207.089 263.662 175.498V79.4404C263.662 64.081 242.752 59.5185 236.354 73.4819L177.645 201.611ZM110.427 58.952L233.782 9.95972L103.021 53.256C100.93 53.9484 100.52 56.7269 102.321 57.9945C104.688 59.6605 107.736 60.0205 110.427 58.952ZM18.2882 178.806L33.999 177.807C44.9095 177.114 53.6243 168.681 54.4194 158.049L55.6759 141.249L57.3378 158.533C58.3394 168.95 66.9337 177.125 77.6391 177.845L91.9306 178.806L77.5632 179.772C66.8912 180.49 58.3119 188.618 57.2704 198.999L55.6759 214.891L54.4748 199.5C53.6473 188.896 44.9438 180.501 34.0595 179.809L18.2882 178.806Z' fill='url(#paint0_radial_993_1455)')
    defs
      radialGradient#paint0_radial_993_1455(cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(-8.71867 243.235) rotate(-39.1169) scale(370.263 420.116)')
        stop(offset='0.288136' stop-color='#88B2F8')
        stop(offset='0.741763' stop-color='#F9D68A')
      radialGradient#paint1_radial_993_1455(cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(180.215 136.756) rotate(-56.0192) scale(158.782 170.581)')
        stop(offset='0.288136' stop-color='#88B2F8')
        stop(offset='0.741763' stop-color='#F9D68A')
