extends ../layouts/master

block header
block footer

block content
  section.section
    .container
      .section__border.section__container.section__grid
        - for (let i = 0; i < 4; i++)
          .section__place
        .section__aside
          h2.title
            |123
        .section__main
          p.article
            |321
