extends ../layouts/master

block header
block footer

block content
  .catalog
    .catalog__grid
      - for (let i = 0; i < 5; i++)
        .catalog__place
          .catalog__card
            |card
