extends ../app

block definitions
  -
    app.title = 'Тестовая';

block header
block footer

//- block preloader

block grid-test

block content
  +top
  +slider
  +slider
  +slider
  +products
  +products
  +products
