extends ../layouts/master

include ../components/button-link

block header
block footer

block content
  section.section
    .container
      .section__border.section__container.section__grid
        - for (let i = 0; i < 4; i++)
          .section__place
        .section__aside
          h2.title
            |Не просто производим
        .section__main
          p.article
            |Помогаем выстраивать процессы и развивать культуру профессионального использования #[a.article__link(href="#") СИЗОД]
        
