extends ../app

block header
block footer

//- block preloader

block content
  +top

  each i in repeat(100)
    div
      |div

  //- text
    .container
      .text-container
        .text.text--active.fade
          - var words = ("Российский производитель фильтрующих респираторов").split(" ");
          each word, index in words
            .text__mask
              .text__word
                .text__text.text__text--yellow
                  |!{word + (index < (words.length - 1) ? "&nbsp;" : "")}
        .text.fade
          - var words = ("Российский производитель фильтрующих респираторов").split(" ");
          each word, index in words
            .text__mask
              .text__word
                .text__text.text__text--yellow
                  |!{word + (index < (words.length - 1) ? "&nbsp;" : "")}
        .text.fade.fade--active
          each i, index in repeat(30)
            .text__mask
              .text__word
                .text__text.text__text--large
                  |25
                .text__text.text__text--top
                  |лет

  //- fade
    .container
      .fade
        |qweewq
      .fade.fade--active
        |qweewq

mixin top
  .top(data-top)
    .swiper(data-top-swiper)
      .swiper-wrapper
        each i in repeat(3)
          .swiper-slide
            .top__mask
              .top__parallax-y(data-top-parallax-y)
                .top__parallax-x(data-swiper-parallax="28%")
                  .top__zoom(data-top-zoom)
                    +picture("top.jpeg").picture--cover
            .top__content
              .container.container--tall.container--relative
                .top__top
                  |top
                .top__aside
                  |aside
                .top__bottom
                  |bottom
