extends ../app

block header
block footer

block grid-test

mixin button(props = {})
  -
    var defaultProps = {
      tag: 'a',
      href: '#',
      buttonType: 'submit',
      disabled: false,
      fluid: false,
      light: false,
    };
    props = Object.assign({}, defaultProps, props);

  mixin button-inner
    .button__background
    .button__texts
      .button__original
        .button__original-container
          .button__text.button__text--light
            block
      .button__fake
        .button__fake-container
          .button__text.button__text--dark
            block

  .button(class=attributes.class class=(props.fluid && 'button--fluid') class=(props.light && 'button--light'))
    if props.tag === 'a'
      a.button__button(href=props.href)
        +button-inner
          block
    else if props.tag === 'button'
      button.button__button(type=props.buttonType disabled=props.disabled)
        +button-inner
          block
    else
      .button__button
        +button-inner
          block

block content
  .container
    .sxbcpu
      +button({ tag: 'div', light: true })
        |div light
    .sxbcpu
      +button({ href: '#hello' })
        |a
    .sxbcpu
      +button({ tag: 'div' })
        |div
    form.sxbcpu
      .sxbcpu
        +button({ tag: 'button', buttonType: 'button', fluid: true }).buttonTest
          |click me
      .sxbcpu
        +button({ tag: 'button', buttonType: 'button', fluid: true })
          |button
      .sxbcpu
        +button({ tag: 'button' })
          |submit
