extends ../app

block definitions
  -
    app.title = 'Торговым организациям';

block header
  +header({ mods: ['transparent'] })

block modal
  include ../components/form-response-modal

block content
  +first('assets/images/trade-organizations.jpeg')
    .top-bottom
      .top-bottom__item
        +container
          +breadcrumbs(['Главная', 'Промышленным предприятиям'], ['transparent'])
      .top-bottom__item
        +container
          h1.super-title
            |Торговым организациям
  .second-wrapper
    +second-3
  +space(['section'])
  +reslider('trade')
  .funds.section-margin
    +container
      .funds__block
        .article.article--indent
          |Средства индивидуальной защиты органов дыхания, которые разрабатывает и&nbsp;производит Респираторный комплекс, 
          span.article__highlight
            |успешно представлены:
        .funds__list
          ul.funds-list
            each item in ['У крупнейших поставщиков СИЗ и спецодежды', 'В торговых сетях', 'На маркет-плейсах']
              .funds-list__item
                img.funds-list__img(src='assets/images/fund.svg')
                .funds-list__text
                  |#{item}
  .section-margin(data-examples-slider-component)
    +container
      .border
        .slider-panel
          .slider-panel__col
            h2.sub-title
              |Наиболее востребованные модели продукции
          .slider-panel__col
            .slider-panel__sub-col
              .controls.slider-panel__controls
                .controls__item
                  .circle
                    button.circle__button.js-slider-prev(type="button" data-examples-slider-prev)
                      +arrow-left-svg.circle__svg.circle__svg--arrow-left
                .controls__item
                  .circle
                    button.circle__button.js-slider-next(type="button" data-examples-slider-next)
                      +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
            .slider-panel__sub-col
    .swiper.examples-slider.mid-section-margin(data-examples-slider-container)
      .swiper-wrapper
        a.swiper-slide.examples-slider__slide(href="#")
          .examples-slider__row
            .examples-slider__image
              +picture('example.jpeg').examples-slider__picture
            .examples-slider__content
              .examples-slider__content-item
                h3.examples-slider__title
                  |RK 9010
              .examples-slider__content-item
                .examples-slider__table
                  .examples-slider__table-row
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Класс защиты
                      p.examples-slider__table-value
                        |FFP1 R D
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Клапан выдоха
                      p.examples-slider__table-value
                        |Нет
              .examples-slider__content-item
                .examples-slider__content-mobile 
                  +press.press--white 
                    |о защите
                .examples-slider__feature
                  +feature-4-svg.examples-slider__feature-svg
                  .examples-slider__feature-content
                    h4.examples-slider__feature-title
                      |Защита от всех видов аэрозолей
                    .wrap-list.examples-slider__feature-value
                      .wrap-list__list
                        -
                          var items = [
                            'Пыль',
                            'Дым',
                            'Туман',
                          ]
                        each item in items
                          .wrap-list__item
                            .tag
                              .tag__tag
                                |#{item}
          .control.examples-slider__label
            +arrow-left-svg.control__svg.control__svg--tilt
        a.swiper-slide.examples-slider__slide(href="#")
          .examples-slider__row
            .examples-slider__image
              +picture('example-2.jpeg').examples-slider__picture
            .examples-slider__content
              .examples-slider__content-item
                h3.examples-slider__title
                  |RK 9011
              .examples-slider__content-item
                .examples-slider__table
                  .examples-slider__table-row
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Класс защиты
                      p.examples-slider__table-value
                        |FFP1 R D
                    .examples-slider__table-col
                      h4.examples-slider__table-title
                        |Клапан выдоха
                      p.examples-slider__table-value
                        |Нет
              .examples-slider__content-item
                .examples-slider__content-mobile 
                  +press.press--white 
                    |о защите
                .examples-slider__feature
                  +feature-4-svg.examples-slider__feature-svg
                  .examples-slider__feature-content
                    h4.examples-slider__feature-title
                      |Защита от всех видов аэрозолей
                    .wrap-list.examples-slider__feature-value
                      .wrap-list__list
                        -
                          var items = [
                            'Пыль',
                            'Дым',
                            'Туман',
                          ]
                        each item in items
                          .wrap-list__item
                            .tag
                              .tag__tag
                                |#{item}
          .control.examples-slider__label
            +arrow-left-svg.control__svg.control__svg--tilt
    +container 
      .slider-btn 
        +press.press--info
          |Перейти в каталог

  a(name="to-form")
  section.form-section
    .form-section__content
      .form-section__content-item
        .form-section__title-container
          h2.sub-title.form-section__title
            |связаться с нами
      .form-section__content-item
        .form-section__article-container
          .article.article--large.article--indent
            |Обратитесь в&nbsp;отдел продаж, чтобы обсудить 
            span.article__highlight
              |условия сотрудничества

      .funds__block
        .funds__list
          ul.funds-list
            each item in ['Порядок оформления заказа', 'Условия оплаты и доставки', 'Любые вопросы по совместной работе']
              .funds-list__item
                img.funds-list__img(src='assets/images/fund.svg')
                .funds-list__text
                  |#{item}

      
      .form-section__content-item
        form.section-form(data-parsley-validate)
          .section-form__grid
            .section-form__item
              .form-field.form-field--error
                input.form-field__input(placeholder='Имя' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Название компании' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='Телефон' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item
              .form-field
                input.form-field__input(placeholder='E-mail' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item.section-form__item--row
              .form-field
                input.form-field__input(placeholder='Тема обращения' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item.section-form__item--row
              .form-field.form-field--textarea.form-field--error
                textarea.form-field__input(placeholder='Вопрос или предложение' required)
                //- .form-field__error
                //-   |Допустимы только буквы
            .section-form__item.section-form__item--right.section-form__bottom
              .section-form__agrement
                .simple-checkbox.simple-checkbox--error
                  label.simple-checkbox__label
                    input.simple-checkbox__input(name='agreement' type='checkbox' id='checkbox' required)
                    .simple-checkbox__box
                      +check-svg.simple-checkbox__svg
                    .simple-checkbox__content
                      |Даю согласие на обработку 
                      a.simple-checkbox__link(href="#")
                        |персональных данных
                    //- .simple-checkbox__error
                    //-   |Допустимы только буквы
              button.section-form__submit(type='submit')
                +press.press--info
                  |Отправить