extends ../app

block definitions
  -
    app.title = 'Где купить';

block preloader
block grid-test
block js-test

block content
  +space(['header', 'pd'])

  .container
    +space(['sub-block'])
    +breadcrumbs({ items: ['Главная', 'Где купить'], breadcrumbMods: ['dark'] })
    +space(['sub-block'])
    +heading(['main'], 1)
      |Где купить
    +space(['block'])
    +grid(['8-4'])
      .grid__item
        +wrap-list(['large'])
          -
            var items = [
              'Дилеры',
              'Розничные магазины',
            ];
          each item, index in items
            li.wrap-list__item
              +tab(['large', index === 0 && 'active']).js-tab-button
                |!{item}
      .grid__item
        -
          var select = {
            placeholder: 'Город',
            items: [
              {
                value: 'Санкт-Петербург',
                text: 'Санкт-Петербург',
              },
              {
                value: 'Курск',
                text: 'Курск',
              },
              {
                value: 'Брест',
                text: 'Брест',
              },
              {
                value: 'Санкт-Петербург',
                text: 'Санкт-Петербург',
              },
              {
                value: 'Курск',
                text: 'Курск',
              },
            ],
          };
        +select(select)
    
  +space(['sub-block'])
  .tab-container.js-tab-container
    .tab-container__item.tab-container__item--active.js-tab-item
      |1
    .tab-container__item.js-tab-item
      |2 
