extends ../app

block definitions
  -
    app.title = 'Работа у нас';

//- block header
block footer
  .isolation
    .gap.gap--section
      +footer

block preloader

//- block grid-test

block test

block content
  .isolation
    .gap.gap--section
      .container
        |Работа у нас
        