.controls {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: rem(8px);
  justify-content: start;

  &__item {
  }
}

.control {
  $component: &;

  @include size(rem(64px));

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-color: $color-blue;
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    background-color: $color-yellow;

    #{$component} {
      &__svg {
        path,
        line {
          stroke: $color-black;
        }
      }
    }
  }

  &__svg {
    &--reverse {
      transform: rotate(180deg);
    }
  }
}
