$files: (("Manrope-Medium", 500), ("Manrope-SemiBold", 600));

@each $filename, $font-weight in $files {
  @font-face {
    src: font-url($filename);

    font-family: $font-family-content;
    font-weight: $font-weight;
  }
}

@font-face {
  src: font-url($font-family-title);

  font-family: $font-family-title;
}

@font-face {
  font-family: $font-family-title;
  src: url(../assets/fonts/Gorizont_ALSGorizont-MediumExpanded.otf);
  font-weight: 550;
}
