.circle-button {
  $component: &;
  $transition: transition(minor);

  --size: #{rem(64px)};

  display: flex;

  &__button {
    @include rectangle(var(--size));

    position: relative;
    z-index: 1;

    overflow: hidden;

    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:not(:disabled) {
      &:hover {
        #{$component} {
          &__background {
            &-item {
              &:nth-child(2) {
                @include rectangle(var(--size));
              }
            }
          }
        }
      }
    }
  }

  &__background {
    @include rectangle(var(--size));
    @include inset;

    position: absolute;
    z-index: 1;

    overflow: hidden;

    border-radius: 50%;

    &-item {
      position: absolute;

      overflow: hidden;

      border-radius: 50%;

      &:nth-child(1) {
        @include rectangle(var(--size));
        @include inset;

        z-index: 1;

        background-color: color(blue);
      }

      &:nth-child(2) {
        @include rectangle(0);

        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: color(yellow);
        transition: width $transition, height $transition;
      }
    }
  }
}


// mask-text container
.ezpqbn {
  overflow: hidden;
  resize: both;

  background-color: color(black);
}
