.first {
  position: relative;
  z-index: 0;

  padding-top: rem(169px + 40px); // header + margin
  padding-bottom: (180px);
  height: 100vh;
  max-height: rem(1080px);
  @media #{media("<")} {
    padding-top: rem(58px + 20px);
    padding-bottom: rem(48px);
    height: 50vh;
  }

  // bg

  &__bg {
    @include inset;
    @include rectangle(100%);

    position: absolute;
    z-index: 1;

    object-fit: cover;
  }

  // layout

  &__layout {
    position: relative;
    z-index: 2;

    height: 100%;
  }
}

.super-title {
  @include font-fsl("title-3", 130px, 100%);
  @media #{media("<")} {
    @include font-fsl("title-3", 24px, 100%);
  }

  color: color(yellow);
}

.top-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // item

  &__item {
  }
}

.second {
  padding: rem(180px) 0;
  @media #{media("<")} {
    padding: rem(20px) 0;
  }
  overflow: hidden;

  border-radius: 0 rem(120px) 0 0;
  @media #{media("<")} {
    border-radius: 0 rem(30px) 0 0;
  }

  &--azn {
    padding-bottom: 0;
  }

  // grid

  &__grid {
    display: grid;
    grid-template-columns: calc(#{columns(4)}) calc(#{columns(6)});
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    column-gap: $column-gap;
    row-gap: rem(120px);
    @media #{media("<")} {
      grid-template-columns: 37% 57%;
      column-gap: rem(20px);
      row-gap: rem(40px);
    }
  }

  // bg

  &__bg {
    @include grid-area(1, 1, 2, 1);

    position: relative;
    z-index: -1;
    bottom: rem(-60px);
    @media #{media("<")} {
      bottom: rem(-20px);
    }

    pointer-events: none;

    &::before {
      @include rectangle(300vw, 300vh);

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      content: "";

      background-color: color(blue);
    }
  }

  // image

  &__image {
    @include grid-area(1, 1, 1, 2);
    @media #{media("<")} {
      @include grid-area(1, 1, 1, 1);
    }
  }

  // img

  &__img {
    @include rectangle(100%);

    max-height: rem(720px);
    object-fit: cover;

    border-radius: 0 rem(12px) rem(80px) 0;
    @media #{media("<")} {
      border-radius: 0 rem(3px) rem(20px) 0;
    }
  }

  // top

  &__top {
    @include grid-area(2, 1, 1, 1);

    &--small {
      padding-right: calc(#{$column} + #{$column-gap});
    }
  }

  // bottom

  &__bottom {
    @include grid-area(2, 2, 1, 1);
    @media #{media("<")} {
      @include grid-area(1, 2, 2, 1);
    }

    &--empty {
      min-height: rem(120px);
      @media #{media("<")} {
        min-height: auto;
      }
    }
  }

  // text

  &__text {
    @include font-fsl("content-1", 24px, 130%);
    @media #{media("<")} {
      @include font-fsl("content-1", 12px, 130%);
      max-width: none;
    }
    max-width: calc(#{columns(5)});
  }

  // content

  &__content {
    position: relative;
    z-index: 0;

    padding-top: rem(320px);
    @media #{media("<")} {
      padding-top: rem(31px);

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &--small {
      padding-top: rem(210px);
      @media #{media("<")} {
        padding-top: rem(31px);
      }
    }

    &::before,
    &::after {
      @include rectangle(rem(20px));
      @media #{media("<")} {
        @include rectangle(rem(12px));
      }

      position: absolute;
      top: 0;

      content: "";
      pointer-events: none;

      border: 2px solid color(white);
      border-right: none;
      border-bottom: none;
      border-radius: rem(10px) 0 0 0;
      @media #{media("<")} {
        border-radius: rem(5px) 0 0 0;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
      transform: rotate(90deg);
    }

    &-text {
      @include font-fsl("title-3", 54px, 100%);
      @media #{media("<")} {
        @include font-fsl("title-3", 14px, 100%);
      }
      color: color(white);

      &--pre-line {
        white-space: pre-line;
      }
    }

    &-highlight {
      color: color(yellow);
    }

    &-title {
      @include font-fsl("title-3", 130px, 100%);
      @media #{media("<")} {
        @include font-fsl("title-3", 24px, 100%);
      }
      color: color(yellow);
    }

    &-description {
      @include font-fsl("title-2", 18px, 120%);

      margin-top: rem(20px);
      max-width: rem(630px);

      color: color(white);
    }
  }
}

.second-wrapper {
  position: relative;
  z-index: 1;

  margin-top: rem(-180px);
  @media #{media("<")} {
    margin-top: rem(-28px);
  }
}

.light {
  display: grid;
  grid-template-columns: repeat(2, calc(#{columns(6)}));
  column-gap: $column-gap;
  @media #{media("<")} {
    grid-template-columns: 1fr;
    row-gap: rem(24px);
  }
  // col

  &__col {
  }

  // text

  &__text {
    @include font-fsl("title-2", 18px, 120%);
    @media #{media("<")} {
      @include fsl(12px);
      max-width: none;
    }
    max-width: calc(#{columns(4)});
  }
}

.email {
  display: flex;

  // link

  &__link {
    @include font-fsl("title-2", 60px, 110%);
    @media #{media("<")} {
      @include fsl(28px);
    }
    position: relative;
    z-index: 0;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      content: "";

      height: 1px;
      background-color: color(black);
    }
  }
}

.why {
  position: relative;
  z-index: 0;
  
  @media #{media("<")} {
    padding: rem(20px) 0;

    height: auto;
    max-height: none;
  }
  height: 100vh;
  max-height: 920px;

  background-color: color(black);

  &__layout {
    @include inset;
    position: absolute;
    @media #{media("<")} {
      position: static;
    }
    
    &:nth-child(1) {
      z-index: 1;

      padding: rem(40px) 0;
      @media #{media("<")} {
        padding: 0;
      }
    }

    &:nth-child(2) {
      z-index: 2;

      padding: rem(80px) 0 rem(40px);
      @media #{media("<")} {
        padding: 0;
        margin-top: rem(20px);
      }
    }
  }

  &__container {
    height: 100%;
  }

  &__image {
    margin-left: auto;
    width: calc(#{columns(6)});
    @media #{media("<")} {
      width: auto;
    }
    height: 100%;
    overflow: hidden;

    border-radius: 0 0 rem(100px) 0;
    @media #{media("<")} {
      border-radius: 0 rem(14px) 0 0;
    }
  }

  &__img {
    @include rectangle(100%);

    object-fit: cover;
  }

  &__top-bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-item {

      &:not(:first-child) {
        @media #{media("<")} {
          margin-top: rem(12px);
        }
      }
    }
  }

  &__border {
    padding-top: rem(16px);
    @media #{media("<")} {
      padding-top: rem(8px);

      display: flex;
      justify-content: space-between;
    }
    border-top: 1px solid color(header-transparent-border);
  }

  &__panel {
    margin-top: rem(52px);
    @media #{media("<")} {
      // margin-top: rem(36px);
      margin-top: rem(80px);
    }
    display: grid;

    &--sm {
      @media #{media("<")} {
        margin-top: rem(36px);
      }
    }

    &-item {
      @include grid-area(1, 1, 1, 1);

      &:nth-child(1) {
        @media #{media("<")} {
          position: absolute;
          left: rem(40px);
          top: rem(40px);
        }
      }
    }
  }

  &__title {
    @include font-fsl("title-2", 18px, 100%);
    @media #{media("<")} {
      @include font-fsl("title-2", 12px, 100%);
    }
    color: color(white);
  }

  &__sub-title {
    @include font-fsl("title-3", 72px, 100%);
    @media #{media("<")} {
      @include font-fsl("title-3", 20px, 100%);
      margin: 0;
      width: auto;
    }
    margin: 0 auto;
    width: calc(#{columns(6)});

    color: color(white);
  }

  &__mobile {
    display: none;
    @media #{media("<")} {
      display: block;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: calc(#{columns(5)}) calc(#{columns(1)});
    column-gap: $column-gap;
    align-items: end;
    @media #{media("<")} {
      display: block;
    }

    &-item {

      &:nth-child(2) {
        @media #{media("<")} {
          display: none;
        }
      }
    }
  }

  &__list {
    &-item {
      position: relative;
      z-index: 0;

      padding-left: rem(48px);
      @media #{media("<")} {
        padding-left: rem(29px);
      }
      &:not(:first-child) {
        margin-top: rem(8px);
      }
    }

    &-svg {
      @include rectangle(rem(24px));
      @media #{media("<")} {
        @include rectangle(rem(18px));
        
        top: 0;
      }
      position: absolute;
      top: 2px;
      left: 0;
    }

    &-text {
      @include font-fsl("content-1", 16px, 160%);
      @media #{media("<")} {
        @include fsl(12px);
        max-width: none;
      }
      max-width: rem(445px);

      color: color(white);
    }
  }

  &__wrapper {
    position: relative;
    z-index: 0;

    padding: 0 0 rem(40px) rem(40px);
    @media #{media("<")} {
      padding: 0;
    }

    &::before {
      @include rectangle(rem(20px));

      position: absolute;
      bottom: 0;
      left: 0;
      @media #{media("<")} {
      display: none;
      }
      content: "";
      pointer-events: none;

      border: 2px solid color(white);
      border-top: none;
      border-right: none;
      border-radius: 0 0 0 rem(10px);
    }
  }

  &__progress {
    display: flex;

    &-cur {
      display: grid;
    }

    &-text {
      @include grid-area(1, 1, 1, 1);
      @include font-fsl("title-2", 40px, 100%);
      @media #{media("<")} {
        @include font-fsl("title-2", 24px, 100%);
      }
      color: color(blue);

      &--fake {
        visibility: hidden;
        pointer-events: none;

        opacity: 0;
      }
    }

    &-all {
      @include font-fsl("title-2", 16px, 100%);
      @media #{media("<")} {
        @include font-fsl("title-2", 12px, 100%);
        margin-left: rem(8px);
      }
      margin-left: rem(24px);

      color: color(white);
    }
  }

  &__description {
    @include font-fsl("content-1", 20px, 130%);
    @media #{media("<")} {
      @include font-fsl("content-1", 14px, 130%);
      max-width: none;
    }
    max-width: calc(#{columns(3)});

    color: color(white);
    white-space: pre-line;
  }
}

.pre-line {
  white-space: pre-line;
}

.oalchv {
  margin-top: rem(96px);

  white-space: pre-line;
}

.info-blocks {
  &__item {
    &:not(:first-child) {
      margin-top: rem(40px);
      @media #{media("<")} {
        margin-top: rem(8px);
      }
    }
  }
}

.info-block {
  padding-bottom: rem(60px);
  @media #{media("<")} {
    padding-bottom: rem(18px);

    display: block;
  }
  display: grid;
  grid-template-columns: calc(#{columns(7)}) calc(#{columns(5)});
  column-gap: $column-gap;

  &__col {
    &:nth-child(1) {
      max-width: calc(#{columns(5)});
      @media #{media("<")} {
        max-width: none;
      }
    }

    &:nth-child(2) {
      padding-top: rem(40px);
      max-width: calc(#{columns(4)});
      @media #{media("<")} {
        padding: rem(12px) rem(18px) 0;
        max-width: none;
      }
    }
  }

  &__text {
    @include font-fsl("content-1", 20px, 160%);
    @media #{media("<")} {
      @include font-fsl("content-1", 14px, 160%);
    }

    &:not(:first-child) {
      margin-top: rem(32px);
    }
  }

  &__feature {
    position: relative;
    z-index: 0;

    padding: rem(40px) rem(40px) 0 rem(40px);
    @media #{media("<")} {
      padding: rem(18px) rem(18px) 0;
    }

    &::before {
      @include rectangle(rem(20px));
      @media #{media("<")} {
        @include rectangle(rem(12px));
      }

      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;

      content: "";
      pointer-events: none;
      user-select: none;

      border: 2px solid color(black);
      border-bottom: none;
      border-right: none;
      border-radius: rem(10px) 0 0 0;
      @media #{media("<")} {
        border-radius: rem(5px) 0 0 0;
      }
    }
  }
}

.information-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: $column-gap;
  @media #{media("<")} {
    display: block;
  }

  &__col {

    &:not(:first-child) {
      @media #{media("<")} {
        margin-top: rem(24px);
      }
    }
  }
}

.information-card {
  $component: &;

  display: block;

  cursor: pointer;

  &:hover {
    #{$component} {
      &__image {
        &::before {
          border-color: color(yellow);
        }
      }

      &__picture {
        transform: scale(1.15);
      }

      &__download {
        background-color: color(yellow);

        path,
        line {
          stroke: color(black);
        }
      }
    }
  }

  &__image {
    position: relative;
    z-index: 0;

    height: rem(310px);
    @media #{media("<")} {
      // height: rem(120px);
      height: auto;
    }
    overflow: hidden;

    border-radius: 0 rem(16px) rem(16px) rem(16px);
    @media #{media("<")} {
      border-radius: 0 rem(12px) rem(12px) rem(12px);
    }

    &::before {
      @include rectangle(rem(20px));
      @media #{media("<")} {
        @include rectangle(rem(12px));
      }

      position: absolute;
      z-index: 2;
      top: rem(40px);
      right: rem(40px);
      @media #{media("<")} {
        top: rem(16px);
        right: rem(16px);
      }

      content: "";
      pointer-events: none;
      user-select: none;

      border: 2px solid color(blue);
      border-bottom: none;
      border-left: none;
      border-radius: 0 rem(10px) 0 0;
      @media #{media("<")} {
        border-radius: 0 rem(5px) 0 0;
      }
    }
  }

  &__picture {
    @include rectangle(100%);

    position: relative;
    z-index: 1;
  }

  &__download {
    position: absolute;
    z-index: 2;
    bottom: rem(40px);
    right: rem(40px);
    @media #{media("<")} {
      bottom: rem(16px);
      right: rem(16px);
    }
  }

  &__title {
    @include font-fsl("title-2", 18px, 120%);
    @media #{media("<")} {
      @include font-fsl("title-2", 12px, 120%);
      
      margin-top: rem(8px);
    }
    margin-top: rem(24px);
  }

  &__size {
    @include font-fsl("content-3", 16px, 130%);
    @media #{media("<")} {
      @include font-fsl("content-3", 12px, 130%);
      
      margin-top: 0;
    }
    margin-top: rem(4px);

    color: color(gray-dark);
  }
}

.slider-panel {
  display: grid;
  grid-template-columns: calc(#{columns(5)}) calc(#{columns(7)});
  column-gap: $column-gap;
  @media #{media("<")} {
    display: block;
  }

  &__col {
    &:nth-child(2) {
      display: flex;
      justify-content: space-between;
      @media #{media("<")} {
        display: none;
      }
    }
  }

  &__sub-col {
    &:nth-child(2) {
      margin-left: $column-gap;
    }
  }
}

.section-margin {
  margin-top: rem(180px);
  @media #{media("<")} {
    margin-top: rem(48px);
  }
}

.mid-section-margin {
  margin-top: rem(100px);
  @media #{media("<")} {
    margin-top: rem(20px);
  }
}

.sub-section-margin {
  margin-top: rem(180px);
}

.small-margin {
  margin-top: rem(32px);
}

.examples-slider {
  $component: &;

  position: relative;
  z-index: 0;
  @media #{media("<")} {
    margin-left: rem(20px);
    margin-bottom: rem(20px);
  }

  border-top: 1px solid color(gray);
  border-bottom: 1px solid color(gray);
  @media #{media("<")} {
    border-top: none;
    border-bottom: none;
  }

  &::before {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;

    content: "";
    width: 1px;

    background-color: color(white);
  }

  &__slide {
    position: relative;
    z-index: 0;

    padding: rem(40px);
    height: auto;
    min-height: rem(632px);
    @media #{media("<")} {
      padding: 0;
      min-height: auto;
      width: auto;

      border-right: 0;
    }
    border-right: 1px solid color(gray);

    &:hover {
      #{$component} {
        &__picture {
          transform: scale(1.3);
        }

        &__label {
          background-color: color(yellow);

          path,
          line {
            stroke: color(black);
          }
        }
      }
    }
  }

  &__row {
    min-height: 100%;
    display: grid;
    grid-template-columns: calc(#{columns(3)}) auto;
    column-gap: $column-gap;
    @media #{media("<")} {
      display: flex;
      column-gap: 16px;
    }
  }

  &__image {
    overflow: hidden;
    @media #{media("<")} {
      width: rem(120px);
      border-radius: 0 rem(4px) rem(4px) 0;
    }
    border-radius: 0 rem(16px) rem(16px) 0;
  }

  &__picture {
    height: 100%;
    min-height: rem(552px);
    @media #{media("<")} {
      min-height: rem(134px);
    }
  }

  &__content {
    &-item {
      &:not(:first-child) {
        margin-top: rem(40px);
        @media #{media("<")} {
          margin-top: rem(12px);
        }
      }
    }

    &-mobile {
      display: none;
      @media #{media("<")} {
        display: block;
      }
    }
  }

  &__title {
    @include font-fsl("title-3", 54px, 100%);
    @media #{media("<")} {
      @include fsl(24px);
    }
  }

  &__label {
    position: absolute;
    z-index: 1;
    bottom: rem(40px);
    right: rem(40px);
  }

  &__table {
    &-row {
      display: flex;
      @media #{media("<")} {
        display: block;
      }
    }

    &-col {
      flex-shrink: 0;
      width: calc(#{$column} + #{$column-gap});
      @media #{media("<")} {
        width: auto;
      }

      &:nth-child(2) {
        @media #{media("<")} {
          margin-top: rem(12px);
        }
      }
    }

    &-title {
      margin-bottom: rem(9px);

      @include font-fsl("content-1", 14px, 130%);
      @media #{media("<")} {
        @include fsl(10px);
      }
    }

    &-value {
      @include font-fsl("title-2", 16px, 100%);
      @media #{media("<")} {
        @include fsl(10px);
      }
    }
  }

  &__feature {
    display: grid;
    grid-template-columns: rem(60px) auto;
    column-gap: rem(12px);
    @media #{media("<")} {
      display: none;
    }

    &-svg {
      @include rectangle(rem(60px));
    }

    &-content {
    }

    &-title {
      @include font-fsl("title-2", 13px, 100%);
    }

    &-value {
      margin-top: rem(8px);
    }

    &-list {
    }
  }
}

.tag {
  display: flex;

  &__tag {
    @include font-fsl("content-1", 12px, 130%);

    padding: 0 rem(12px);
    height: rem(30px);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: color(gray-light);
    cursor: pointer;
  }
}

.form-section {
  padding: rem(180px) calc(#{$column-padding} + #{$column} + #{$column-gap});
  @media #{media("<")} {
    padding: rem(20px) rem(20px) rem(48px);
  }

  background-color: color(gray-light);

  &__content {
    position: relative;
    z-index: 0;

    &::before,
    &::after {
      @include rectangle(rem(20px));

      position: absolute;
      z-index: -1;
      top: 0;

      content: "";
      pointer-events: none;
      user-select: none;

      border: 2px solid color(black);
      border-bottom: none;
      border-right: none;
      border-radius: rem(10px) 0 0 0;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
      transform: rotate(90deg);
    }

    &-item {
      &:not(:first-child) {
        margin-top: rem(80px);
        @media #{media("<")} {
          margin-top: rem(32px);
        }
      }
    }
  }

  &__title {
    max-width: calc(#{columns(5)});
    @media #{media("<")} {
      max-width: none;
      text-align: center;
    }

    &-container {
      padding-left: calc(#{columns(2)} + #{$column-gap});
      @media #{media("<")} {
        padding-left: 0;
        padding-top: rem(28px);
      }
    }
  }

  &__article-container {
    padding-left: calc(#{$column} + #{$column-gap});
    @media #{media("<")} {
      padding-left: 0;
    }
  }
}

.section-form {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: $column-gap;
    row-gap: $column-gap;
    @media #{media("<")} {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: rem(12px);
    }
  }

  &__item {
    &--row {
      grid-column: 1 / span 2;
      @media #{media("<")} {
        grid-column: auto;
      }
    }

    &--right {
      grid-column-start: 2;
      @media #{media("<")} {
        grid-column-start: auto;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{media("<")} {
      display: block;
    }
  }

  &__agreement {
  }

  &__submit {
    margin-left: $column-gap;
    @media #{media("<")} {
      margin-left: 0;
      margin-top: rem(12px);
    }
  }
}

.form-field {
  $component: &;

  &--textarea {
    #{$component} {
      &__input {
        padding-top: rem(19px);
        padding-bottom: rem(19px);
        height: rem(120px);
      }
    }
  }

  // &--error {
  //   #{$component} {
  //     &__error, .parsley-errors-list {
  //       display: block;
  //     }
  //   }
  // }

  &__input {
    @include font-fsl("content-1", 16px, 130%);

    @include placeholder {
      color: color(gray-dark);
    }

    padding: 0 rem(24px);
    width: 100%;
    height: rem(60px);

    background: color(white);
    border: 1px solid color(gray);
    border-radius: rem(12px);
    color: color(black);

    &:hover,
    &:focus {
      border-color: color(blue);
    }
  }

  &__error, .parsley-errors-list {
    @include font-fsl("content-1", 12px, 130%);

    margin-top: rem(8px);
    // display: none;

    color: color(red);
  }
}

.simple-checkbox {
  $component: &;

  display: flex;
  flex-direction: column;

  // &--error {
  //   #{$component} {
  //     &__error, .parsley-errors-list {
  //       display: block;
  //     }
  //   }
  // }

  &__label {
    position: relative;
    z-index: 0;

    display: grid;
    grid-template-columns: rem(24px) auto;
    column-gap: rem(12px);

    cursor: pointer;

    &:hover {
      #{$component} {
        &__box {
          border-color: color(blue);
        }
      }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    opacity: 0;

    &:focus {
      & ~ {
        #{$component} {
          &__box {
            border-color: color(blue);
          }
        }
      }
    }

    &:checked {
      & ~ {
        #{$component} {
          &__box {
            border-color: color(blue);
            background-color: color(blue);

            #{$component} {
              &__svg {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  &__box {
    @include rectangle(rem(24px));

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: color(white);
    border: 1px solid color(gray);
    border-radius: rem(4px);
  }

  &__svg {
    opacity: 0;
  }

  &__content {
    @include font-fsl("content-1", 12px, 160%);
  }

  &__link {
    color: color(blue);
  }

  &__error, .parsley-errors-list {
    @include font-fsl("content-1", 12px, 130%);

    margin-top: rem(8px);
    // display: none;
    grid-column: 1 / span 2;

    color: color(red);
  }
}

.funds {
  &__block {
    margin: 0 auto;
    width: calc(#{columns(6)});
    @media #{media("<")} {
      margin: 0;
      width: auto;
    }
  }

  &__list {
    margin-top: rem(60px);
    @media #{media("<")} {
      margin-top: rem(24px);
    }
  }
}

.funds-list {
  display: grid;
  grid-template-columns: repeat(3, calc(#{rem(190px)}));
  column-gap: rem(60px);
  @media #{media("<")} {
    grid-template-columns: 1fr;
    gap: rem(12px);
  }

  &--large {
    grid-template-columns: repeat(2, calc(#{columns(3)}));
    column-gap: $column-gap;
    @media #{media("<")} {
      grid-template-columns: 1fr;
      gap: rem(12px);
    }
  }

  &__item {
    @media #{media("<")} {
      display: flex;
      align-items: center;
    }
  }

  &__img {
    @include rectangle(rem(44px));
    @media #{media("<")} {
      @include rectangle(rem(36px));
    }
  }

  &__text {
    @include font-fsl("content-1", 16px, 130%);
    @media #{media("<")} {
      @include font-fsl("content-1", 12px, 130%);

      margin-top: 0;
      margin-left: rem(16px);
    }
    margin-top: rem(16px);
  }
}

.list {
  $component: &;

  &--red {
    #{$component} {
      &__text {
        color: color(red);
      }
    }
  }

  &__item {
    position: relative;
    z-index: 0;

    padding-left: rem(72px);
    @media #{media("<")} {
      padding-left: rem(29px);
    }

    &:not(:first-child) {
      margin-top: rem(16px);
      @media #{media("<")} {
        margin-top: rem(10px);
      }
    }
  }

  &__svg {
    @include rectangle(rem(24px));
    @media #{media("<")} {
      @include rectangle(rem(18px));

      top: 0;
    }
    position: absolute;
    top: rem(5px);
    left: 0;
  }

  &__text {
    @include font-fsl("content-1", 20px, 160%);
    @media #{media("<")} {
      @include fsl(12px);
    }
  }
}

.peculiarity {
  display: grid;
  grid-template-columns: repeat(12, calc(#{$column}));
  column-gap: $column-gap;
  align-items: center;
  @media #{media("<")} {
    display: block;
  }

  &__place {
    &:nth-child(1) {
      @include grid-area(2, 1, 3, 1);
      @media #{media("<")} {
        height: auto;
      }
      height: rem(520px);
    }

    &:nth-child(2) {
      @include grid-area(7, 1, 6, 1);
      @media #{media("<")} {
        padding: 0;
        margin-top: rem(16px);
      }
      padding: rem(35px) 0;
    }
  }

  &__img {
    @include rectangle(100%);
    @media #{media("<")} {
      margin: rem(16px) auto 0;
      width: 50%;
      display: block;
    }
    object-fit: contain;
  }
}

.page404 {
  &-img {
    @include rectangle(rem(205px));

    margin: 0 auto;
    display: block;

    @media #{media("<")} {
      @include rectangle(rem(73px));
    }
  }
}

.slider-btn {
  display: none;
  @media #{media("<")} {
    margin: rem(24px) 0 rem(48px);
    display: block;
  }
}

.mobile-only {
  display: none;
  @media #{media("<")} {
    display: block;
  }
}

.desktop-only {
  @media #{media("<")} {
    display: none;
  }
}

.slider-mobile {
  .swiper-slide {
    width: auto;
    padding-right: rem(16px);
  }
}