// https://developer.mozilla.org/ru/docs/Web/CSS/@font-face

@font-face {
  font-family: "ALSGorizont";
  src: url("../assets/fonts/ALSGorizont.woff");
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("../assets/fonts/Manrope-Medium.woff");
}

@font-face {
  font-family: "Manrope";
  font-weight: 600;
  src: url("../assets/fonts/Manrope-SemiBold.woff");
}
