doctype html

include ./defs
block defs
include ./svg
include ./components/index

html.html.no-transition(lang="ru")
  head
    meta(charset="utf-8")
    title= app.title
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.body
    block header
      +header
    .wrapper
      block content
        |content
      block footer
        +footer
    block preloader
      +preloader
    block grid-test
      +grid-test
