doctype html

- var options = {}
block options

include ./svg/index
include ./ui/index

html.html(lang='ru')
  head
    meta(charset='utf-8')
    title= options.title || data.title
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body.body
    .wrapper
      block header
        |header
      block content
      block footer
        |footer
