include ./components/btn
include ./components/drop
include ./components/grid-test
include ./components/header
include ./components/footer
include ./components/picture
include ./components/preloader
include ./components/top
include ./components/slider
include ./components/tab
include ./components/series
include ./components/test
include ./components/press

mixin first
  .first
    img.first__bg(src='assets/images/work-with-us.jpeg')
    .first__layout
      block

mixin breadcrumb(props = {})
  .breadcrumb-wrapper
    if (props.isLink)
      a.breadcrumb(class=(props.isActive && 'breadcrumb--active') href="#")
        block
    else
      .breadcrumb(class=(props.isActive && 'breadcrumb--active'))
        block

mixin breadcrumbs(items)
  .breadcrumbs
    each item, index in items
      .breadcrumbs__item
        +breadcrumb({ isActive: checkLastIndex(index, items), isLink: !checkLastIndex(index, items) })= item

mixin second
  .second
    .container
      .second__grid
        .second__bg
        .second__image
          img.second__img(src='assets/images/second.jpeg')
        .second__top
          .second__content
            .second__content-text
              span.second__content-highlight
                |Работайте и&nbsp;достигайте успеха 
              |вместе с&nbsp;Респира-торным комплексом
        .second__bottom
          .second__text
            |Верим, что достижения компании неразрывно связаны с&nbsp;работой людей. Людей, которые разделяют наши ценности и&nbsp;своей инициативой и&nbsp;ответственным трудом двигают компанию вперед

mixin email(email)
  .email
    a.email__link(href=`mailto:${email}`)= email

mixin why
  mixin controls
    .controls
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--arrow-left
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
          
  mixin list
    -
      var items = [
        'Мы эксперты в области средств индивидуальной защиты органов дыхания',
        'Разрабатываем и производим продукцию, которая много лет неизменно держит высокую планку качества и заслужила доверие потребителей',
        'Работой в Респираторном комплексе можно гордиться, ведь предприятие создает важный продукт и делает это хорошо',
      ]

    ul.why__list
      each item in items
        li.why__list-item
          +li-svg.why__list-svg
          .why__list-text= item

  mixin progress
    .why__progress
      .why__progress-cur
        .why__progress-text.why__progress-text--fake
          |2
        .why__progress-text
          |1
      .why__progress-all
        |/3

  .why
    .why__layout
      .container.why__container
        .why__image
          img.why__img(src='assets/images/why.jpeg')
    .why__layout
      .container.why__container
        .why__top-bottom
          .why__top-bottom-item
            .why__border
              h2.why__title
                |Почему стоит выбрать Респираторный комплекс
            .why__panel
              .why__panel-item
                +controls
              .why__panel-item
                h3.why__sub-title
                  |профессионализм
          .why__top-bottom-item
            .why__bottom
              .why__bottom-item
                .why__list-wrapper
                  +list
              .why__bottom-item
                +progress