include ./components/btn
include ./components/drop
include ./components/grid-test
include ./components/header
include ./components/footer
include ./components/picture
include ./components/preloader
include ./components/top
include ./components/slider
include ./components/tab
include ./components/series
include ./components/test
include ./components/press
