-
  var data = {
    title: 'respiratory-html',

    imagesDir: "assets/images/",

    routes: [
      {
        "title": "Главная",
        "path": "https://cloudmill.github.io/respiratory-html-old/dist/main"
      },
      {
        "title": "Каталог",
        "path": "https://cloudmill.github.io/respiratory-html-old/dist/catalog"
      },
      {
        "title": "Карточка товара",
        "path": "https://cloudmill.github.io/respiratory-html-old/dist/product"
      },
      {
        "title": "Оформление заказа",
        "path": "https://cloudmill.github.io/respiratory-html-old/dist/order"
      },
      {
        "title": "О компании",
        "path": "https://cloudmill.github.io/respiratory-html-old/dist/about"
      },
      {
        "title": "Потребителям",
        "path": "consumers"
      },
      {
        "title": "Примеры",
        "path": "examples"
      },
      {
        "title": "Тестовая",
        "path": "test"
      },
    ],
  }

  var repeat = function (count) {
    return new Array(count);
  };

  var file = {
    getTitle(filename) {
      var segments = filename.split('.');
      segments.pop();
      var title = segments.join('.');

      return title;
    },

    getExtension(filename) {
      var segments = filename.split('.');
      var extension = segments.pop();

      return extension;
    },

    getPath(title, extension) {
      var path = data.imagesDir + title + "." + extension;

      return path;
    },
  };
