-
  var app = {
    title: 'Навигация',

    imagesDir: "assets/images/",

    routes: [
      {
        title: "Главная",
        path: "main"
      },
      {
        title: "Каталог",
        path: "catalog"
      },
      {
        title: "Карточка товара",
        path: "card",
      },
      {
        title: "Оформление заказа",
        path: "order"
      },
      {
        title: "О компании",
        path: "about",
      },
      {
        title: "Работа у нас",
        path: "work"
      },
      {
        title: "Промышленным предприятиям",
        path: "industrial"
      },
      {
        title: "Торговым организациям",
        path: "trade"
      },
      {
        title: "Медицинским учреждениям",
        path: "medical"
      },
      {
        title: 'Потребителям',
        path: 'consumers',
      },
      {
        title: "Результататы поиска",
        path: "search",
      },
      {
        title: "Результататы поиска (нет результатов)",
        path: "search-empty",
      },
      {
        title: "Документация",
        path: "documentation",
      },
      {
        title: "Медиацентр",
        path: "media-center",
      },
      {
        title: "Медиацентр (детальная)",
        path: "media-center-detail",
      },
      {
        title: "Контроль качества",
        path: "quality",
      },
      {
        title: "Где купить",
        path: "where-buy",
      },
      {
        title: "Контакты",
        path: "contacts",
      },
      {
        title: "404",
        path: "page404",
      },
      {
        title: "Тест",
        path: "test"
      },
    ],
  }

  var repeat = function (count) {
    return new Array(count);
  };

  var File = {
    getTitle(filename) {
      var segments = filename.split('.');
      segments.pop();
      var title = segments.join('.');

      return title;
    },

    getExtension(filename) {
      var segments = filename.split('.');
      var extension = segments.pop();

      return extension;
    },

    getPath(title, extension) {
      var path = app.imagesDir + title + "." + extension;

      return path;
    },

    getPathFromFilename(filename) {
      var path = app.imagesDir + filename;

      return path;
    }
  };

  var getImageSrc = (filename) => `${app.imagesDir}${filename}`;

  //- index number
  //- arr []
  //- return boolean
  var checkLastIndex = (index, arr) => index === (arr.length - 1);

  //- className string
  //- mods? []
  //- return []
  var getClassesFromMods = (className, mods) => mods && mods.filter(mod => mod).map(mod => `${className}--${mod}`) || [];
