-
  var app = {
    title: 'Навигация',

    imagesDir: "assets/images/",

    routes: [
      {
        "title": "Главная",
        "path": "https://cloudmill.github.io/respiratory-html-old/dist/main"
      },
      {
        "title": "Каталог",
        "path": "https://cloudmill.github.io/respiratory-html-old/dist/catalog"
      },
      {
        "title": "Карточка товара",
        "path": "https://cloudmill.github.io/respiratory-html-old/dist/product"
      },
      {
        "title": "Оформление заказа",
        "path": "https://cloudmill.github.io/respiratory-html-old/dist/order"
      },
      {
        "title": "О компании",
        "path": "https://cloudmill.github.io/respiratory-html-old/dist/about"
      },
      {
        "title": "Тестовая",
        "path": "test"
      },
    ],
  }

  var repeat = function (count) {
    return new Array(count);
  };

  var File = {
    getTitle(filename) {
      var segments = filename.split('.');
      segments.pop();
      var title = segments.join('.');

      return title;
    },

    getExtension(filename) {
      var segments = filename.split('.');
      var extension = segments.pop();

      return extension;
    },

    getPath(title, extension) {
      var path = app.imagesDir + title + "." + extension;

      return path;
    },

    getPathFromFilename(filename) {
      var path = app.imagesDir + filename;

      return path;
    }
  };
