-
  var app = {
    title: 'Навигация',

    imagesDir: "assets/images/",

    routes: [
      {
        title: 'Потребителям',
        path: 'consumers',
      },
      {
        title: "Медицинским учреждениям",
        path: "medical-institutions"
      },
      {
        title: "Торговым организациям",
        path: "trade-organizations"
      },
      {
        title: "Промышленным предприятиям",
        path: "industrial-enterprises"
      },
      {
        title: "Работа у нас",
        path: "work-with-us"
      },
      {
        title: "Главная",
        path: "main"
      },
      {
        title: "Каталог",
        path: "https://cloudmill.github.io/respiratory-html-old/dist/catalog"
      },
      {
        title: "Карточка товара",
        path: "https://cloudmill.github.io/respiratory-html-old/dist/product"
      },
      {
        title: "Оформление заказа",
        path: "https://cloudmill.github.io/respiratory-html-old/dist/order"
      },
      {
        title: "О компании",
        path: "https://cloudmill.github.io/respiratory-html-old/dist/about"
      },
    ],
  }

  var repeat = function (count) {
    return new Array(count);
  };

  var File = {
    getTitle(filename) {
      var segments = filename.split('.');
      segments.pop();
      var title = segments.join('.');

      return title;
    },

    getExtension(filename) {
      var segments = filename.split('.');
      var extension = segments.pop();

      return extension;
    },

    getPath(title, extension) {
      var path = app.imagesDir + title + "." + extension;

      return path;
    },

    getPathFromFilename(filename) {
      var path = app.imagesDir + filename;

      return path;
    }
  };

  var checkLastIndex = (index, arr) => index === arr.length - 1;

  var getClassesFromMods = (className, mods) => mods && mods.filter(mod => mod).map(mod => `${className}--${mod}`);
