-
  var repeat = function (count) {
    return new Array(count);
  };

  var file = {
    dir: "assets/images/",

    getTitle(filename) {
      var segments = filename.split('.');
      segments.pop();
      var title = segments.join('.');

      return title;
    },

    getExtension(filename) {
      var segments = filename.split('.');
      var extension = segments.pop();

      return extension;
    },

    getPath(title, extension) {
      var path = file.dir + title + "." + extension;

      return path;
    },
  };
