mixin card-value(props = {}, mods = [])
  .card-value(class=getClassesFromMods('card-value', mods))&attributes(attributes)
    img.card-value__img(src=props.src)
    +heading(['card-value-title'], 3)
      |!{props.title}
    +space([9])
    +text(['card-value-text'])
      |!{props.text}