mixin cooperation(props = {})
  a.cooperation(href='#')
    .cooperation__image
      img.cooperation__img(src=props.data.src alt='')
      .cooperation__mark
        +arrow-tilt-svg.cooperation__svg
    .cooperation__title
      +heading([...props.data.titleMods, 'cooperation', 'pre-line'], 3)
        |!{props.data.title}