mixin drop(items)
  .drop(data-drop)&attributes(attributes)
    .drop__wrap
      .drop__btn(data-drop-btn)
        .drop__cur
          block
        +arrow-drop-svg.drop__svg
      nav.drop__nav
        ul.drop__list
          each item, index in items
            li.drop__item
              a.drop__link(href=`#drop-${index}`)= item
