mixin filters
  .filters
    .filters__content
      .filters__scrollbar
        .filters__scrollbar-thumb
      .filters__window
        |123
      //- .filters__window
        .filters__window-content
          each i in repeat(25)
            div
              |Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem amet adipisci consectetur doloribus commodi impedit beatae totam vel non eius consequatur perspiciatis, voluptates, similique, molestias in sed est recusandae cum?
        //- .filters__fake
          |fake
    .filters__panel
      .filters__panel-col
        +press.press--info.press--full
          |сбросить
      .filters__panel-col
        +press.press--info.press--full
          |применить