mixin filters
  .filters(data-filters)
    .filters__content
      .filters__scrollbar(data-filters-scrollbar)
        .filters__scrollbar-thumb(data-filters-thumb)
      .filters__window(data-filters-window)
        .filters__window-content(data-filters-content)
          .filters__fake
            |123
    .filters__panel
      .filters__panel-col
        +press.press--info.press--full
          |сбросить
      .filters__panel-col
        +press.press--info.press--full
          |применить