.form-response-modal
  +form-resp-svg
  .form-response-modal__ttl Отправлено

  .form-response-modal__txt.only-desktop Спасибо, мы с вами свяжемся в ближайшее время
  .form-response-modal__txt.only-mobile Спасибо, мы с вами свяжемся #[br] в ближайшее время

  +press.press--white.modal-close
    |закрыть
