mixin fslider
  - var count = 5;
  
  .fslider(data-fslider data-fslider-count=count)
    .fslider__layout
      .swiper(data-fslider-swiper)
        .swiper-wrapper
          each i in repeat(count)
            .swiper-slide
              img(alt="" src='assets/images/fslider.jpeg' alt='' data-swiper-parallax='28%')
    .fslider__panel
      +grid(['space-between', 'space-between--alt'])
        .grid__item
          +grid(['controls'])
            .grid__item
              .circle
                button.circle__button(type="button" data-fslider-prev)
                  +arrow-left-svg.circle__svg.circle__svg--arrow-left
            .grid__item
              .circle
                button.circle__button(type="button" data-fslider-next)
                  +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
        .grid__item
          .progress.progress--dark.progress--fslider
            .progress__cur.fslider__fade-container
              each i, index in repeat(count)
                .progress__text.progress__text--fake
                  |#{index + 1}
              .progress__text.fslider__fade(data-fslider-cur data-fslider-fade)
                |1
            .progress__all
              |/#{count}