mixin header
  header.header
    .header__row.header__top
      .container
        .header__grid
          .header__place.header__left
            .header__left-item
              |123
            .header__left-item
              |123
          .header__place
            |123
          .header__place
            |123
    .header__row
      .container
        .header__grid
          .header__place.header__left
            .header__left-item
              |123
          .header__place
            |123
          .header__place
            |123
