mixin header
  header.header
    .header__row.header__top
      .container
        .header__grid
          each i in [1, 2, 3]
            .header__place= i
    .header__row
      .container
        .header__grid
          each i in [1, 2, 3]
            .header__place= i
