mixin position-mobile
  a.position-mobile(href='#')
    .position-mobile__top
      .position-mobile__left
        .position-mobile__frame
          img.position-mobile__img(src='assets/images/unit/unit.jpeg')
      .position-mobile__right
    .position-mobile__bottom
      |123