mixin position
  a.position(href='#')
    .position__col.position__image
      img.position__img(src='assets/images/unit/unit.jpeg')
    .position__col
      +heading(['position'], 2).position__title
        |RK 9010
      +stack(['position']).position__content
        .stack__item
          |123
        .stack__item
          |123
