mixin press
  .press&attributes(attributes)
    a.press__btn(href="#")
      .press__content
        .press__content-item.press__content-item--start
          .press__text.press__text--start
            block
        .press__content-item.press__content-item--end
          .press__text.press__text--end
            block
      .press__bg
        .press__bg-item.press__bg-item--start
        .press__bg-item.press__bg-item--end
      .press__decor
        .press__decor-item.press__decor-item--start
          .press__decor-arrow
          .press__decor-arrow
        .press__decor-item.press__decor-item--end
          .press__decor-arrow
          .press__decor-arrow
