//- 
  сценарии
    смена серии

  данные
    серия
    кнопки
    контент
    фотографии

mixin products
  .container
    .border
      .products
        .products__place.products__place--title
          h2.sub-title
            |продукция
        .products__place.products__place--tabs
          ul.products__tabs
            -
              var tabs = [
                'RK 9000',
                'RK 6000',
                'АЛИНА®',
                'ЮЛИЯ®',
                'НЕВА®',
                'GAGARA®',
              ];
            each tab, index in tabs
              .products__tabs-item
                +tab(class=(index === 0 && 'tab--active'))
                  |#{tab}
        .products__place.products__place--main
          .products__main
            .products__contents
              +breadcrumbs(['qwe', 'ewq', 'wow'])
            .products__watch
              |watch
        .products__place.products__place--photo--main
          .products__photo.products__photo--large
            |123
        .products__place.products__place--photo--1
          .products__photo.products__photo--small
            |123
        .products__place.products__place--photo--2
          .products__photo.products__photo--small
            |123
        .products__place.products__place--photo--3
          .products__photo.products__photo--small
            |123
