//- 
  сценарии
    смена серии

  данные
    серия
    кнопки
    контент
    фотографии

mixin products
  -
    var slides = [
      {
        tab: 'RK 9000',
      },
      {
        tab: 'RK 6000',
      },
      {
        tab: 'АЛИНА®',
      },
      {
        tab: 'ЮЛИЯ®',
      },
      {
        tab: 'НЕВА®',
      },
      {
        tab: 'GAGARA®',
      },
    ]
  .container.js-products
    .border
      .products
        .products__place.products__place--title
          h2.sub-title
            |продукция
        .products__place.products__place--tabs
          ul.products__tabs
            each slide in slides
              .products__tabs-item
                +tab({ buttonClasses: ['js-products-tab-button'] }).js-products-tab
                  |#{slide.tab}
        .products__place.products__place--main
          each slide, index in slides
            .products__main.js-products-content
              .products__contents
                |contents #{index}
              .products__watch
                |watch
        .products__place.products__place--photo--main
          .products__photo.products__photo--large
            |123
        .products__place.products__place--photo--1
          .products__photo.products__photo--small
            |123
        .products__place.products__place--photo--2
          .products__photo.products__photo--small
            |123
        .products__place.products__place--photo--3
          .products__photo.products__photo--small
            |123
