mixin unit-feature
  .unit-feature
    img.unit-feature__img(alt="" src='assets/images/card/label-1.svg')
    +heading(['unit-feature-mobile'])
      |Защита от всех видов аэрозолей
    .unit-feature__list
      +wrap-list
        li.wrap-list__item
          +static-tab(['unit-feature'])
            |Пыль
        li.wrap-list__item
          +static-tab(['unit-feature'])
            |Дым
        li.wrap-list__item
          +static-tab(['unit-feature'])
            |Туман

mixin side-modal(props = {})
  .side-modal(data-side-modal=props.id class=getClassesFromMods('side-modal', props.mods))
    .side-modal__overlay(data-side-modal-overlay)
    .side-modal__content

      button.side-modal__close(data-side-modal-close)
        +close-cross-svg

      case props.id
        when 'case-1'
          +container(['side-modal'])
            +space(['padding'], ['pt'])
            +hr
            +space(['hr'])
            +heading(['sub'], 2)
              |Кейс
            +space(['sub-block'])
            +wrap-list
              -
                var items = [
                  'Поставка продукции',
                  'Обучение службы охраны труда',
                  'Обучение персонала',
                ];
              each item in items
                li.wrap-list__item
                  +tab(['small'], true)
                    |#{item}
            +space(['block'])
            +container(['case'])
              +heading(['case'], 3)
                |АО&nbsp;&laquo;Оскольский электрометаллургический комбинат&raquo;
              +space(['sub-block'])
              +text(['case', 'pre-line'])
                |Уже более 15&nbsp;лет для компании их&nbsp;поставляет предприятие &laquo;Респираторный комплекс&raquo;. Качество товара проверено временем и&nbsp;промышленными испытаниями в&nbsp;коллективах Лебединского, Михайловского ГОКов, ОЭМК и&nbsp;Уральской Стали. Прежде всего, сотрудники отмечают удобство конструкции респираторов и&nbsp;возможность надёжно зафиксировать их&nbsp;регулируемыми лентами.
                br
                br
                |Респираторы в&nbsp;основном, противоаэрозольные для защиты от&nbsp;кремния диоксида кристаллического, и&nbsp;также респираторы противоаэрозольные с&nbsp;дополнительной защитой.
                br
                br
                |Это может быть дополнительная защита от&nbsp;органических и&nbsp;кислых газов или дополнительная защита от&nbsp;сварочных аэрозолей.
                br
                br
                |Уже более 15&nbsp;лет для компании их&nbsp;поставляет предприятие &laquo;Респираторный комплекс&raquo;. Качество товара проверено временем и&nbsp;промышленными испытаниями в&nbsp;коллективах Лебединского, Михайловского ГОКов, ОЭМК и&nbsp;Уральской Стали. Прежде всего, сотрудники отмечают удобство конструкции респираторов и&nbsp;возможность надёжно зафиксировать их&nbsp;регулируемыми лентами.
                br
                br
                |Респираторы в&nbsp;основном, противоаэрозольные для защиты от&nbsp;кремния диоксида кристаллического, и&nbsp;также респираторы противоаэрозольные с&nbsp;дополнительной защитой.
                br
                br
                |Это может быть дополнительная защита от&nbsp;органических и&nbsp;кислых газов или дополнительная защита от&nbsp;сварочных аэрозолей.
            +space(['block'])
        when 'case-2'
          |case-2
        when 'case-3'
          |case-3
        when 'case-4'
          |case-4
        when 'case-5'
          |case-5
        when 'case-6'
          |case-6
        
        when 'unit-1'
          +space(['gap'], ['pt'])
          +container(['unit-modal'])
            +hr
            +space([12])
            +stack(['small'])
              .stack__item
                +unit-feature
              .stack__item
                +unit-feature
        when 'unit-2'
          +space(['gap'], ['pt'])
          +container(['unit-modal'])
            +hr
            +space([12])
            +stack(['small'])
              .stack__item
                +unit-feature
              .stack__item
                +unit-feature
        when 'unit-3'
          +space(['gap'], ['pt'])
          +container(['unit-modal'])
            +hr
            +space([12])
            +stack(['small'])
              .stack__item
                +unit-feature
              .stack__item
                +unit-feature

        when 'medical'
          +medical-modal

        when 'filters'
          +filters
