mixin slider
  .container
    .border
      .slider-panel
        .slider-panel__place
          h2.sub-title
            |Медиа-центр
        .slider-panel__place.slider-panel__place--slider
          |slider
        .slider-panel__place.slider-panel__place--bottom
          .controls.slider-panel__controls
            .controls__item
              .circle
                button.circle__button(type="button")
                  +arrow-left-svg.circle__svg.circle__svg--arrow-left
            .controls__item
              .circle
                button.circle__button(type="button")
                  +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
          .slider-panel__button
            |button
