mixin top
  .top.top--zoom--out(data-top)
    .top__layout.top__layout--root
      .swiper(data-top-swiper)
        .swiper-wrapper
          .swiper-slide(data-top-slide)
            .top__layout.top__mask
              .top__layout.top__parallax(data-top-parallax)
                .top__layout(data-swiper-parallax="28%")
                  .top__layout.top__zoom
                    +picture('top.jpeg').picture--cover
            .top__layout
              .top__top
                .mask-text(data-top-mask)
                  each word, index in ("Российский производитель фильтрующих респираторов").split(" ")
                    .mask-text__mask
                      .mask-text__word
                        .mask-text__text.mask-text__text--title
                          |!{word + '&nbsp;'}
              .top__bottom
                ul.top__list
                  li.top__item
                    +li-svg.top__svg.fade(data-top-fade)
                    .mask-text(data-top-mask)
                      .mask-text__mask
                        .mask-text__word
                          .mask-text__text.mask-text__text--large
                            |25
                          .mask-text__text.mask-text__text--top
                            |лет
                    .top__text.fade(data-top-fade)
                      |производим респираторы
                  li.top__item
                    +li-svg.top__svg.fade(data-top-fade)
                    .mask-text(data-top-mask)
                      .mask-text__mask
                        .mask-text__word
                          .mask-text__text.mask-text__text--large
                            |35%
                    .top__text.fade(data-top-fade)
                      |доля в объеме производимых в&nbsp;России полумасок
          .swiper-slide(data-top-slide)
            .top__layout.top__mask
              .top__layout.top__parallax(data-top-parallax)
                .top__layout(data-swiper-parallax="28%")
                  .top__layout.top__zoom
                    +picture('top-2.jpeg').picture--cover
            .top__layout
              .top__top
                .mask-text(data-top-mask)
                  each word, index in ("Производим 50 млн. респираторов в год").split(" ")
                    .mask-text__mask
                      .mask-text__word
                        .mask-text__text.mask-text__text--title
                          |!{word + '&nbsp;'}
              .top__bottom
                ul.top__list
                  li.top__item
                    +li-svg.top__svg.fade(data-top-fade)
                    .mask-text(data-top-mask)
                      .mask-text__mask
                        .mask-text__word
                          .mask-text__text.mask-text__text--large
                            |80
                    .top__text.fade(data-top-fade)
                      |моделей полумасок
                  li.top__item
                    +li-svg.top__svg.fade(data-top-fade)
                    .mask-text(data-top-mask)
                      .mask-text__mask
                        .mask-text__word
                          .mask-text__text.mask-text__text--large
                            |7 000 м²
                    .top__text.fade(data-top-fade)
                      |производство, склад и&nbsp;испытательные лаборатории
          .swiper-slide(data-top-slide)
            .top__layout.top__mask
              .top__layout.top__parallax(data-top-parallax)
                .top__layout(data-swiper-parallax="28%")
                  .top__layout.top__zoom
                    +picture('top-3.jpeg').picture--cover
            .top__layout
              .top__top.top__top--alt
                .mask-text(data-top-mask)
                  each word, index in ("Предоставляем клиентский сервис и проводим обучение партнеров").split(" ")
                    .mask-text__mask
                      .mask-text__word
                        .mask-text__text.mask-text__text--title
                          |!{word + '&nbsp;'}
              .top__bottom
                ul.top__list
                  li.top__item
                    +li-svg.top__svg.fade(data-top-fade)
                    .mask-text(data-top-mask)
                      .mask-text__mask
                        .mask-text__word
                          .mask-text__text.mask-text__text--large
                            |20
                    .top__text.fade(data-top-fade)
                      |проектов по оценке эффективности СИЗОД
                  li.top__item
                    +li-svg.top__svg.fade(data-top-fade)
                    .mask-text(data-top-mask)
                      .mask-text__mask
                        .mask-text__word
                          .mask-text__text.mask-text__text--large
                            |450
                    .top__text.fade(data-top-fade)
                      |сотрудников предприятий прошли обучение
    .top__layout.top__layout--root
      .top__controls
        each item, index in ['Предприятие', 'производство', 'сервис']
          .top__control(class=(index === 0 && 'top__control--active') data-top-control)
            .top__control-text
              |#{item}
            .top__control-progress
