//- mixin top
  .top(data-top)
    .swiper(data-top-swiper)
      .swiper-wrapper
        each i in repeat(3)
          .swiper-slide
            .top__mask
              .top__parallax-y(data-top-parallax-y)
                .top__parallax-x(data-swiper-parallax="28%")
                  .top__zoom(data-top-zoom)
                    +picture("top.jpeg").picture--cover
            .top__content
              .container.container--tall.container--relative
                .top__top
                  |top
                .top__aside
                  |aside
                .top__bottom
                  |bottom

mixin top
  .top.top--zoom--out(data-top)
    .top__layout.top__layout--root
      .swiper(data-top-swiper)
        .swiper-wrapper
          each i in repeat(3)
            .swiper-slide
              .top__layout.top__mask
                .top__layout.top__parallax(data-top-parallax)
                  .top__layout(data-swiper-parallax="28%")
                    .top__layout.top__zoom
                      +picture('top.jpeg').picture--cover
    .top__layout.top__layout--root
      .top__controls
        each item, index in ['Предприятие', 'производство', 'сервис']
          .top__control(class=(index === 0 && 'top__control--active'))
            .top__control-text
              |#{item}
            .top__control-progress
